# Cleaning File
Get the basic company information here.

In [3]:
import pickle
import pandas as pd
import matplotlib
import os
import re

import collections
import datetime
import time

import geopandas as gpd

import numpy as np

from difflib import get_close_matches

from fuzzywuzzy import process
from fuzzywuzzy import fuzz

In [17]:
file = "../../data/compustat_2010s.csv"
compustat = pd.read_csv(file, encoding = 'unicode_escape')

In [487]:
compustat.head()

,year,qtr,gvkey,companyName,tic,curcdq,netIncome,totalRevenue,costGoodsSold,totalInv,sales
0,1975,1.0,1000,A & E PLASTIK PAK INC,AE.2,USD,0.190,11.295,NaN,NaN,11.295
1,1975,2.0,1000,A & E PLASTIK PAK INC,AE.2,USD,0.875,14.441,NaN,NaN,14.441
2,1975,3.0,1000,A & E PLASTIK PAK INC,AE.2,USD,0.613,13.122,NaN,NaN,13.122
3,1975,4.0,1000,A & E PLASTIK PAK INC,AE.2,USD,0.606,12.334,35.237,6.227,12.334
4,1976,1.0,1000,A & E PLASTIK PAK INC,AE.2,USD,0.726,16.226,11.138,6.369,16.226

In [2]:
file = "../../data/companyData/compustatAll.csv"
compustat = pd.read_csv(file, encoding = 'unicode_escape')

Seems like we've forgotten the naics code here.

In [3]:
compustat.columns

Index(['gvkey', 'datadate', 'fyearq', 'fqtr', 'indfmt', 'consol', 'popsrc',
       'datafmt', 'tic', 'cusip', 'conm', 'curcdq', 'curncdq', 'currtrq',
       'datacqtr', 'datafqtr', 'cogsq', 'invtq', 'niq', 'revtq', 'saleq',
       'cik', 'costat'],
      dtype='object')

In [4]:
'''compustat = compustat[(compustat.fyearq > 2009) & (compustat.fyearq < 2020)].reset_index()[['fyearq', 'fqtr', 'gvkey', 'conm', 'tic', 'naics','curcdq',
           'niq', 'revtq', 'cogsq', 'invtq']]'''

compustat = compustat[['fyearq', 'fqtr', 'gvkey', 'conm', 'tic','curcdq',
           'niq', 'revtq', 'cogsq', 'invtq','saleq']]
compustat.head()

,fyearq,fqtr,gvkey,conm,tic,curcdq,niq,revtq,cogsq,invtq,saleq
0,1975,1.0,1000,A & E PLASTIK PAK INC,AE.2,USD,0.190,11.295,NaN,NaN,11.295
1,1975,2.0,1000,A & E PLASTIK PAK INC,AE.2,USD,0.875,14.441,NaN,NaN,14.441
2,1975,3.0,1000,A & E PLASTIK PAK INC,AE.2,USD,0.613,13.122,NaN,NaN,13.122
3,1975,4.0,1000,A & E PLASTIK PAK INC,AE.2,USD,0.606,12.334,35.237,6.227,12.334
4,1976,1.0,1000,A & E PLASTIK PAK INC,AE.2,USD,0.726,16.226,11.138,6.369,16.226

In [5]:
compustat.rename(columns = {'fyearq':'year',
                            'fqtr':  'qtr',
                            'chq':   'cash', 
                            'conm':  'companyName',
                            'niq':   'netIncome',
                            'revtq': 'totalRevenue',
                            'cogsq': 'costGoodsSold',
                            'invtq': 'totalInv',
                            'saleq': 'sales'
                           },
                 inplace = True)

In [6]:
compustat.head()

,year,qtr,gvkey,companyName,tic,curcdq,netIncome,totalRevenue,costGoodsSold,totalInv,sales
0,1975,1.0,1000,A & E PLASTIK PAK INC,AE.2,USD,0.190,11.295,NaN,NaN,11.295
1,1975,2.0,1000,A & E PLASTIK PAK INC,AE.2,USD,0.875,14.441,NaN,NaN,14.441
2,1975,3.0,1000,A & E PLASTIK PAK INC,AE.2,USD,0.613,13.122,NaN,NaN,13.122
3,1975,4.0,1000,A & E PLASTIK PAK INC,AE.2,USD,0.606,12.334,35.237,6.227,12.334
4,1976,1.0,1000,A & E PLASTIK PAK INC,AE.2,USD,0.726,16.226,11.138,6.369,16.226

In [7]:
compustat.curcdq.value_counts()

USD    1144411
CAD      93998
Name: curcdq, dtype: int64

In [8]:
compustatNext = compustat.copy()

compustatNext['year'] -= 1
compustatNext.rename(columns = {'sales':'salesNext',
                                'netIncome':'netIncomeNext',
                               'totalRevenue':'totalRevenueNext',
                               'costGoodsSold':'costGoodsSoldNext',
                               'totalInv':'totalInvNext'
                           },
                 inplace = True)

In [9]:
compustatNext.head()

,year,qtr,gvkey,companyName,tic,curcdq,netIncomeNext,totalRevenueNext,costGoodsSoldNext,totalInvNext,salesNext
0,1974,1.0,1000,A & E PLASTIK PAK INC,AE.2,USD,0.190,11.295,NaN,NaN,11.295
1,1974,2.0,1000,A & E PLASTIK PAK INC,AE.2,USD,0.875,14.441,NaN,NaN,14.441
2,1974,3.0,1000,A & E PLASTIK PAK INC,AE.2,USD,0.613,13.122,NaN,NaN,13.122
3,1974,4.0,1000,A & E PLASTIK PAK INC,AE.2,USD,0.606,12.334,35.237,6.227,12.334
4,1975,1.0,1000,A & E PLASTIK PAK INC,AE.2,USD,0.726,16.226,11.138,6.369,16.226

In [10]:
compustatChanges = compustat.merge(compustatNext)

In [11]:
compustatChanges['salesChange'] = (compustatChanges.salesNext - compustatChanges.sales)/compustatChanges.sales

compustatChanges['incomeChange'] = (compustatChanges.netIncomeNext - compustatChanges.netIncome)/compustatChanges.netIncome

compustatChanges['revenueChange'] = (compustatChanges.totalRevenueNext - compustatChanges.totalRevenue)/compustatChanges.totalRevenue

compustatChanges['revenueChangeAbsolute'] = (compustatChanges.totalRevenueNext - compustatChanges.totalRevenue)

compustatChanges['costChange'] = (compustatChanges.costGoodsSoldNext - compustatChanges.costGoodsSold)/compustatChanges.costGoodsSold

compustatChanges['inventoryChange'] = (compustatChanges.totalInvNext - compustatChanges.totalInv)/compustatChanges.totalInv

compustatChanges = compustatChanges[['year', 'qtr', 'gvkey', 'companyName', 
                                     'tic', 'curcdq','salesChange','incomeChange','revenueChange',
                                     'revenueChangeAbsolute','costChange','inventoryChange']]

In [12]:
compustatChanges.to_csv("../../data/compustatChanges_all.csv")

In [13]:
83000*1000000/1e9

83.0

In [14]:
compustatChanges.shape[0]*0.002*4.5*compustatChanges.revenueChangeAbsolute.mean()

199461.21961632976

In [15]:
compustatChanges.head()

,year,qtr,gvkey,companyName,tic,curcdq,salesChange,incomeChange,revenueChange,revenueChangeAbsolute,costChange,inventoryChange
0,1975,1.0,1000,A & E PLASTIK PAK INC,AE.2,USD,0.436565,2.821053,0.436565,4.931,NaN,NaN
1,1975,2.0,1000,A & E PLASTIK PAK INC,AE.2,USD,0.359809,0.832000,0.359809,5.196,NaN,NaN
2,1975,3.0,1000,A & E PLASTIK PAK INC,AE.2,USD,0.122771,-0.084829,0.122771,1.611,NaN,NaN
3,1975,4.0,1000,A & E PLASTIK PAK INC,AE.2,USD,0.282471,-0.102310,0.282471,3.484,-0.658484,0.592902
4,1976,1.0,1000,A & E PLASTIK PAK INC,AE.2,USD,0.110194,-0.224518,0.110194,1.788,0.185671,0.822107

In [16]:
compustatChanges.year

0          1975
1          1975
2          1975
3          1975
4          1976
           ...
1117251    2008
1117252    2008
1117253    2008
1117254    2008
1117255    2008
Name: year, Length: 1117256, dtype: int64

---------------------------------------

# Location Data

In [17]:
file = "../../data/cstatLocations.csv"
locations = pd.read_csv(file)[['fyear','gvkey','addzip','state']]


locations = locations[~locations.fyear.isna()]
locations = locations[~locations.addzip.isna()]
print(locations.shape)

locations.rename(columns = {'fyear': 'year'},inplace = True)
locations.reset_index(inplace = True,drop= True)
locations['year'] = locations['year'].astype('int64')
locations.drop_duplicates(inplace = True)

(505365, 4)

In [18]:
locations.shape

(463725, 4)

In [19]:
compustatChanges.head()

,year,qtr,gvkey,companyName,tic,curcdq,salesChange,incomeChange,revenueChange,revenueChangeAbsolute,costChange,inventoryChange
0,1975,1.0,1000,A & E PLASTIK PAK INC,AE.2,USD,0.436565,2.821053,0.436565,4.931,NaN,NaN
1,1975,2.0,1000,A & E PLASTIK PAK INC,AE.2,USD,0.359809,0.832000,0.359809,5.196,NaN,NaN
2,1975,3.0,1000,A & E PLASTIK PAK INC,AE.2,USD,0.122771,-0.084829,0.122771,1.611,NaN,NaN
3,1975,4.0,1000,A & E PLASTIK PAK INC,AE.2,USD,0.282471,-0.102310,0.282471,3.484,-0.658484,0.592902
4,1976,1.0,1000,A & E PLASTIK PAK INC,AE.2,USD,0.110194,-0.224518,0.110194,1.788,0.185671,0.822107

In [20]:
companyHQ = compustatChanges.merge(locations,how='left')

In [21]:
companyHQ = companyHQ[~companyHQ.addzip.isna()]

In [22]:
sum(companyHQ.addzip.isna())

0

Merge the zip code information with the change information.

In [23]:
zipFile = "../../data/zipLatLong.csv"
zips = pd.read_csv(zipFile)
'''[['ZIP','LAT','LNG']].rename(columns = {'ZIP': 'addzip'})
zips['addzip'] = zips.addzip.astype('object')'''

zips = zips['ZIP,LAT,LNG'].str.split(',', expand=True)

zips.columns = ['addzip','latitude','longitude']

print(zips.head())

  addzip   latitude    longitude
0  00601  18.180555   -66.749961
1  00602  18.361945   -67.175597
2  00603  18.455183   -67.119887
3  00606  18.158345   -66.932911
4  00610  18.295366   -67.125135

In [24]:
companyHQZips = companyHQ.merge(zips)
print(companyHQZips.head(),companyHQZips.shape)

   year  qtr  gvkey              companyName    tic curcdq  salesChange  \
0  1983  1.0   1001  A & M FOOD SERVICES INC  AMFD.    USD     0.307458
1  1983  2.0   1001  A & M FOOD SERVICES INC  AMFD.    USD     0.290152
2  1983  3.0   1001  A & M FOOD SERVICES INC  AMFD.    USD     0.249496
3  1983  4.0   1001  A & M FOOD SERVICES INC  AMFD.    USD     0.219202
4  1984  1.0   1001  A & M FOOD SERVICES INC  AMFD.    USD     0.222412

   incomeChange  revenueChange  revenueChangeAbsolute  costChange  \
0      2.671429       0.307458                  1.513    0.246423
1     -0.059735       0.290152                  1.700    0.316305
2      0.107143       0.249496                  1.609    0.271394
3     -0.787149       0.219202                  1.790    0.349032
4      0.136187       0.222412                  1.431    0.308036

   inventoryChange addzip state   latitude    longitude
0              NaN  94104    OK  37.791409  -122.402130
1              NaN  94104    OK  37.791409  -122.402130
2         0.547297  94104    OK  37.791409  -122.402130
3         0.554180  94104    OK  37.791409  -122.402130
4         0.266667  94104    OK  37.791409  -122.402130   (775826, 16)

In [28]:
companyHQZips = companyHQZips.drop_duplicates()

In [29]:
companyHQZips.to_csv("../../data/companyHQZips.csv")

-------------------

# Segments Data

In [4]:
import datetime

In [5]:
file = "../../data/companyData/compustatSegments.csv"
segments = pd.read_csv(file)

In [6]:
segments['srcdate'] = pd.DatetimeIndex(pd.to_datetime(segments['srcdate'], format='%Y%m%d'))
segments['year']    = pd.DatetimeIndex(pd.to_datetime(segments['srcdate'], format='%Y%m%d')).year

In [8]:
segments.head()
relats = segments[segments.ctype == 'COMPANY']
relats['customerCleaned'] = relats.cnms.str.lower()
print(relats.shape)

relats = relats[relats.customerCleaned != 'not reported'] 
print(relats.shape)

relats = relats[~relats['customerCleaned'].str.contains('customers',na = True)] 
print(relats.shape)

relats = relats[['year','gvkey','conm','customerCleaned','salecs']].drop_duplicates()

/Users/brianreed/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

(328050, 18)
(238234, 18)
(199280, 18)

There is a linked version of Compustat that has company names merged in.

It seems like it has maybe an incomplete representation of the companies in it, but it's not too too bad of the company-company sales here.

In [9]:
relats.head()

    year  gvkey                   conm customerCleaned  salecs
8   1978   1005  A.B.A. INDUSTRIES INC       utd techs   4.100
9   1979   1005  A.B.A. INDUSTRIES INC        raytheon   2.377
10  1979   1005  A.B.A. INDUSTRIES INC       utd techs   7.454
11  1979   1005  A.B.A. INDUSTRIES INC       dage corp   0.102
12  1980   1005  A.B.A. INDUSTRIES INC        raytheon   2.292

In [10]:
file = "../../data/companyData/compustatSCLinked.csv"
linked = pd.read_csv(file)

linked['year'] = pd.DatetimeIndex(pd.to_datetime(linked['srcdate'], format='%Y%m%d')).year

In [11]:
linked.salecs.sum()/relats.salecs.sum()

# [['cnms','srcdate','conm']].drop_duplicates().shape

0.8069344330267202

In [12]:
linked.head()

,gvkey,conm,cgvkey,cconm,cnms,srcdate,cid,sid,ctype,salecs,scusip,stic,ccusip,ctic,year
0,1005,A.B.A. INDUSTRIES INC,10983,UNITED TECHNOLOGIES CORP,UTD TECHS,19781031,101,1,COMPANY,4.100,000370106,ABA.2,75513E101,RTX,1978
1,1005,A.B.A. INDUSTRIES INC,10983,UNITED TECHNOLOGIES CORP,UTD TECHS,19791031,101,1,COMPANY,7.454,000370106,ABA.2,75513E101,RTX,1979
2,1005,A.B.A. INDUSTRIES INC,8972,RAYTHEON CO,RAYTHEON,19791031,201,2,COMPANY,2.377,000370106,ABA.2,755111507,RTN,1979
3,1005,A.B.A. INDUSTRIES INC,8972,RAYTHEON CO,RAYTHEON,19801031,201,2,COMPANY,2.292,000370106,ABA.2,755111507,RTN,1980
4,1005,A.B.A. INDUSTRIES INC,10983,UNITED TECHNOLOGIES CORP,UTD TECHS,19801031,101,1,COMPANY,9.563,000370106,ABA.2,75513E101,RTX,1980

In [353]:
customers = linked[['year','cgvkey']].drop_duplicatzipes().rename(columns = {'cgvkey': 'gvkey'})
suppliers = linked[['year', 'gvkey']].drop_duplicates()

In [16]:
len(linked[['gvkey']].drop_duplicates())

9398

In [356]:
def gatherData(df): 
    df['yearPlus1']  = df['year'] + 1
    df['yearPlus2']  = df['year'] + 2
    df['yearPlus3']  = df['year'] + 3

    df['yearMinus1'] = df['year'] - 1
    df['yearMinus2'] = df['year'] - 2
    df['yearMinus3'] = df['year'] - 3
    
    dfMelted = pd.melt(df,id_vars=['year','gvkey'], var_name='variation', value_name='vyear').\
        drop(['variation','year'], axis = 1).rename(columns = {'vyear': 'year'}).drop_duplicates()

    return(dfMelted)

In [357]:
suppDF = gatherData(suppliers)

In [358]:
custDF = gatherData(customers)

In [359]:
print(suppDF.head())
print(suppDF.shape)

print(custDF.head())
print(custDF.shape)

   gvkey  year
0   1005  1979
1   1005  1980
2   1005  1981
3   1005  1982
4   1009  1982
(124550, 2)
   gvkey  year
0  10983  1979
1  10983  1980
2   8972  1980
3   8972  1981
4  10983  1981
(76908, 2)

In [360]:
allCompanies = suppDF.append(custDF).drop_duplicates()

In [361]:
allCompanies.head()

   gvkey  year
0   1005  1979
1   1005  1980
2   1005  1981
3   1005  1982
4   1009  1982

In [362]:
allCompanies.to_csv('../../data/companyData/allCompanyKeys.csv')

## Merge in some of the data

Now let's try merging in the other dataframes.

In [375]:
def mergeCompChanges(test):
    test = test.merge(compustatChanges, how = 'left')

    test.replace([np.inf, -np.inf], np.nan, inplace=True)

    test = test.dropna(subset = ['salesChange','incomeChange','revenueChange','costChange','inventoryChange'])

    return(test)

In [376]:
suppChanges = mergeCompChanges(suppDF)
custChanges = mergeCompChanges(custDF)

In [377]:
custChanges.salesChange.describe()

count    124262.000000
mean          0.236644
std           9.549978
min         -97.571429
25%          -0.023890
50%           0.077702
75%           0.203988
max        2677.555556
Name: salesChange, dtype: float64

We also need to merge in the Infogroup data here.

# Clean the company information up

In [462]:
def cleanText(text):
    text = text.\
    replace(" CORP","").replace(" CO","").replace(" INC","").\
    replace(" LTD","").replace(" -CL A","").\
    replace(" -LP","").replace(" LP","").\
    replace("-OLD","").replace(" LLC","").\
    replace(" -CL B","").replace(" -CL i","").replace(" -CL","").\
    replace("-REDH","").replace(" CP","").\
    replace("-ADR","").replace(" PLC","").lower()
    
    
    return text

### Merge in Infogroup data
Let's use the gvkey as the unit of analysis.

In [369]:
hq = pd.read_csv('../../data/companyData/hqPublicAll.csv').drop(["Unnamed: 0"], axis = 1).\
    rename(columns = {'archive_version_year': 'year',
                     'company': 'companyName',
                     'ticker': 'tic'})

# 'ticker': 'tic',

hq['year'] = hq.year.astype('int64')

hq.head()

,tic,year,companyName,city,state,zipcode,latitude,longitude,business_status_code
0,SODI,1997,SOLITRON DEVICES INC,WEST PALM BEACH,FL,33407,26.74120,-80.0669,1.0
1,AOI,1997,DIMON INC,DANVILLE,VA,24541,36.58674,-79.3870,1.0
2,TNLX,1997,TRANS LUX CORP,NORWALK,CT,6854,41.09786,-73.4516,1.0
3,LDR,1997,LANDAUER INC,GLENWOOD,IL,60425,41.54288,-87.6260,1.0
4,SIF,1997,SIFCO INDUSTRIES INC,CLEVELAND,OH,44103,41.52586,-81.6471,1.0

In [466]:
hq['companyNameClean'] = hq.companyName.apply(cleanText).apply(cleanText).apply(cleanText)

In [467]:
hq.companyNameClean.head()

0    solitron devices
1               dimon
2           trans lux
3            landauer
4    sifco industries
Name: companyNameClean, dtype: object

In [468]:
ig_unique = hq[['tic','companyNameClean']].drop_duplicates()
ig_unique.shape

(11927, 2)

In [469]:
compIDs = suppChanges.append(custChanges)[['companyName','tic','gvkey']].drop_duplicates().reset_index().\
    drop(['index'],axis = 1)
compIDs.shape

(8656, 3)

In [475]:
compIDs['companyNameClean'] = compIDs.companyName.apply(cleanText)

Look for compustat IDs that match infogroup IDs. First off, look to see if company name or tic is in infogroup names or tickers.

In [478]:
compIDs.head()

                  companyName     tic  gvkey        companyNameClean
0       A.B.A. INDUSTRIES INC   ABA.2   1005       a.b.a. industries
1          ABS INDUSTRIES INC  ABSI.1   1009          abs industries
2          ACS INDUSTRIES INC   6927B   1012          acs industries
3  ADC TELECOMMUNICATIONS INC  ADCT.1   1013  adc telecommunications
4            AFP IMAGING CORP    IWKS   1021             afp imaging

In [480]:
compIDs['hasMatch'] = (compIDs.companyNameClean.isin(ig_unique.companyNameClean) | compIDs.tic.isin(ig_unique.tic))
compIDsNeedsMatch   = compIDs[~compIDs.hasMatch]
compIDsNeedsMatch.shape

(6897, 5)

In [477]:
compIDs.companyNameClean

0            a.b.a. industries
1               abs industries
2               acs industries
3       adc telecommunications
4                  afp imaging
                 ...
8651               ternium sa
8652                 gerdau sa
8653        warner music group
8654               citi trends
8655               indosat tbk
Name: companyNameClean, Length: 8656, dtype: object

In [483]:
def closestName(text):
    matchOrder = process.extract(text, ig_unique.companyNameClean, 
                               scorer=fuzz.token_sort_ratio)
    return(matchOrder)

In [484]:
start = time.time()
closestNames = compIDsNeedsMatch.companyNameClean[0:50].apply(closestName)

time.time() - start

3.9796371459960938

In [486]:
compIDsNeedsMatch.companyNameClean[0:50]

0             a.b.a. industries
1                abs industries
2                acs industries
3        adc telecommunications
5                    agsmputers
6                aim telephones
7                     akf foods
8                ammmunications
9                 amc investors
10                 ams/realstar
11                 anr pipeline
12              apf electronics
14                 ast research
15                     aeroflex
16                          apl
17                         at&e
19            awmputer systems
20                    servidyne
21                      aca joe
22                      ametech
23                       access
24                   acco world
26                       acmat
27               acme-cleveland
28                acme electric
29      acme precision products
31                  acro energy
32           princeton holdings
35                     actmedia
36            adac laboratories
38                 adams-millis
41       advanced logic systems
42              adobe oil & gas
43             advance circuits
44                 advance ross
45    advancedmputer techniques
46    advanced energy resources
47                        aegis
48     aero systems engineering
49                      aeronca
51                       b-fast
52                    aerosonic
53    affiliated hospital prods
54                         idna
57                     airborne
58    aircraft instrument & dev
59         alabama by-products
60                       alamco
63              alba-waldensian
64               alberto-culver
Name: companyNameClean, dtype: object

In [485]:
closestNames

0     [(abm industries, 87, 332), (be industries, 83...
1     [(abm industries, 93, 332), (be industries, 89...
2     [(css industries, 93, 572), (astec industries,...
3     [(comtech telecommunications, 83, 1271), (shen...
5     [(teramputer, 70, 1765), (applemputer, 67, 601...
6     [(telephone & data systems, 67, 219), (api ele...
7     [(dean foods, 74, 14762), (b & g foods, 67, 16...
8     [(mrvmmunications, 90, 880), (mjdmmunications,...
9     [(gamco investors, 93, 28356), (investors banc...
10    [(lam research, 67, 1894), (james riveral, 64,...
11    [(tc pipelines, 67, 21117), (priceline group, ...
12    [(api electronics, 93, 43783), (arrow electron...
14    [(lam research, 83, 1894), (national research,...
15    [(aeropostale, 63, 15094), (flex energy, 63, 5...
16    [(apple, 75, 29129), (ual, 67, 555), (gap, 67,...
17    [(at&t, 75, 38602), (at & t, 75, 85498), (red ...
19    [(amtech systems, 80, 619), (aura systems, 79,...
20    [(teradyne, 71, 641), (trimedyne, 67, 949), (v...
21    [(achaogen, 67, 66977), (eat at joe's, 63, 229...
22    [(amtech, 92, 1006), (megatech, 80, 1585), (am...
23    [(avesis, 67, 188), (aes, 67, 751), (arcbest, ...
24    [(worlds.com, 80, 34900), (major world, 76, 97...
26    [(acmat, 100, 1803), (cato, 67, 1101), (comcas...
27    [(cleveland biolabs, 71, 89274), (cleveland bi...
28    [(electric car, 80, 45097), (electric city, 77...
29    [(e-com products group, 70, 84620), (emergency...
31    [(abco energy, 91, 77334), (acorn energy, 87, ...
32    [(pico holdings, 84, 1345), (seto holdings, 77...
35    [(ascent media, 80, 45090), (amedica, 80, 4712...
36    [(bond laboratories, 82, 33329), (idexx labora...
38    [(adma biologics, 62, 59017), (adamis pharmace...
41    [(advanced polymer systems, 78, 182), (advance...
42    [(cabot oil & gas, 77, 131), (aztec oil & gas,...
43    [(cdti advanced materials, 67, 93522), (advanc...
44    [(signal advance, 69, 70808), (advance holding...
45    [(gt advanced technologies, 73, 55465), (advan...
46    [(adams resources & energy, 85, 124), (advance...
47    [(regis, 80, 592), (aes, 75, 751), (avesis, 73...
48    [(image sensing systems, 71, 1087), (american ...
49    [(arconic, 71, 82590), (aetna, 67, 97), (ameri...
51    [(l b foster, 62, 474), (banc first, 62, 1869)...
52    [(arconic, 75, 82590), (sonic, 71, 1789), (har...
53    [(affiliated managers group, 64, 3377), (diamo...
54    [(dana, 75, 423), (cigna, 67, 464), (didax, 67...
57    [(carbonite, 71, 55382), (liz claiborne, 67, 5...
58    [(horiba instruments, 63, 3155), (general airc...
59    [(playtex products, 69, 894), (lawson products...
60    [(alico, 73, 286), (aflac, 73, 914), (alcoa, 7...
63    [(lending club, 59, 64214), (valentine beauty,...
64    [(secure alert, 69, 42472), (aero century, 62,...
Name: companyNameClean, dtype: object

In [455]:
compIDsNeedsMatch.to_csv('../../data/companyData/matchesNeeded.csv')

In [454]:
closestNames.to_csv('../../data/companyData/closestNames.csv')

# Stock price data

In [67]:
file = "data/crsp_raw.csv"
raw = pd.read_csv(file, encoding = 'unicode_escape')

/Users/brianreed/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (3,11,12) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [68]:
raw.head()

,PERMNO,date,EXCHCD,SICCD,TICKER,COMNAM,NAICS,PRIMEXCH,PERMCO,PRC,VOL,RET,RETX
0,15580,20000103,3.0,6320.0,AAME,ATLANTIC AMERICAN CORP,NaN,Q,5,2.3125,5221.0,0.000000,0.000000
1,15580,20000104,3.0,6320.0,AAME,ATLANTIC AMERICAN CORP,NaN,Q,5,2.3750,100.0,0.027027,0.027027
2,15580,20000105,3.0,6320.0,AAME,ATLANTIC AMERICAN CORP,NaN,Q,5,2.4375,7985.0,0.026316,0.026316
3,15580,20000106,3.0,6320.0,AAME,ATLANTIC AMERICAN CORP,NaN,Q,5,2.3125,500.0,-0.051282,-0.051282
4,15580,20000107,3.0,6320.0,AAME,ATLANTIC AMERICAN CORP,NaN,Q,5,2.3750,4530.0,0.027027,0.027027

Let's follow Evan's crsp cleaning and linking process.

1. Drop firms not traded on NYSE or NASDAQ.

In [69]:
other_exch = crsp[ (raw['PRIMEXCH'] != 'Q') & (raw['PRIMEXCH'] != 'N') ].index
raw.drop(other_exch, inplace=True)
raw.shape

(22272108, 13)

2. Drop entries with missing return or volume information.

In [70]:
raw.dropna(subset=['VOL', 'RET','date'],inplace=True)
raw['VOL'] = raw['VOL'].astype('int')
raw.drop(raw[raw['RET']=='C'].index,inplace=True)
raw['RET'] = raw['RET'].astype('float')
raw['date'] = raw['date'].astype('int')

3. Drop tickers with average daily trading volume less than 100K shares.

In [71]:
adv = raw[['VOL','TICKER']].groupby(['TICKER']).mean()
low_vol = adv.drop(adv[adv['VOL']>=100000].index)
low_vol_index = raw[raw['TICKER'].isin(low_vol.index)].index
raw.drop(low_vol_index,inplace=True)
raw.shape

(15589271, 13)

4. Drop tickers that traded for less than 20% of the period

In [72]:
ndays = len(raw.date.unique())
obs = raw['TICKER'].value_counts()
rare_obs = obs[obs<0.2*ndays]
rare_index = raw[raw['TICKER'].isin(rare_obs.index)].index
raw.drop(rare_index,inplace=True)
raw.shape

(14471739, 13)

In [108]:
raw = raw.drop_duplicates()

In [109]:
raw.shape

(14471739, 13)

Merge in GVKEY information for linking with compustat.

gv_cik will come in hand with another merge maybe; but to get to compustat, looks like we just need gvkey - permco.

Some of the keys seem to be used twice. Let's see if they're re-used when a company has gone out of business.

In [174]:
# gv_cik = pd.read_csv("data/cik_gvkey.csv",dtype={'cik':str})[['cik','gvkey']]
gv_permco = pd.read_csv("data/cik_permco.csv",dtype={'cik':str})
# [['gvkey','LPERMCO']].rename(columns = {'LPERMCO': 'PERMCO'}).drop_duplicates()

gv_permco.loc[gv_permco.LINKENDDT == 'E', 'LINKENDDT'] = '20210101'
gv_permco['existsCurrently'] = pd.DatetimeIndex(pd.to_datetime(gv_permco.LINKENDDT.astype(str), format='%Y%m%d')).year

gv_permco = gv_permco[gv_permco.existsCurrently > 2010]
print(gv_permco.shape)
print(gv_permco.head())

gv_permco = gv_permco[['gvkey','LPERMCO','conm']].rename(columns = {'LPERMCO': 'PERMCO'}).drop_duplicates()

(8681, 11)
    gvkey                          conm         cik LINKPRIM LIID LINKTYPE  \
4    1004                      AAR CORP  0000001750        P   01       LU
48   1045   AMERICAN AIRLINES GROUP INC  0000006201        P   04       LC
49   1045   AMERICAN AIRLINES GROUP INC  0000006201        P   01       LC
54   1050       CECO ENVIRONMENTAL CORP  0000003197        P   01       LC
66   1062  ASA GOLD AND PRECIOUS METALS  0001230869        P   01       LU

    LPERMNO  LPERMCO    LINKDT LINKENDDT  existsCurrently
4     54594    20000  19720424  20210101             2021
48    21020    20010  20131209  20210101             2021
49    21020    20010  19620131  20120104             2012
54    11499      176  19801128  20210101             2021
66    26649    20015  19650129  20210101             2021

In [164]:
for company in gv_permco[gv_permco.PERMCO.duplicated()].conm:
    print(company)

TYCO INTERNATIONAL PLC
TGC INDUSTRIES INC
GCI LIBERTY INC
TCF FINANCIAL CORP
BAY BANCORP INC
DOCUMENT SECURITY SYS INC
SPHERIX INC
STARWOOD WAYPOINT RES TR
ARC WIRELESS SOLUTIONS INC
GLORI ENERGY INC
SLM CORP
TOBIRA THERAPEUTICS INC
YUMA ENERGY INC -OLD
PANGAEA LOGISTICS SOLUTIONS
EARTHSTONE ENERGY INC
BLUE BIRD CORP
ZAIS GROUP HLDGS INC
GP INVESTMENTS ACQUISITION
LINDBLAD EXPEDITIONS HLDGS
BMC STOCK HOLDINGS INC
PULMATRIX INC
HENNESSY CAPITL ACQ CORP II
AKARI THERAPEUTICS PLC -ADR
PLX PHARMA INC
WINS FINANCE HOLDINGS INC
HERC HOLDINGS INC
ABILITY INC
CENTRIC BRANDS INC
EIGER BIOPHARMACEUTICALS INC
LIBERTY MEDIA BRAVES GROUP
ROAN HOLDINGS GROUP CO LTD
CARDCONNECT CORP
ARCONIC INC
STONE ENERGY CORP
YUMA ENERGY INC
KALVISTA PHARMACEUTICALS
PRIORITY TECHNLGY HLDNGS INC
MICROBOT MEDICAL INC
PMC COMMERCIAL TRUST-OLD
INSPIRED ENTERTAINMENT
WESTROCK CO
TELLURIAN INC
MIRAGEN THERAPEUTICS INC
BMB MUNAI INC -OLD
MEDIA GENERAL INC
ROSEHILL RESOURCES INC
NOVUS THERAPEUTICS INC
CONSTELLATION ALPHA CAP CRP
EXELA TECHNOLOGIES INC
CISION LTD
BAKER HUGHES CO
DARE BIOSCIENCE INC
NEXTDECADE CORP
ALPINE IMMUNE SCIENCES INC
STARZ
JAGUAR HEALTH INC
BORQS TECHNOLOGIES INC
SYNLOGIC INC
ARCTURUS THERAPEUTICS INC
WILLSCOT CORP
ROCKET PHARMACEUTICALS INC
INNOVATE BIOPHRMCEUTICLS INC
PURPLE INNOVATION INC
TMSR HOLDING CO LTD
VAXART INC
INFRASTRUCTR & ENRGY ALT INC
NRC GROUP HOLDINGS CORP
SKYLINE CHAMPION CORP
LIQUID MEDIA GROUP LTD
COMSTOCK RESOURCES INC
HF FOODS GROUP INC
FALCON MINERALS CORP
VERRA MOBILITY CORP
US WELL SERVICES INC
ALTUS MIDSTREAM COMPANY
WAITR HOLDINGS INC
MILLENDO THERAPEUTICS INC
ORGANOGENESIS HOLDINGS INC
REEBONZ HOLDING LTD
PHUNWARE INC
SCWORX CORP
BIOCERES CROP SOLUTIONS CORP
ENLIVEX THERAPEUTICS LTD
AKERNA CORP
IMPAX LABORATORIES INC
MAST THERAPEUTICS
COGENTIX MEDICAL INC
AMB PROPERTY CORP
SEVION THERAPEUTICS INC
BIOSANTE PHARMACEUTICALS-OLD
YADKIN FINANCIAL CORP
OPEXA THERAPEUTICS INC
ONTO INNOVATION INC
WPCS INTERNATIONAL INC
EON COMMUNICATIONS CORP
TRANSGENOMIC INC
TELIK INC -OLD
ZHONE TECHNOLOGIES INC
SUNOCO LOGISTICS PARTNERS LP
ALCON INC- OLD
PROGRESSIVE WASTE SOLUTIONS
NILE THERAPEUTICS INC
ALAMOS GOLD INC -OLD
THRESHOLD PHARMACEUTICALS
METROPCS COMMUNICATIONS INC
GRAMERCY PROPERTY TRUST
LIBERTY GLOBAL PLC
OHR PHARMACEUTICAL INC
ZALICUS INC
EPICEPT CORP-OLD
SYNTA PHARMACEUTICALS CORP
IHS MARKIT LTD
TARGACEPT INC
VIRTUS TOTAL RETURN FUND INC
DSW INC-OLD
PHARMATHENE INC
FIDELITY NATL FINL FNF GROUP
LPATH INC
ROI ACQUISITION CORP
MERUS LABS INTERNATIONAL INC
USA COMPRESSION PRTNRS -OLD
ZAZA ENERGY CORP
BLUE DOLPHIN ENERGY CO
CIS ACQUISITION LTD
QURATE RETAIL INC
CONVERTED ORGANICS INC -OLD
PVR PARTNERS LP
SKILLED HEALTHCARE GROUP INC
BIOFUEL ENERGY CORP
BIODEL INC
GASTAR EXPLORATION INC
GALENA BIOPHARMA INC
FINTECH ACQUISITION CP II
ONCOGENEX PHARMACEUTICALS
TRANSCEPT PHARMACEUTICALS
READY CAPITAL CORP
ENERJEX RESOURCES INC
COLONY CAPITAL INC
LIBERTY MEDIA STARZ GROUP
LIBERTY MEDIA STARZ GROUP
VRINGO INC  -OLD
ACCESS MIDSTREAM PARTNERS LP
KINGTONE WIRELESS  -ADR -OLD
STELLAR BIOTECHNOLOGIES INC
TORNIER NV
SWIFT TRANSPORTATION CO
CAZADOR ACQUISITION CORP LTD
PARAMETRIC SOUND CORP-OLD
TRANZYME INC
TEUCRIUM NATURAL GAS FUND
TEUCRIUM CRUDE OIL FUND
AMERICAN MIDSTREAM PRT -OLD
TRIO MERGER CORP
CHINA GROWTH EQUITY INVSTMNT
RENNOVA HEALTH INC
INERGY MIDSTREAM -LP
WESTWOOD ONE INC
SYNAGEVA BIOPHARMA CORP
AMPLIFY ENERGY CORP
MELINTA THERAPEUTICS INC
AVIRAGEN THERAPEUTICS INC
TRI POINTE GROUP INC
STARTEK INC

Drop the duplicated entries. We may want to revisit this later on.

In [175]:
gv_permco = gv_permco[~gv_permco.PERMCO.isin(list(gv_permco.PERMCO[gv_permco.PERMCO.duplicated()]))]

Now just merge the raw return information with this company information so we can link everything.

In [176]:
rawMergeable = pd.merge(raw,gv_permco,on='PERMCO',how = 'left')
rawMergeable.shape

(14471739, 15)

In [148]:
raw.head()

,PERMNO,date,EXCHCD,SICCD,TICKER,COMNAM,NAICS,PRIMEXCH,PERMCO,PRC,VOL,RET,RETX
5031,14593,20000103,3.0,3573.0,AAPL,APPLE COMPUTER INC,NaN,Q,7,111.9375,4833736,0.088754,0.088754
5032,14593,20000104,3.0,3573.0,AAPL,APPLE COMPUTER INC,NaN,Q,7,102.5000,4646120,-0.084310,-0.084310
5033,14593,20000105,3.0,3573.0,AAPL,APPLE COMPUTER INC,NaN,Q,7,104.0000,7060334,0.014634,0.014634
5034,14593,20000106,3.0,3573.0,AAPL,APPLE COMPUTER INC,NaN,Q,7,95.0000,6917851,-0.086538,-0.086538
5035,14593,20000107,3.0,3573.0,AAPL,APPLE COMPUTER INC,NaN,Q,7,99.5000,4180715,0.047368,0.047368

In [180]:
rawMergeable = rawMergeable.drop(['RETX'],axis = 1)
rawMergeable['date'] = pd.to_datetime(rawMergeable['date'].astype(str), format='%Y%m%d')
rawMergeable['year'] = pd.DatetimeIndex(rawMergeable['date']).year
rawMergeable.head()

,PERMNO,date,EXCHCD,SICCD,TICKER,COMNAM,NAICS,PRIMEXCH,PERMCO,PRC,VOL,RET,gvkey,conm,year
0,14593,2000-01-03,3.0,3573.0,AAPL,APPLE COMPUTER INC,NaN,Q,7,111.9375,4833736,0.088754,1690.0,APPLE INC,2000
1,14593,2000-01-04,3.0,3573.0,AAPL,APPLE COMPUTER INC,NaN,Q,7,102.5000,4646120,-0.084310,1690.0,APPLE INC,2000
2,14593,2000-01-05,3.0,3573.0,AAPL,APPLE COMPUTER INC,NaN,Q,7,104.0000,7060334,0.014634,1690.0,APPLE INC,2000
3,14593,2000-01-06,3.0,3573.0,AAPL,APPLE COMPUTER INC,NaN,Q,7,95.0000,6917851,-0.086538,1690.0,APPLE INC,2000
4,14593,2000-01-07,3.0,3573.0,AAPL,APPLE COMPUTER INC,NaN,Q,7,99.5000,4180715,0.047368,1690.0,APPLE INC,2000

In [181]:
outfile =  'data/stockReturns.pkl'
with open(outfile, 'wb') as pickle_file:
    pickle.dump(rawMergeable, pickle_file)

----------------------------------------------

In [64]:
crsp2010s = crsp[['date','year','PERMNO','COMNAM','PRC']]

(24600859, 14)

In [65]:
sum(crsp.RET == crsp.RETX)

24436450