In [2]:
import pickle as pkl
import pandas as pd
import matplotlib
import os
import re

import collections
import datetime
import time

import geopandas as gpd

import numpy as np

import rasterio

import spacy
  
nlp = spacy.load('en_core_web_lg')
from sklearn.metrics.pairwise import cosine_similarity

import itertools

# Get Data

## Changes from year to year

In [ ]:
changes = pd.read_csv("../../data/companyData/compustatChanges_2010s.csv").drop(columns = ['Unnamed: 0'])

changes.head()

In [ ]:
industries = changes[['gvkey','naics']].drop_duplicates()
industries['naics'] = industries.naics.astype('str').str.slice(0,2)

## SC Linking Table for 2010s

In [82]:
c_linksTest = pd.read_csv("../../data/companyData/compustatSCLinked.csv")[['srcdate','gvkey','cgvkey']]
c_linksTest['year'] = c_linksTest.srcdate.astype('str').str.slice(0,4).astype('int64')

bs = c_linksTest[c_linksTest.year < 2014]
print("Customers per supplier, 1978-2013 Pd: ", len(bs.cgvkey.unique())/len(bs.gvkey.unique()))

bs2 = c_linksTest[c_linksTest.year > 2010]
print("Customers per supplier, Recent Pd: ", len(bs2.cgvkey.unique())/len(bs2.gvkey.unique()))

Customers per supplier, 1978-2013 Pd:  0.5218764095624718
Customers per supplier, Recent Pd:  0.9257019438444924

In [ ]:
c_links = pd.read_csv("../../data/companyData/compustatSCLinked.csv")

c_links['year'] = c_links.srcdate.astype('str').str.slice(0,4).astype('int64')

c_links = c_links[c_links.year > 2009][['year','gvkey','cgvkey','salecs']].\
    rename(columns = {'cgvkey': 'customer_gvkey','gvkey': 'supplier_gvkey'})


print(c_links.shape)

c_links.head()

In [ ]:
industries.columns = ['customer_gvkey','customer_naics']

c_links = c_links.merge(industries)

industries.columns = ['supplier_gvkey','supplier_naics']

c_links = c_links.merge(industries)
c_links.head()

In [ ]:
c_links.shape

Now see if it's common to have one in and one out of the industries of interest.

In [ ]:
ofInterest = ['11','21','22','23','31','32','33','42','44','45','48','49']

c_linksCut = c_links[~(c_links.customer_naics.isin(ofInterest) & c_links.supplier_naics.isin(ofInterest))]

In [ ]:
c_linksCut['relat'] = c_linksCut.customer_naics + "_" + c_linksCut.supplier_naics
c_linksCut.relat.value_counts()[0:10]

In [ ]:
c_linksCut.supplier_naics.value_counts()[0:10]

## Compustat and ABI Linking

In [ ]:
gvKey_abiLinkingTable = pd.read_csv('../../data/companyData/linkingTable.csv').drop(columns = ['Unnamed: 0'])


base_columns = gvKey_abiLinkingTable.columns 
customer_columns = "customer_" + base_columns
supplier_columns = "supplier_" + base_columns


gvKey_abiLinkingTable.head()

In [ ]:
hasMatch = gvKey_abiLinkingTable.gvkey.unique()

In [ ]:
sum(c_links.supplier_gvkey.isin(hasMatch) | c_links.customer_gvkey.isin(hasMatch))

# Merge

In [ ]:

#########################
# merge in customer information
gvKey_abiLinkingTable.columns = customer_columns

print(c_links.shape)
c_linksMerge1 = c_links.merge(gvKey_abiLinkingTable, on ='customer_gvkey')
print(c_links.shape,c_linksMerge1.shape)



#########################
# and merge in supplier 
gvKey_abiLinkingTable.columns = supplier_columns

print(c_links.shape)
c_linksMerge2 = c_linksMerge1.merge(gvKey_abiLinkingTable, on ='supplier_gvkey')
print(c_links.shape,c_linksMerge2.shape)

In [ ]:
c_linksMerge2.to_csv("../../data/companyData/clinks_IG_selected.csv")

In [ ]:
gvKey_abiLinkingTable

This is probably because: (1) companies are not in North America, or (2) companies are not in the physical goods industries we're interested in. We can verify this though: look at c_links where both the customer and supplier are in the dataset of interest.

In [ ]:
chq     = pd.read_csv("../../data/chq.csv",dtype={'cstatZipcode': 'object'}).drop(columns = {'Unnamed: 0'})

c_linkTest = c_links[c_links.customer_gvkey.isin(chq.gvkey.unique()) & \
                     c_links.supplier_gvkey.isin(chq.gvkey.unique())]

print("Percent of firms with a match: ", c_linksMerge2.shape[0]/c_linkTest.shape[0])

It's entirely possible that we have too small of a sample from the 2010s alone. Let's just try it though and see how it goes.

First, make a sample with the companies on three years of either side of when it reports another customer.

In [ ]:
scTableCustomers = c_linksMerge2.copy()[['year','customer_gvkey','customer_abi']].drop_duplicates()
scTableSuppliers = c_linksMerge2.copy()[['year','supplier_gvkey','supplier_abi']].drop_duplicates()

In [ ]:
scTableCustomers.head()

In [ ]:
def makeThreeEitherSide(df): 
    yrPlus1 = df.copy(); yrPlus1['year'] += 1
    yrPlus2 = df.copy(); yrPlus2['year'] += 1
    yrPlus3 = df.copy(); yrPlus3['year'] += 1
    
    yrMinus1 = df.copy(); yrMinus1['year'] -= 1
    yrMinus2 = df.copy(); yrMinus2['year'] -= 1
    yrMinus3 = df.copy(); yrMinus3['year'] -= 1
    
    all = pd.concat([yrPlus1,yrPlus2,yrPlus3,yrMinus1,yrMinus2,yrMinus3])
    
    return(all)

In [ ]:
allCustomerData = makeThreeEitherSide(scTableCustomers)
allCustomerData.columns = ['year','gvkey','abi']


allSupplierData = makeThreeEitherSide(scTableSuppliers)
allSupplierData.columns = ['year','gvkey','abi']

In [ ]:
allSupplierData.year

In [ ]:
allAbi = allCustomerData.abi.append(allSupplierData.abi).drop_duplicates()

In [ ]:
hqsOnly = pd.read_csv("../../data/ig2010s_uniqueHQs.csv").drop(columns = {'Unnamed: 0'})

In [ ]:
hqsOnly.head()

In [ ]:
hq = pd.read_csv("../../data/ig2010s_uniqueHQs_multLocations.csv").\
    drop(columns = {'Unnamed: 0'}).\
    rename(columns = {'archive_version_year': 'year'})

hq['year'] = hq.year.astype('int64')

hqRelevant = hq[hq.abi.isin(allAbi)]

In [ ]:
hqRelevant[hqRelevant.abi == 71340]

In [ ]:
allSupplierData = allSupplierData.merge(hqRelevant).drop_duplicates()
allCustomerData = allCustomerData.merge(hqRelevant).drop_duplicates()

In [ ]:
allSupplierData.head()

In [ ]:
allCustomerData.to_csv("../../data/companyData/allCustomerData.csv")
allSupplierData.to_csv("../../data/companyData/allSupplierData.csv")

# Find Customer and Supplier pairings and merge with change data

In [10]:
allSupplierData = pd.read_csv("../../data/companyData/allSupplierData.csv").drop(columns = ['Unnamed: 0'])
allCustomerData = pd.read_csv("../../data/companyData/allCustomerData.csv").drop(columns = ['Unnamed: 0'])

In [11]:
changes = pd.read_csv("../../data/companyData/compustatChanges_2010s.csv").drop(columns = ['Unnamed: 0'])
changes.head()

,year,qtr,gvkey,companyName,tic,naics,curcdq,incomeChange,revenueChange,revenueChangeAbsolute,costChange,inventoryChange
0,2010,1.0,1004,AAR CORP,AIR,423860.0,USD,0.213983,0.200565,81.107,0.178258,0.055631
1,2010,2.0,1004,AAR CORP,AIR,423860.0,USD,0.045617,0.059577,27.099,0.017636,0.086776
2,2010,3.0,1004,AAR CORP,AIR,423860.0,USD,0.153198,0.166276,76.160,0.129456,0.169270
3,2010,4.0,1004,AAR CORP,AIR,423860.0,USD,-0.398739,0.174283,85.020,0.136013,0.182304
4,2011,1.0,1004,AAR CORP,AIR,423860.0,USD,0.096386,0.133883,65.000,0.101523,0.104150

In [12]:
allSupplierData.head()

,year,gvkey,abi,ticker,company,state,city,address_line_1,zipcode,latitude,longitude
0,2011,2497,482985413,MTZ,MAS TEC INC,FL,CORAL GABLES,800 S DOUGLAS RD # 12,33134,25.76390,-80.25634
1,2012,2497,482985413,MTZ,MAS TEC INC,FL,CORAL GABLES,800 S DOUGLAS RD # 12,33134,25.76390,-80.25634
2,2013,2497,482985413,MTZ,MAS TEC INC,FL,CORAL GABLES,800 S DOUGLAS RD # 1200,33134,25.76375,-80.25635
3,2014,2497,482985413,MTZ,MAS TEC INC,FL,CORAL GABLES,800 S DOUGLAS RD # 1200,33134,25.76390,-80.25634
4,2015,2497,482985413,MTZ,MAS TEC INC,FL,CORAL GABLES,800 S DOUGLAS RD # 1200,33134,25.76375,-80.25635

In [13]:
allSupplierData.zipcode.value_counts()[-75:-50]

68801    1
74103    1
15237    1
78669    1
14626    1
6088     1
7059     1
78258    1
91505    1
98104    1
29550    1
38112    1
22203    1
6001     1
83814    1
77070    1
66105    1
85251    1
20007    1
75205    1
6410     1
20004    1
10011    1
80521    1
7733     1
Name: zipcode, dtype: int64

In [14]:
suppliers = changes.merge(allSupplierData[['year','gvkey','zipcode']])
suppliers.shape

(30290, 13)

In [15]:
customers = changes.merge(allCustomerData[['year','gvkey','zipcode']])
customers.head()

,year,qtr,gvkey,companyName,tic,naics,curcdq,incomeChange,revenueChange,revenueChangeAbsolute,costChange,inventoryChange,zipcode
0,2010,1.0,1045,AMERICAN AIRLINES GROUP INC,AAL,481111.0,USD,-0.136634,0.091752,465.0,0.091284,0.077899,76155
1,2010,2.0,1045,AMERICAN AIRLINES GROUP INC,AAL,481111.0,USD,25.000000,0.077547,440.0,0.139454,0.126538,76155
2,2010,3.0,1045,AMERICAN AIRLINES GROUP INC,AAL,481111.0,USD,-2.132867,0.091407,534.0,0.165973,0.097391,76155
3,2010,4.0,1045,AMERICAN AIRLINES GROUP INC,AAL,481111.0,USD,10.173469,0.073935,413.0,0.105994,0.038721,76155
4,2011,1.0,1045,AMERICAN AIRLINES GROUP INC,AAL,481111.0,USD,2.807339,0.091090,504.0,0.082808,0.040336,76155

In [16]:
print(allCustomerData.shape,allSupplierData.shape)

(6264, 11) (9612, 11)

In [118]:
# allWeather = pd.read_csv("../../../../../../../Volumes/backup2/dissData/prism/allWeatherBins_2010.2019.csv").\

allWeather = pd.read_csv("../../data/companyData/allWeatherBins_2010.2019.csv").\
    drop(columns = {"Unnamed: 0",'zip','yearQuarter'})

In [137]:
allWeather['yearQtr'] = allWeather.year + (allWeather.qtr - 1)/4

lag1 = allWeather.copy()[['zipcode','yearQtr','precip_quant_1.0','tmax_quant_1.0']]
lag1['yearQtr'] += 0.25
lag1.rename(columns = {'precip_quant_1.0':'lag1_precip_quant_1.0','tmax_quant_1.0':'lag1_tmax_quant_1.0'},inplace = True)
# allWeather = allWeather.merge(lag1)


lag2 = allWeather.copy()[['zipcode','yearQtr','precip_quant_1.0','tmax_quant_1.0']]
lag2['yearQtr'] += 0.5
lag2.rename(columns = {'precip_quant_1.0':'lag2_precip_quant_2.0','tmax_quant_1.0':'lag2_tmax_quant_2.0'},inplace = True)
# allWeather = allWeather.merge(lag2)


lag3 = allWeather.copy()[['zipcode','yearQtr','precip_quant_1.0','tmax_quant_1.0']]
lag3['yearQtr'] += 0.75
lag3.rename(columns = {'precip_quant_1.0':'lag3_precip_quant_3.0','tmax_quant_1.0':'lag3_tmax_quant_3.0'},inplace = True)
# allWeather = allWeather.merge(lag3)


lag4 = allWeather.copy()[['zipcode','yearQtr','precip_quant_1.0','tmax_quant_1.0']]
lag4['yearQtr'] += 1
lag4.rename(columns = {'precip_quant_1.0':'lag4_precip_quant_4.0','tmax_quant_1.0':'lag4_tmax_quant_4.0'},inplace = True)
# allWeather = allWeather.merge(lag4)

print(allWeather.shape)

(1306240, 32)

In [129]:
allWeather.year.value_counts()

2010    130624
2011    130624
2012    130624
2013    130624
2014    130624
2015    130624
2016    130624
2017    130624
2018    130624
2019    130624
Name: year, dtype: int64

In [140]:
allWeather_withLags = allWeather.merge(lag1).merge(lag2).merge(lag3).merge(lag4)

print(oneMerge.shape)

allWeather_withLags.year.value_counts()

(1175616, 40)

2011    130624
2012    130624
2013    130624
2014    130624
2015    130624
2016    130624
2017    130624
2018    130624
2019    130624
Name: year, dtype: int64

In [136]:
lag2.head()

,tmax_quant_0.05,tmax_quant_0.1,tmax_quant_0.15,tmax_quant_0.2,tmax_quant_0.25,tmax_quant_0.30,tmax_quant_0.35,tmax_quant_0.4,tmax_quant_0.45,tmax_quant_0.5,...,precip_quant_0.75,precip_quant_0.8,precip_quant_0.85,precip_quant_0.9,precip_quant_0.95,lag2_precip_quant_2.0,year,qtr,zipcode,yearQtr
0,8,20,21,12,10,5,5,2,2,2,...,3,4,10,3,1,9,2010,1.0,1001,2010.50
1,0,0,0,0,2,5,4,5,4,5,...,6,8,4,7,6,2,2010,2.0,1001,2010.75
2,0,0,0,0,0,0,0,0,0,2,...,2,5,7,3,3,3,2010,3.0,1001,2011.00
3,6,11,8,7,9,10,11,10,5,8,...,5,8,3,2,3,8,2010,4.0,1001,2011.25
4,17,21,21,13,8,4,3,1,1,0,...,7,7,1,9,5,6,2011,1.0,1001,2011.50

In [25]:
customersWithWeather = customers.merge(allWeather)
customersWithWeather.shape

(19233, 41)

In [26]:
suppliersWithWeather = suppliers.merge(allWeather)
suppliersWithWeather.shape

(29860, 41)

In [27]:
suppliersWithWeather.to_csv("../../data/companyData/suppliersWithWeather.csv")
customersWithWeather.to_csv("../../data/companyData/customersWithWeather.csv")

In [21]:
suppliersWithWeather = pd.read_csv("../../data/companyData/suppliersWithWeather.csv").drop(columns = {'Unnamed: 0'})
customersWithWeather = pd.read_csv("../../data/companyData/customersWithWeather.csv").drop(columns = {'Unnamed: 0'})

In [22]:
customersWithWeather.columns

Index(['year', 'qtr', 'gvkey', 'companyName', 'tic', 'naics', 'curcdq',
       'incomeChange', 'revenueChange', 'revenueChangeAbsolute', 'costChange',
       'inventoryChange', 'zipcode', 'tmax_quant_0.05', 'tmax_quant_0.1',
       'tmax_quant_0.15', 'tmax_quant_0.2', 'tmax_quant_0.25',
       'tmax_quant_0.30', 'tmax_quant_0.35', 'tmax_quant_0.4',
       'tmax_quant_0.45', 'tmax_quant_0.5', 'tmax_quant_0.55',
       'tmax_quant_0.60', 'tmax_quant_0.65', 'tmax_quant_0.70',
       'tmax_quant_0.75', 'tmax_quant_0.8', 'tmax_quant_0.85',
       'tmax_quant_0.9', 'tmax_quant_0.95', 'tmax_quant_1.0',
       'precip_quant_0.65', 'precip_quant_0.70', 'precip_quant_0.75',
       'precip_quant_0.8', 'precip_quant_0.85', 'precip_quant_0.9',
       'precip_quant_0.95', 'precip_quant_1.0'],
      dtype='object')

In [23]:
customersWithWeather.head()

,year,qtr,gvkey,companyName,tic,naics,curcdq,incomeChange,revenueChange,revenueChangeAbsolute,...,tmax_quant_0.95,tmax_quant_1.0,precip_quant_0.65,precip_quant_0.70,precip_quant_0.75,precip_quant_0.8,precip_quant_0.85,precip_quant_0.9,precip_quant_0.95,precip_quant_1.0
0,2010,1.0,1045,AMERICAN AIRLINES GROUP INC,AAL,481111.0,USD,-0.136634,0.091752,465.0,...,0,0,0,1,3,5,4,4,6,5
1,2010,2.0,1045,AMERICAN AIRLINES GROUP INC,AAL,481111.0,USD,25.000000,0.077547,440.0,...,6,31,0,6,2,6,3,1,4,3
2,2010,3.0,1045,AMERICAN AIRLINES GROUP INC,AAL,481111.0,USD,-2.132867,0.091407,534.0,...,11,65,0,6,2,3,3,3,5,7
3,2010,4.0,1045,AMERICAN AIRLINES GROUP INC,AAL,481111.0,USD,10.173469,0.073935,413.0,...,0,0,1,3,3,1,2,0,0,4
4,2011,1.0,1045,AMERICAN AIRLINES GROUP INC,AAL,481111.0,USD,2.807339,0.091090,504.0,...,0,0,3,4,5,1,1,3,1,2

In [24]:
frames = [customersWithWeather, suppliersWithWeather]

allCompanies = pd.concat(frames).drop_duplicates()

print(allCompanies.shape)

(43928, 41)

In [25]:
allCompanies.head()

,year,qtr,gvkey,companyName,tic,naics,curcdq,incomeChange,revenueChange,revenueChangeAbsolute,...,tmax_quant_0.95,tmax_quant_1.0,precip_quant_0.65,precip_quant_0.70,precip_quant_0.75,precip_quant_0.8,precip_quant_0.85,precip_quant_0.9,precip_quant_0.95,precip_quant_1.0
0,2010,1.0,1045,AMERICAN AIRLINES GROUP INC,AAL,481111.0,USD,-0.136634,0.091752,465.0,...,0,0,0,1,3,5,4,4,6,5
1,2010,2.0,1045,AMERICAN AIRLINES GROUP INC,AAL,481111.0,USD,25.000000,0.077547,440.0,...,6,31,0,6,2,6,3,1,4,3
2,2010,3.0,1045,AMERICAN AIRLINES GROUP INC,AAL,481111.0,USD,-2.132867,0.091407,534.0,...,11,65,0,6,2,3,3,3,5,7
3,2010,4.0,1045,AMERICAN AIRLINES GROUP INC,AAL,481111.0,USD,10.173469,0.073935,413.0,...,0,0,1,3,3,1,2,0,0,4
4,2011,1.0,1045,AMERICAN AIRLINES GROUP INC,AAL,481111.0,USD,2.807339,0.091090,504.0,...,0,0,3,4,5,1,1,3,1,2

In [32]:
allCompanies.to_csv("../../data/companyData/allCompaniesWithWeather.csv")

In [26]:
allCompanies.head()

,year,qtr,gvkey,companyName,tic,naics,curcdq,incomeChange,revenueChange,revenueChangeAbsolute,...,tmax_quant_0.95,tmax_quant_1.0,precip_quant_0.65,precip_quant_0.70,precip_quant_0.75,precip_quant_0.8,precip_quant_0.85,precip_quant_0.9,precip_quant_0.95,precip_quant_1.0
0,2010,1.0,1045,AMERICAN AIRLINES GROUP INC,AAL,481111.0,USD,-0.136634,0.091752,465.0,...,0,0,0,1,3,5,4,4,6,5
1,2010,2.0,1045,AMERICAN AIRLINES GROUP INC,AAL,481111.0,USD,25.000000,0.077547,440.0,...,6,31,0,6,2,6,3,1,4,3
2,2010,3.0,1045,AMERICAN AIRLINES GROUP INC,AAL,481111.0,USD,-2.132867,0.091407,534.0,...,11,65,0,6,2,3,3,3,5,7
3,2010,4.0,1045,AMERICAN AIRLINES GROUP INC,AAL,481111.0,USD,10.173469,0.073935,413.0,...,0,0,1,3,3,1,2,0,0,4
4,2011,1.0,1045,AMERICAN AIRLINES GROUP INC,AAL,481111.0,USD,2.807339,0.091090,504.0,...,0,0,3,4,5,1,1,3,1,2

## Get first-hop SC data

In [3]:
c_links = pd.read_csv("../../data/companyData/clinks_IG_selected.csv").drop(columns = {'Unnamed: 0'})
c_links.head()

,Unnamed: 0,year,supplier_gvkey,customer_gvkey,salecs,customer_naics,supplier_naics,customer_cstatCompanies,customer_igCompanies,customer_delete,customer_abi,supplier_cstatCompanies,supplier_igCompanies,supplier_delete,supplier_abi
0,0,2010,2497,9899,461.600,51,23,at t,at t,NaN,460637358,mastec,mastec,NaN,482985413
1,1,2011,2497,9899,692.065,51,23,at t,at t,NaN,460637358,mastec,mastec,NaN,482985413
2,2,2012,2497,9899,670.822,51,23,at t,at t,NaN,460637358,mastec,mastec,NaN,482985413
3,3,2013,2497,9899,778.462,51,23,at t,at t,NaN,460637358,mastec,mastec,NaN,482985413
4,4,2014,2497,9899,968.479,51,23,at t,at t,NaN,460637358,mastec,mastec,NaN,482985413

In [4]:
c_links['suppliers'] = 1
custExp = c_links[['year', 'customer_gvkey', 'salecs','suppliers']].groupby(['year','customer_gvkey']).sum().\
    reset_index().rename(columns = {'salecs': 'totalExp'})

custExp.head()

   year  customer_gvkey  totalExp  suppliers
0  2010            1045     0.000          1
1  2010            1078    84.192          5
2  2010            1161     0.000          1
3  2010            1177    27.269          1
4  2010            1300     6.027          2

In [5]:
print("Number of firms with no exp information and multiple suppliers: ", \
          sum(custExp[custExp.totalExp == 0].suppliers > 1))
print("Number of firms with no exp information and >5 suppliers: ", \
          sum(custExp[custExp.totalExp == 0].suppliers > 5))

Number of firms with no exp information and multiple suppliers:  172
Number of firms with no exp information and >5 suppliers:  1

Most of these firms have expenditure information. We can look at:
    - Expenditure-weighted (just do equal shares if no exp information)
    - Largest supplier

In [6]:
customerDB = c_links[['year','customer_gvkey','supplier_gvkey','salecs']].\
    merge(custExp).rename(columns = {'customer_gvkey': 'gvkey'}).drop_duplicates()
print(customerDB.shape)

customerDB.head()

(19828, 6)

   year  gvkey  supplier_gvkey   salecs  totalExp  suppliers
0  2010   9899            2497  461.600  4509.106         37
1  2010   9899            3275   10.806  4509.106         37
2  2010   9899            4115  201.679  4509.106         37
3  2010   9899            4900      NaN  4509.106         37
4  2010   9899           10420  574.805  4509.106         37

## Biggest Supplier
Focus on weather of biggest supplier.

First find the max by supplier. Add back in any rows with only 1 supplier.

In [28]:
# https://stackoverflow.com/questions/15705630/get-the-rows-which-have-the-max-value-in-groups-using-groupby
idx = customerDB.groupby(['year','gvkey']).salecs.\
    transform(max) == customerDB.salecs
largestSuppliers = customerDB[idx].reset_index(drop = True)
print(largestSuppliers.shape)

# find companies who only have one other supplier
singleSuppliers = customerDB[customerDB.suppliers == 1].reset_index(drop = True)
print(singleSuppliers.shape)

# find largest suppliers of different companies
largestSuppliers = largestSuppliers.append(singleSuppliers).drop_duplicates()
print(largestSuppliers.shape)

(4480, 6)
(2854, 6)
(5412, 6)

In [29]:
largestSuppliers.head()

   year  gvkey  supplier_gvkey    salecs  totalExp  suppliers
0  2010   9899          111880   865.425  4509.106         37
1  2011   9899          111880   921.541  4104.379         38
2  2012   9899          111880   844.195  3787.017         37
3  2013   9899          111880   936.839  4326.269         36
4  2014   9899          111880  1176.000  5631.291         36

In [34]:
suppliers_toMerge = suppliersWithWeather[['year','qtr','gvkey','tmax_quant_1.0','precip_quant_1.0']].\
    rename(columns = {'gvkey': 'supplier_gvkey',
                      'tmax_quant_1.0': 'supplier_tmax_quant_1.0',
                      'precip_quant_1.0': 'supplier_precip_quant_1.0'})

In [35]:
largestSuppliersWithWeather = largestSuppliers.merge(customersWithWeather[['year', 'qtr', 'gvkey', 'companyName', 'naics',
       'revenueChange', 'costChange',
       'inventoryChange', 'zipcode', 'tmax_quant_1.0', 'precip_quant_1.0']]).merge(suppliers_toMerge)

largestSuppliersWithWeather.shape

(12820, 17)

In [36]:
largestSuppliersWithWeather.head()

,year,gvkey,supplier_gvkey,salecs,totalExp,suppliers,qtr,companyName,naics,revenueChange,costChange,inventoryChange,zipcode,tmax_quant_1.0,precip_quant_1.0,supplier_tmax_quant_1.0,supplier_precip_quant_1.0
0,2010,9899,111880,865.425,4509.106,37,2.0,AT&T INC,517312.0,0.022299,0.024414,NaN,75202,30,3,8,5
1,2010,9899,111880,865.425,4509.106,37,3.0,AT&T INC,517312.0,-0.003261,-0.088423,NaN,75202,62,7,17,6
2,2010,9899,111880,865.425,4509.106,37,4.0,AT&T INC,517312.0,0.036415,0.209915,-0.088258,75202,0,4,0,3
3,2011,9899,111880,921.541,4104.379,38,1.0,AT&T INC,517312.0,0.018402,0.000312,NaN,75202,0,2,0,6
4,2011,9899,111880,921.541,4104.379,38,2.0,AT&T INC,517312.0,0.002540,-0.039354,NaN,75202,35,8,5,8

In [37]:
largestSuppliersWithWeather.to_csv("../../data/companyData/largestSuppliersWithWeather.csv")

## Sales-Weighted Average
If a company doesn't have sales-specific information, then assume equal shares. This doesn't happen for too many of the companies, thankfully.

In [81]:
customerDB = c_links[['year','customer_gvkey','supplier_gvkey','salecs']].\
    merge(custExp).rename(columns = {'customer_gvkey': 'gvkey'}).drop_duplicates()

customerDB['salesWeight'] = customerDB.salecs/customerDB.totalExp

customerDB.fillna(1, inplace = True)

Now merge this with the supplier weather data, and use the sales weights to find a sales-weighted average of the weather conditions for the suppliers.

In [82]:
suppliers_toMerge = suppliersWithWeather[['year','qtr','gvkey','tmax_quant_1.0','precip_quant_1.0']].\
    rename(columns = {'gvkey': 'supplier_gvkey',
                      'tmax_quant_1.0': 'supplier_tmax_quant_1.0',
                      'precip_quant_1.0': 'supplier_precip_quant_1.0'})

In [85]:
supplierWeather = customerDB.merge(suppliers_toMerge)[['year','qtr','gvkey','salesWeight','supplier_tmax_quant_1.0','supplier_precip_quant_1.0']]

supplierWeather['supplier_tmax_quant_1.0']   = supplierWeather.salesWeight*supplierWeather['supplier_tmax_quant_1.0']
supplierWeather['supplier_precip_quant_1.0'] = supplierWeather.salesWeight*supplierWeather['supplier_precip_quant_1.0']

supplierWeather = supplierWeather[['year','qtr','gvkey','supplier_tmax_quant_1.0','supplier_precip_quant_1.0']]

In [86]:
supplierWtdAvgWeather = supplierWeather.groupby(['year','qtr','gvkey']).sum().reset_index()

In [87]:
supplierWtdAvgWeather.shape

(18021, 5)

Merge the supplier weighted average weather data with the customer data that has weather as well.

In [88]:
wtdAvgSuppliers = customersWithWeather[['year', 'qtr', 'gvkey', 'companyName', 'naics',
       'revenueChange', 'costChange',
       'inventoryChange', 'zipcode', 'tmax_quant_1.0', 'precip_quant_1.0']].merge(supplierWtdAvgWeather)

wtdAvgSuppliers.head()

,year,qtr,gvkey,companyName,naics,revenueChange,costChange,inventoryChange,zipcode,tmax_quant_1.0,precip_quant_1.0,supplier_tmax_quant_1.0,supplier_precip_quant_1.0
0,2010,1.0,1045,AMERICAN AIRLINES GROUP INC,481111.0,0.091752,0.091284,0.077899,76155,0,5,0.0,0.000000
1,2010,2.0,1045,AMERICAN AIRLINES GROUP INC,481111.0,0.077547,0.139454,0.126538,76155,31,3,1.0,2.000000
2,2010,3.0,1045,AMERICAN AIRLINES GROUP INC,481111.0,0.091407,0.165973,0.097391,76155,65,7,1.0,9.000000
3,2010,4.0,1045,AMERICAN AIRLINES GROUP INC,481111.0,0.073935,0.105994,0.038721,76155,0,4,0.0,4.000000
4,2011,1.0,1045,AMERICAN AIRLINES GROUP INC,481111.0,0.091090,0.082808,0.040336,76155,0,2,0.0,12.352698

In [89]:
wtdAvgSuppliers.columns

Index(['year', 'qtr', 'gvkey', 'companyName', 'naics', 'revenueChange',
       'costChange', 'inventoryChange', 'zipcode', 'tmax_quant_1.0',
       'precip_quant_1.0', 'supplier_tmax_quant_1.0',
       'supplier_precip_quant_1.0'],
      dtype='object')

In [90]:
wtdAvgSuppliers.to_csv("../../data/companyData/wtdAvgSuppliers.csv")