In [1]:
import pickle as pkl
import pandas as pd
import matplotlib
import os
import re

import collections
import datetime
import time

import matplotlib.pyplot as plt
import seaborn as sns
    
import geopandas as gpd

import numpy as np

import rasterio

from difflib import get_close_matches

from fuzzywuzzy import process
from fuzzywuzzy import fuzz

import dask.dataframe as dd

import gc
import sys

from multiprocessing import Pool
import multiprocessing

from dask.diagnostics import ProgressBar

/Users/brianreed/opt/anaconda3/lib/python3.7/site-packages/dask/dataframe/utils.py:14: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

# Get Data
Get the temperature data for all zipcodes here.

In [2]:
def getData(weatherType,yearRange1,yearRange2):

    if weatherType == "Tmax":
        weatherVar = "temperature"
    else: 
        weatherVar = "precipitation"
    
    year = yearRange1
    filename = "../../../../../../../Volumes/backup2/dissData/prism/zipcode" + weatherType + str(year) + ".csv"
    data = dd.read_csv(filename, assume_missing=True)[['ZIP','date',weatherVar]]
    data['ZIP'] = data.ZIP.astype('int64')

    
   
    years = range(yearRange1 + 1,yearRange2 + 1)
    for year in years:
        filename = "../../../../../../../Volumes/backup2/dissData/prism/zipcode" + weatherType + str(year) + ".csv"
        tempData = dd.read_csv(filename, assume_missing=True)[['ZIP','date',weatherVar]]
        tempData['ZIP'] = tempData.ZIP.astype('int64')

        # tempData = tempData[tempData.ZIP.isin(relevantZips)]
        # tempData = tempData[~(tempData[weatherVar].isna().compute())]
        data = data.append(tempData)

    data = data[~(data[weatherVar].isna())] # .compute()
    
    return(data)

In [3]:
weatherType = "Tmax"
tempData = getData(weatherType, 2000, 2019)

tempData['quarter']  = dd.to_datetime(tempData['date'], format='%Y%m%d').dt.quarter

temp = tempData.compute(workers = 100)
temp.shape

(238552080, 4)

Set the extremes here.

In [4]:
temp['extreme'] = 1*(temp.temperature > 32)

In [5]:
temp['yearQuarter'] = pd.to_datetime(temp.date, format='%Y%m%d').dt.year.astype('str') + 'q' + \
    pd.to_datetime(temp.date, format='%Y%m%d').dt.quarter.astype('str')

# Check whether Streak Occurred - Daily

In [6]:
temp['extremeRolling'] = temp.groupby('ZIP')['extreme'].rolling(7).sum().reset_index(drop=True)
temp['heatWave']       = 1*(temp.extremeRolling == 7)
temp.head()

,ZIP,date,temperature,quarter,extreme,yearQuarter,extremeRolling,heatWave
142,1001,20000101.0,3.280,1,0,2000q1,0.0,0
143,1002,20000101.0,2.367,1,0,2000q1,0.0,0
144,1003,20000101.0,3.687,1,0,2000q1,0.0,0
145,1005,20000101.0,1.303,1,0,2000q1,0.0,0
146,1007,20000101.0,2.785,1,0,2000q1,0.0,0

In [7]:
temp.to_csv("../../data/companyData/heat_above90Daily.csv")

# Count Days Above 90 per Quarter

In [8]:
quarterlyExtremes = temp.groupby(['ZIP','yearQuarter']).sum().reset_index()[['ZIP','yearQuarter',
                                                                             'extreme','heatWave']]
quarterlyExtremes['heatWave'] = 1*(quarterlyExtremes['heatWave'] > 0)
quarterlyExtremes.head()

    ZIP yearQuarter  extreme  heatWave
0  1001      2000q1        0         0
1  1001      2000q2        5         0
2  1001      2000q3        0         0
3  1001      2000q4        0         0
4  1001      2001q1        0         0

In [9]:
quarterlyExtremes.to_csv("../../data/companyData/heat_above90Quarterly.csv")