In [2]:
import pickle as pkl
import pandas as pd
import matplotlib
import os
import re

import collections
import datetime
import time

import geopandas as gpd

import numpy as np

import rasterio

import spacy

import gc

nlp = spacy.load('en_core_web_lg')
from sklearn.metrics.pairwise import cosine_similarity

import itertools

# Get Data

## Changes from year to year

In [ ]:
changes = pd.read_csv("../../data/compustatChanges_all.csv").drop(columns = ['Unnamed: 0'])

changes.head()

In [ ]:
otherControls = pd.read_csv('../../data/companyData/otherControls.csv').\
    drop(columns = {'Unnamed: 0', 'fyearq'}).rename(columns = {'year_toMatchOn': 'year',
                                                              'fqtr': 'qtr'})

In [ ]:
otherControls.head()

In [ ]:
print(changes.shape)
changes = changes.merge(otherControls)
print(changes.shape)


industries = changes[['gvkey','famafrench']].drop_duplicates()

In [ ]:
'''changes.to_csv("../../data/companyData/compustatChanges_withControls.csv")
changes.head()'''

In [ ]:
changes = pd.read_csv("../../data/companyData/compustatChanges_withControls.csv")

Put in the calendar quarters and fiscal quarter data.

In [ ]:
quarters = pd.read_csv("../../data/companyData/fiscalYears.csv")
quarters.head()

In [ ]:
len(quarters.gvkey.unique())

In [ ]:
sum((quarters.fyr == 12) | 
   (quarters.fyr == 3) | 
   (quarters.fyr == 6) | 
   (quarters.fyr == 9))/quarters.shape[0]

In [ ]:
quarters = quarters[(quarters.fyr == 12) | 
   (quarters.fyr == 3) | 
   (quarters.fyr == 6) | 
   (quarters.fyr == 9)][['gvkey','datadate','datacqtr','datafqtr','fyr']].reset_index(drop = True)

In [ ]:
quarters.head()

Merge the quarter data into the change data, and make sure that the quarters that are used line up with the calendar quarters.

In [ ]:
changesCal = changes[changes.gvkey.isin(quarters.gvkey.unique())]

changesCal = changesCal.merge(quarters)

print(changesCal.shape[0]/changes.shape[0])

In [ ]:
changesCal.loc[~(changesCal.datacqtr.isna()), 'year'] = changesCal.datacqtr.str.slice(0,4)
changesCal.loc[~(changesCal.datacqtr.isna()), 'qtr']  = changesCal.datacqtr.str.slice(5,6)

changesCal['DATE'] = pd.to_datetime(changesCal['datadate'])

changesCal.loc[(changesCal.datacqtr.isna()), 'year'] = changesCal.DATE.dt.year
changesCal.loc[(changesCal.datacqtr.isna()), 'qtr']  = changesCal.DATE.dt.quarter

changesCal['year'] = changesCal.year.astype('int64')
changesCal['qtr']  = changesCal.qtr.astype('int64')

print(changesCal.shape,changesCal.head())

In [ ]:
changesCal.to_csv("../../data/companyData/compustatChanges_withControls.csv")
changesCal.head()

In [ ]:
changesCal = pd.read_csv("../../data/companyData/compustatChanges_withControls.csv")

# Compustat and ABI Linking

In [ ]:
gvKey_abiLinkingTable = pd.read_csv('../../data/companyData/linkingTable.csv').drop(columns = ['Unnamed: 0'])

base_columns = gvKey_abiLinkingTable.columns 
customer_columns = "customer_" + base_columns
supplier_columns = "supplier_" + base_columns



hasMatch = gvKey_abiLinkingTable.gvkey.unique()

gvKey_abiLinkingTable.head()

# SC Linking Table for 2010s

In [ ]:
# this does a little bit of a test on the reporting requirements. 
# number 

'''c_linksTest = pd.read_csv("../../data/companyData/compustatSCLinked.csv")[['srcdate','gvkey','cgvkey']]
c_linksTest['year'] = c_linksTest.srcdate.astype('str').str.slice(0,4).astype('int64')

bs = c_linksTest[c_linksTest.year < 2014]
print("Customers per supplier, 1978-2013 Pd: ", len(bs.cgvkey.unique())/len(bs.gvkey.unique()))

bs2 = c_linksTest[c_linksTest.year > 2010]
print("Customers per supplier, Recent Pd: ", len(bs2.cgvkey.unique())/len(bs2.gvkey.unique()))'''

In [ ]:
c_links = pd.read_csv("../../data/companyData/compustatSCLinked.csv")

c_links['year'] = c_links.srcdate.astype('str').str.slice(0,4).astype('int64')

c_links = c_links[c_links.year > 1999][['year','gvkey','cgvkey','salecs']].\
    rename(columns = {'cgvkey': 'customer_gvkey','gvkey': 'supplier_gvkey'})


print(c_links.shape)

c_links.head()

In [ ]:
industries.columns = ['customer_gvkey','customer_famafrench']

c_links = c_links.merge(industries)

industries.columns = ['supplier_gvkey','supplier_famafrench']

c_links = c_links.merge(industries)
c_links.head()

In [ ]:
c_links.shape

Now see if it's common to have one in and one out of the industries of interest. 

For now, let's keep all the different industry types.

We can always filter later if we need to.

In [ ]:
'''ofInterest = ['11','21','22','23','31','32','33','42','44','45','48','49']

c_linksCut = c_links[~(c_links.customer_naics.isin(ofInterest) & c_links.supplier_naics.isin(ofInterest))]

c_linksCut['relat'] = c_linksCut.customer_naics + "_" + c_linksCut.supplier_naics
c_linksCut.relat.value_counts()[0:10]

c_linksCut.supplier_naics.value_counts()[0:10]'''

In [ ]:
c_links.to_csv("../../data/companyData/c_links.csv")
# c_links = pd.read_csv("../../data/companyData/c_links.csv")

In [ ]:
sum(c_links.supplier_gvkey.isin(hasMatch) | c_links.customer_gvkey.isin(hasMatch))

## Merge SC Info In

In [ ]:
#########################
# merge in customer information
gvKey_abiLinkingTable.columns = customer_columns

print(c_links.shape)
c_linksMerge1 = c_links.merge(gvKey_abiLinkingTable, on ='customer_gvkey')
print(c_links.shape,c_linksMerge1.shape)



#########################
# and merge in supplier 
gvKey_abiLinkingTable.columns = supplier_columns

print(c_links.shape)
c_linksMerge2 = c_linksMerge1.merge(gvKey_abiLinkingTable, on ='supplier_gvkey')
print(c_links.shape,c_linksMerge2.shape)

In [ ]:
c_linksMerge2.to_csv("../../data/companyData/clinks_IG_selected.csv")

In [ ]:
c_linksMerge2

In [ ]:
gvKey_abiLinkingTable

This is probably because: (1) companies are not in North America, or (2) companies are not in the physical goods industries we're interested in. We can verify this though: look at c_links where both the customer and supplier are in the dataset of interest.

In [ ]:
chq     = pd.read_csv("../../data/chq.csv",dtype={'cstatZipcode': 'object'}).drop(columns = {'Unnamed: 0'})

c_linkTest = c_links[c_links.customer_gvkey.isin(chq.gvkey.unique()) & \
                     c_links.supplier_gvkey.isin(chq.gvkey.unique())]

print("Percent of firms with a match: ", c_linksMerge2.shape[0]/c_linkTest.shape[0])

It's entirely possible that we have too small of a sample from the 2010s alone. Let's just try it though and see how it goes.

First, make a sample with the companies on three years of either side of when it reports another customer.

In [ ]:
scTableCustomers = c_linksMerge2.copy()[['year','customer_gvkey','customer_abi']].drop_duplicates()
scTableSuppliers = c_linksMerge2.copy()[['year','supplier_gvkey','supplier_abi']].drop_duplicates()

In [ ]:
scTableCustomers.head()

In [ ]:
def makeOneEitherSide(df): 
    yrPlus1 = df.copy(); yrPlus1['year'] += 1
    # yrPlus2 = df.copy(); yrPlus2['year'] += 1
    # yrPlus3 = df.copy(); yrPlus3['year'] += 1
    
    yrMinus1 = df.copy(); yrMinus1['year'] -= 1
    # yrMinus2 = df.copy(); yrMinus2['year'] -= 1
    # yrMinus3 = df.copy(); yrMinus3['year'] -= 1
    
    all = pd.concat([yrPlus1,yrMinus1]) # pd.concat([yrPlus1,yrPlus2,yrPlus3,yrMinus1,yrMinus2,yrMinus3])
    
    return(all)

In [ ]:
allCustomerData = makeOneEitherSide(scTableCustomers)
allCustomerData.columns = ['year','gvkey','abi']


allSupplierData = makeOneEitherSide(scTableSuppliers)
allSupplierData.columns = ['year','gvkey','abi']

In [ ]:
allSupplierData.year

In [ ]:
allAbi = allCustomerData.abi.append(allSupplierData.abi).drop_duplicates()

In [ ]:
hqsOnly = pd.read_csv("../../data/ig_uniqueHQs.csv").drop(columns = {'Unnamed: 0'})

In [ ]:
hqsOnly.head()

In [ ]:
hq = pd.read_csv("../../data/ig_uniqueHQs_multLocations.csv").\
    drop(columns = {'Unnamed: 0'}).\
    rename(columns = {'archive_version_year': 'year'})

hq['year'] = hq.year.astype('int64')

hqRelevant = hq[hq.abi.isin(allAbi)]

In [ ]:

allSupplierData = allSupplierData.merge(hqRelevant).drop_duplicates()
allCustomerData = allCustomerData.merge(hqRelevant).drop_duplicates()

In [ ]:
allSupplierData.head()

In [ ]:
allCustomerData.to_csv("../../data/companyData/allCustomerData.csv")
allSupplierData.to_csv("../../data/companyData/allSupplierData.csv")

## Find Customer and Supplier pairings and merge with change data
### Can pick up here

In [2]:
allSupplierData = pd.read_csv("../../data/companyData/allSupplierData.csv").drop(columns = ['Unnamed: 0'])
allCustomerData = pd.read_csv("../../data/companyData/allCustomerData.csv").drop(columns = ['Unnamed: 0'])

In [3]:
changes = pd.read_csv("../../data/companyData/compustatChanges_withControls.csv").drop(columns = ['Unnamed: 0'])
changes.head()

/Users/brianreed/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Unnamed: 0.1,gvkey,datadate,year,qtr,companyName,curcdq,assets,costGoodsSold,totalInv,...,roa_lagged,famafrench,earliestYear,ageTercile,sizeTercile,profitTercile,datacqtr,datafqtr,fyr,DATE
0,0,1010,20010331,2001,1,ACF INDUSTRIES INC,USD,3750.1,56.3,53.9,...,0.005412,26.0,1962,0,2.0,1.0,2001Q1,2001Q1,12,1970-01-01 00:00:00.020010331
1,1,1010,20010630,2001,2,ACF INDUSTRIES INC,USD,3701.7,30.8,56.2,...,0.021410,26.0,1962,0,2.0,2.0,2001Q2,2001Q2,12,1970-01-01 00:00:00.020010630
2,2,1010,20010930,2001,3,ACF INDUSTRIES INC,USD,3930.6,37.0,49.8,...,NaN,26.0,1962,0,NaN,NaN,2001Q3,2001Q3,12,1970-01-01 00:00:00.020010930
3,3,1010,20011231,2001,4,ACF INDUSTRIES INC,USD,3723.1,30.0,42.4,...,-0.011506,26.0,1962,0,2.0,0.0,2001Q4,2001Q4,12,1970-01-01 00:00:00.020011231
4,4,1010,20020331,2002,1,ACF INDUSTRIES INC,USD,3691.9,26.1,40.6,...,0.019720,26.0,1962,0,2.0,2.0,2002Q1,2002Q1,12,1970-01-01 00:00:00.020020331

In [4]:
changes.columns[changes.columns.str.contains('Tercile')]

Index(['ageTercile', 'sizeTercile', 'profitTercile'], dtype='object')

In [5]:
allSupplierData.head()

,year,gvkey,abi,ticker,company,state,city,address_line_1,zipcode,latitude,longitude,parent_employee_size_code,location_employee_size_code,employeesAtLocation
0,2003,1013,7523129,NaN,ADC TELECOMMUNICATIONS INC,MN,EDEN PRAIRIE,13625 TECHNOLOGY DR,55344,44.85645,-93.45199,250.0,250.0,1.0
1,2005,1013,7523129,NaN,ADC TELECOMMUNICATIONS INC,MN,EDEN PRAIRIE,13625 TECHNOLOGY DR,55344,44.85645,-93.45199,250.0,250.0,1.0
2,2006,1013,7523129,NaN,ADC TELECOMMUNICATIONS INC,MN,EDEN PRAIRIE,13625 TECHNOLOGY DR,55344,44.85645,-93.45199,250.0,250.0,1.0
3,2007,1013,7523129,NaN,ADC TELECOMMUNICATIONS INC,MN,EDEN PRAIRIE,13625 TECHNOLOGY DR,55344,44.85645,-93.45199,250.0,250.0,1.0
4,2008,1013,7523129,NaN,ADC TELECOMMUNICATIONS INC,MN,EDEN PRAIRIE,13625 TECHNOLOGY DR,55344,44.85645,-93.45199,250.0,250.0,1.0

In [6]:
# allSupplierData.zipcode.drop_duplicates().to_csv("../../data/companyData/uniqueZIPS.csv")

In [7]:
suppliers = changes.merge(allSupplierData[['year','gvkey','zipcode','employeesAtLocation']])
suppliers.shape

(49996, 44)

In [8]:
customers = changes.merge(allCustomerData[['year','gvkey','zipcode','employeesAtLocation']])
customers.head()

,Unnamed: 0.1,gvkey,datadate,year,qtr,companyName,curcdq,assets,costGoodsSold,totalInv,...,earliestYear,ageTercile,sizeTercile,profitTercile,datacqtr,datafqtr,fyr,DATE,zipcode,employeesAtLocation
0,121,1045,20030331,2003,1,AMERICAN AIRLINES GROUP INC,USD,29086.0,3943.0,618.0,...,1963,0,2.0,1.0,2003Q1,2003Q1,12,1970-01-01 00:00:00.020030331,76155,1.0
1,122,1045,20030630,2003,2,AMERICAN AIRLINES GROUP INC,USD,29220.0,3589.0,557.0,...,1963,0,2.0,0.0,2003Q2,2003Q2,12,1970-01-01 00:00:00.020030630,76155,1.0
2,123,1045,20030930,2003,3,AMERICAN AIRLINES GROUP INC,USD,29943.0,3525.0,527.0,...,1963,0,2.0,0.0,2003Q3,2003Q3,12,1970-01-01 00:00:00.020030930,76155,1.0
3,124,1045,20031231,2003,4,AMERICAN AIRLINES GROUP INC,USD,29330.0,3373.0,516.0,...,1963,0,2.0,0.0,2003Q4,2003Q4,12,1970-01-01 00:00:00.020031231,76155,1.0
4,125,1045,20040331,2004,1,AMERICAN AIRLINES GROUP INC,USD,29950.0,3562.0,490.0,...,1963,0,2.0,0.0,2004Q1,2004Q1,12,1970-01-01 00:00:00.020040331,76155,1.0

In [9]:
print(allCustomerData.shape,allSupplierData.shape)

(9603, 14) (15529, 14)

---------------------------------

# Get all change data together
Get the linking table and merge the abi labels into the change df. 

Then, merge the location data into the change data and get as complete a record of companies as possible given the HQ data.

In [10]:
gvKey_abiLinkingTable = pd.read_csv('../../data/companyData/linkingTable.csv').drop(columns = ['Unnamed: 0'])

changes = pd.read_csv("../../data/companyData/compustatChanges_withControls.csv").drop(columns = ['Unnamed: 0'])
print(changes.shape, changes.head())


changesABI = changes.merge(gvKey_abiLinkingTable, on ='gvkey').drop(columns = {'state','city'})
print(changesABI.shape, changesABI.head())

/Users/brianreed/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

(645951, 42)    Unnamed: 0.1  gvkey  datadate  year  qtr         companyName curcdq  \
0             0   1010  20010331  2001    1  ACF INDUSTRIES INC    USD
1             1   1010  20010630  2001    2  ACF INDUSTRIES INC    USD
2             2   1010  20010930  2001    3  ACF INDUSTRIES INC    USD
3             3   1010  20011231  2001    4  ACF INDUSTRIES INC    USD
4             4   1010  20020331  2002    1  ACF INDUSTRIES INC    USD

   assets  costGoodsSold  totalInv  ...  roa_lagged  famafrench  earliestYear  \
0  3750.1           56.3      53.9  ...    0.005412        26.0          1962
1  3701.7           30.8      56.2  ...    0.021410        26.0          1962
2  3930.6           37.0      49.8  ...         NaN        26.0          1962
3  3723.1           30.0      42.4  ...   -0.011506        26.0          1962
4  3691.9           26.1      40.6  ...    0.019720        26.0          1962

  ageTercile sizeTercile profitTercile datacqtr datafqtr  fyr  \
0          0         2.0           1.0   2001Q1   2001Q1   12
1          0         2.0           2.0   2001Q2   2001Q2   12
2          0         NaN           NaN   2001Q3   2001Q3   12
3          0         2.0           0.0   2001Q4   2001Q4   12
4          0         2.0           2.0   2002Q1   2002Q1   12

                            DATE
0  1970-01-01 00:00:00.020010331
1  1970-01-01 00:00:00.020010630
2  1970-01-01 00:00:00.020010930
3  1970-01-01 00:00:00.020011231
4  1970-01-01 00:00:00.020020331

[5 rows x 42 columns]
(313403, 44)    Unnamed: 0.1  gvkey  datadate  year  qtr                 companyName  \
0            14   1013  20091231  2009    4  ADC TELECOMMUNICATIONS INC
1            15   1013  20100331  2010    1  ADC TELECOMMUNICATIONS INC
2            16   1013  20100630  2010    2  ADC TELECOMMUNICATIONS INC
3            17   1013  20100930  2010    3  ADC TELECOMMUNICATIONS INC
4            18   1019  20010331  2001    1  AFA PROTECTIVE SYSTEMS INC

  curcdq  assets  costGoodsSold  totalInv  ...  sizeTercile  profitTercile  \
0    USD  1336.1          157.9     123.9  ...          2.0            0.0
1    USD  1345.1          158.5     122.8  ...          2.0            1.0
2    USD  1415.0          176.2     116.3  ...          2.0            1.0
3    USD  1474.5          184.6     106.4  ...          2.0            0.0
4    USD     NaN            NaN       NaN  ...          NaN            NaN

   datacqtr datafqtr fyr                           DATE  \
0    2009Q4   2010Q1   9  1970-01-01 00:00:00.020091231
1    2010Q1   2010Q2   9  1970-01-01 00:00:00.020100331
2    2010Q2   2010Q3   9  1970-01-01 00:00:00.020100630
3    2010Q3   2010Q4   9  1970-01-01 00:00:00.020100930
4    2001Q1   2001Q1  12  1970-01-01 00:00:00.020010331

           cstatCompanies             igCompanies  delete        abi
0  adc telecommunications  adc telecommunications     NaN    7523129
1  adc telecommunications  adc telecommunications     NaN    7523129
2  adc telecommunications  adc telecommunications     NaN    7523129
3  adc telecommunications  adc telecommunications     NaN    7523129
4  afa protective systems  afa protective systems     NaN  317110880

[5 rows x 44 columns]

Now merge in the hq information.

In [11]:
canadian = ['ON', 'AB','QC', 'BC', 'NS', 'NF', 'SK', 'MB', 'NB']
changes = changes[~(changes.state.isin(canadian)) & ~changes.state.isna()]

changes['addzip'] = changes.addzip.astype('str').str.slice(0,5)

changes.state.unique()

array(['MO', 'MN', 'NY', 'NJ', 'PA', 'TX', 'SC', 'AZ', 'UT', 'IL', 'MA',
       'WA', 'CT', 'FL', 'CA', 'MD', 'NC', 'AL', 'HI', 'OH', 'AR', 'GA',
       'CO', 'NV', 'KS', 'ID', 'WI', 'ME', 'WY', 'VA', 'OK', 'VT', 'DE',
       'IN', 'PR', 'IA', 'MI', 'LA', 'RI', 'NE', 'MT', 'SD', 'OR', 'DC',
       'WV', 'KY', 'TN', 'MS', 'ND', 'NH', 'NM', 'VI', 'AK', 'GU'],
      dtype=object)

In [12]:
changes.drop(columns = {'Unnamed: 0.1'}, inplace = True)

In [13]:
hq = pd.read_csv("../../data/ig_uniqueHQs_multLocations.csv").\
    drop(columns = {'Unnamed: 0'}).\
    rename(columns = {'archive_version_year': 'year'})

hq['year'] = hq.year.astype('int64')

igChanges = changesABI.merge(hq)
print(igChanges.shape, igChanges.head())


hq.head()

(241835, 55)    Unnamed: 0.1  gvkey  datadate  year  qtr                  companyName  \
0            14   1013  20091231  2009    4   ADC TELECOMMUNICATIONS INC
1            15   1013  20100331  2010    1   ADC TELECOMMUNICATIONS INC
2            16   1013  20100630  2010    2   ADC TELECOMMUNICATIONS INC
3            17   1013  20100930  2010    3   ADC TELECOMMUNICATIONS INC
4           121   1045  20030331  2003    1  AMERICAN AIRLINES GROUP INC

  curcdq   assets  costGoodsSold  totalInv  ...                     company  \
0    USD   1336.1          157.9     123.9  ...  ADC TELECOMMUNICATIONS INC
1    USD   1345.1          158.5     122.8  ...  ADC TELECOMMUNICATIONS INC
2    USD   1415.0          176.2     116.3  ...  ADC TELECOMMUNICATIONS INC
3    USD   1474.5          184.6     106.4  ...  ADC TELECOMMUNICATIONS INC
4    USD  29086.0         3943.0     618.0  ...                    AMR CORP

   state          city         address_line_1 zipcode  latitude longitude  \
0     MN  EDEN PRAIRIE    13625 TECHNOLOGY DR   55344  44.85645 -93.45199
1     MN  EDEN PRAIRIE    13625 TECHNOLOGY DR   55344  44.85645 -93.45199
2     MN  EDEN PRAIRIE    13625 TECHNOLOGY DR   55344  44.85645 -93.45199
3     MN  EDEN PRAIRIE    13625 TECHNOLOGY DR   55344  44.85645 -93.45199
4     TX    FORT WORTH  4333 AMON CARTER BLVD   76155  32.82563 -97.05057

   parent_employee_size_code  location_employee_size_code  employeesAtLocation
0                      250.0                        250.0                  1.0
1                      250.0                        250.0                  1.0
2                      250.0                        250.0                  1.0
3                      250.0                        250.0                  1.0
4                     1000.0                       1000.0                  1.0

[5 rows x 55 columns]

,abi,ticker,company,year,state,city,address_line_1,zipcode,latitude,longitude,parent_employee_size_code,location_employee_size_code,employeesAtLocation
0,7609,SODI,SOLITRON DEVICES INC,2003,FL,WEST PALM BEACH,3301 ELECTRONICS WAY # C,33407,26.74120,-80.06694,NaN,NaN,NaN
1,23077,NaN,JENNY LEE BAKERY,2003,PA,MC KEES ROCKS,620 ISLAND AVE,15136,40.47235,-80.06152,50.0,50.0,1.0
2,76547,NaN,MASTER PROTECTION CORP,2003,FL,FORT MYERS,12800 UNIVERSITY DR # 400,33907,26.55504,-81.88423,20.0,20.0,1.0
3,77743,NaN,NATIONAL TECHNICAL SYSTEMS INC,2003,CA,CALABASAS,24007 VENTURA BLVD # 200,91302,34.15562,-118.65163,10.0,10.0,1.0
4,89151,NaN,HILLTOP BASIC RESOURCES,2003,OH,CINCINNATI,1 W 4TH ST # 1100,45202,39.09982,-84.51297,20.0,20.0,1.0

In [14]:
igChanges.to_csv("../../data/companyData/igData.csv")

At this point, we have zip information in the following forms (from most to least examples):
    - changes: all compustat companies, from the compustat address system
    - igChanges: subset of compustat companies, from the ig merge
    - subset of compustat companies that have SC information and survived the ig merge
    
We could potentially look at the subset of compustat companies for which we have SC information, usign the compustat address system as well.

For now: follow similar trajectory as before but add in weather data for all cstat companies and all ig-merged companies.

First: pull all zips that are mentioned in changes and igChanges and use this to get the weather data.

In [15]:
changes = changes[(~changes.addzip.isna()) & (changes.addzip != 'nan')]
relevantZips = changes.addzip.astype('int64').append(igChanges.zipcode).unique()

In [16]:
len(relevantZips)

4538

In [17]:
# relevantZips = allCustomerData.zipcode.append(allSupplierData.zipcode).unique()
outfile =  '../../data/companyData/relevantZips.pkl'
with open(outfile, 'wb') as pickle_file:
    pkl.dump(relevantZips, pickle_file)

------------------------------------------------

# Weather Data

In [18]:
averages = pd.read_csv("../../data/companyData/quarterlyStatsByZip.csv").\
    drop(columns = {"Unnamed: 0"}).rename(columns = {'ZIP': 'zipcode'})


averages['qtr'] = averages.quarter.str.slice(1,2).astype('float')
averages.drop(columns = {'quarter'}, inplace = True) 

print(len(averages.zipcode.unique()))

averages.head()

4456

,zipcode,quarterly_avg_precip,quarterly_median_precip,quarterly_variance_precip,quarterly_avg_temp,quarterly_median_temp,quarterly_variance_temp,qtr
0,1001,2.866177,0.0,48.053550,4.253855,3.9460,42.033604,1.0
1,1001,3.601853,0.0,75.610613,20.817859,21.2870,49.057586,2.0
2,1001,3.468813,0.0,88.529803,26.791997,27.3020,20.188445,3.0
3,1001,3.435141,0.0,74.436349,10.708047,10.7795,55.548389,4.0
4,1013,2.755833,0.0,47.911696,3.964976,3.6070,42.290685,1.0

In [19]:
# allWeather = pd.read_csv("../../../../../../../Volumes/backup2/dissData/prism/allWeatherBins_2010.2019.csv").\
allWeather = pd.read_csv("../../data/companyData/revised_allWeatherBins_2009to2019.csv").\
    drop(columns = {"Unnamed: 0"})

allWeather['yearQtr'] = allWeather.year + (allWeather.qtr - 1)/4

In [20]:
changes.rename(columns = {'addzip': 'zipcode'}, inplace = True)
changes.drop(columns = {'cik',
     'datadate','costat', 'add1', 'add2', 'city', 'sic', 'state'}, inplace = True)

In [21]:
changes.columns

Index(['gvkey', 'year', 'qtr', 'companyName', 'curcdq', 'assets',
       'costGoodsSold', 'totalInv', 'netIncome', 'totalRevenue', 'zipcode',
       'assetsLast', 'netIncomeLast', 'totalRevenueLast', 'costGoodsSoldLast',
       'totalInvLast', 'incomeChange', 'revenueChange', 'costChange',
       'inventoryChange', 'assetsPrev', 'assetsLagged', 'netIncomeLagged',
       'roa_lagged', 'famafrench', 'earliestYear', 'ageTercile', 'sizeTercile',
       'profitTercile', 'datacqtr', 'datafqtr', 'fyr', 'DATE'],
      dtype='object')

In [22]:
col = allWeather.pop("yearQtr")
allWeather.insert(0, col.name, col)

In [23]:
allWeather.head()

,yearQtr,zipcode,year,qtr,precip_annualquant_0.95,precip_annualquant_1xQtr,precip_annualquant_1xYr,precip_annualquant_1x5Qtrs,precip_annualquant_1x10Qtrs,precip_annualquant_1x5Yrs,...,temp5Days_zipquant_1x10Qtrs,temp5Days_zipquant_1x5Yrs,temp5Days_zipquant_1x10Yrs,temp5Days_zipQuarterquant_0.95,temp5Days_zipQuarterquant_1xQtr,temp5Days_zipQuarterquant_1xYr,temp5Days_zipQuarterquant_1x5Qtrs,temp5Days_zipQuarterquant_1x10Qtrs,temp5Days_zipQuarterquant_1x5Yrs,temp5Days_zipQuarterquant_1x10Yrs
0,2009.00,1001,2009,1.0,9,3,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0
1,2009.25,1001,2009,2.0,15,8,2,0,0,0,...,0,0,0,2,1,0,0,0,0,0
2,2009.50,1001,2009,3.0,13,9,4,0,0,0,...,0,0,0,2,0,0,0,0,0,0
3,2009.75,1001,2009,4.0,14,7,1,0,0,0,...,0,0,0,3,1,0,0,0,0,0
4,2010.00,1001,2010,1.0,10,9,5,0,0,0,...,0,0,0,3,2,0,0,0,0,0

In [24]:
lag1 = allWeather.copy()
lag1['yearQtr'] += 0.25
for colname in lag1.columns[4:]:
    lag1.rename(columns = {colname: 'lag1_' + colname}, inplace = True)
lag1.drop(columns = {'year','qtr'},inplace = True)

    
lag2 = allWeather.copy()
lag2['yearQtr'] += 0.5
for colname in lag2.columns[4:]:
    lag2.rename(columns = {colname: 'lag2_' + colname}, inplace = True)
lag2.drop(columns = {'year','qtr'},inplace = True)


lag3 = allWeather.copy()
lag3['yearQtr'] += 0.75
for colname in lag3.columns[4:]:
    lag3.rename(columns = {colname: 'lag3_' + colname}, inplace = True)
lag3.drop(columns = {'year','qtr'},inplace = True)


lag4 = allWeather.copy()
lag4['yearQtr'] += 1
for colname in lag4.columns[4:]:
    lag4.rename(columns = {colname: 'lag4_' + colname}, inplace = True)
lag4.drop(columns = {'year','qtr'},inplace = True)


print(allWeather.shape)

(184492, 88)

In [25]:
allWeather_withLags = allWeather.merge(lag1).merge(lag2).merge(lag3).merge(lag4)

allWeather_withLags.year.value_counts()

2010    16772
2011    16772
2012    16772
2013    16772
2014    16772
2015    16772
2016    16772
2017    16772
2018    16772
2019    16772
Name: year, dtype: int64

Now do the same for the industry-specific weather.

In [36]:
# allWeather = pd.read_csv("../../../../../../../Volumes/backup2/dissData/prism/allWeatherBins_2010.2019.csv").\
allWeather_byInd = pd.read_csv("../../data/companyData/revised_allWeatherBins_2009to2019_byInd.csv").\
    drop(columns = {"Unnamed: 0"})
'''[['famafrench','zipcode','yearQuarter', 
                                    'temp_ffquant_0.95','temp_indQuarterquant_0.95',
                                   'temp5Days_ffquant_0.95', 'temp5Days_indQuarterquant_0.95',
                                   'precip_ffquant_0.95', 'precip_indQuarterquant_0.95',
                                   'precip5Days_ffquant_0.95', 'precip5Days_indQuarterquant_0.95']]
'''
allWeather_byInd['year'] = allWeather_byInd.yearQuarter.str.slice(0,4).astype('int64')
allWeather_byInd['qtr']  = allWeather_byInd.yearQuarter.str.slice(5,6).astype('int64')
allWeather_byInd['yearQtr'] = allWeather_byInd.year + (allWeather_byInd.qtr - 1)/4

allWeather_byInd = allWeather_byInd.astype({'year':       'category',
                         'qtr':        'category',
                         'zipcode':    'category',
                         'famafrench': 'category'})

changes['zipcode'] = changes['zipcode'].astype({'zipcode': 'int64'})

changes = changes.astype({'year':       'category',
                          'qtr':        'category',
                          'zipcode':    'category',
                          'famafrench': 'category'})

col = allWeather_byInd.pop("year")
allWeather_byInd.insert(0, col.name, col)

col = allWeather_byInd.pop("qtr")
allWeather_byInd.insert(0, col.name, col)


col = allWeather_byInd.pop("yearQtr")
allWeather_byInd.insert(0, col.name, col)

allWeather_byInd.drop(columns = {'yearQuarter'}, inplace = True)

print(allWeather_byInd.head())

   yearQtr qtr  year famafrench zipcode  temp_ffquant_0.95  \
0  2009.00   1  2009        1.0    1013                  0
1  2009.25   2  2009        1.0    1013                  0
2  2009.50   3  2009        1.0    1013                  0
3  2009.75   4  2009        1.0    1013                  0
4  2010.00   1  2010        1.0    1013                  0

   temp_ffquant_1xQtr  temp_ffquant_1xYr  temp_ffquant_1x5Qtrs  \
0                   0                  0                     0
1                   0                  0                     0
2                   0                  0                     0
3                   0                  0                     0
4                   0                  0                     0

   temp_ffquant_1x10Qtrs  ...  precip5Days_ffquant_1x10Qtrs  \
0                      0  ...                             0
1                      0  ...                             0
2                      0  ...                             0
3                      0  ...                             0
4                      0  ...                             0

   precip5Days_ffquant_1x5Yrs  precip5Days_ffquant_1x10Yrs  \
0                           0                            0
1                           0                            0
2                           0                            0
3                           0                            0
4                           0                            0

   precip5Days_indQuarterquant_0.95  precip5Days_indQuarterquant_1xQtr  \
0                                 0                                  0
1                                 0                                  0
2                                 0                                  0
3                                 0                                  0
4                                 0                                  0

   precip5Days_indQuarterquant_1xYr  precip5Days_indQuarterquant_1x5Qtrs  \
0                                 0                                    0
1                                 0                                    0
2                                 0                                    0
3                                 0                                    0
4                                 0                                    0

   precip5Days_indQuarterquant_1x10Qtrs  precip5Days_indQuarterquant_1x5Yrs  \
0                                     0                                   0
1                                     0                                   0
2                                     0                                   0
3                                     0                                   0
4                                     0                                   0

   precip5Days_indQuarterquant_1x10Yrs
0                                    0
1                                    0
2                                    0
3                                    0
4                                    0

[5 rows x 61 columns]

In [37]:
allWeather.columns

Index(['yearQtr', 'zipcode', 'year', 'qtr', 'precip_annualquant_0.95',
       'precip_annualquant_1xQtr', 'precip_annualquant_1xYr',
       'precip_annualquant_1x5Qtrs', 'precip_annualquant_1x10Qtrs',
       'precip_annualquant_1x5Yrs', 'precip_annualquant_1x10Yrs',
       'precip_zipquant_0.95', 'precip_zipquant_1xQtr', 'precip_zipquant_1xYr',
       'precip_zipquant_1x5Qtrs', 'precip_zipquant_1x10Qtrs',
       'precip_zipquant_1x5Yrs', 'precip_zipquant_1x10Yrs',
       'precip_zipQuarterquant_0.95', 'precip_zipQuarterquant_1xQtr',
       'precip_zipQuarterquant_1xYr', 'precip_zipQuarterquant_1x5Qtrs',
       'precip_zipQuarterquant_1x10Qtrs', 'precip_zipQuarterquant_1x5Yrs',
       'precip_zipQuarterquant_1x10Yrs', 'temp_annualquant_0.95',
       'temp_annualquant_1xQtr', 'temp_annualquant_1xYr',
       'temp_annualquant_1x5Qtrs', 'temp_annualquant_1x10Qtrs',
       'temp_annualquant_1x5Yrs', 'temp_annualquant_1x10Yrs',
       'temp_zipquant_0.95', 'temp_zipquant_1xQtr', 'temp_zipquant_1xYr',
       'temp_zipquant_1x5Qtrs', 'temp_zipquant_1x10Qtrs',
       'temp_zipquant_1x5Yrs', 'temp_zipquant_1x10Yrs',
       'temp_zipQuarterquant_0.95', 'temp_zipQuarterquant_1xQtr',
       'temp_zipQuarterquant_1xYr', 'temp_zipQuarterquant_1x5Qtrs',
       'temp_zipQuarterquant_1x10Qtrs', 'temp_zipQuarterquant_1x5Yrs',
       'temp_zipQuarterquant_1x10Yrs', 'precip5Days_annualquant_0.95',
       'precip5Days_annualquant_1xQtr', 'precip5Days_annualquant_1xYr',
       'precip5Days_annualquant_1x5Qtrs', 'precip5Days_annualquant_1x10Qtrs',
       'precip5Days_annualquant_1x5Yrs', 'precip5Days_annualquant_1x10Yrs',
       'precip5Days_zipquant_0.95', 'precip5Days_zipquant_1xQtr',
       'precip5Days_zipquant_1xYr', 'precip5Days_zipquant_1x5Qtrs',
       'precip5Days_zipquant_1x10Qtrs', 'precip5Days_zipquant_1x5Yrs',
       'precip5Days_zipquant_1x10Yrs', 'precip5Days_zipQuarterquant_0.95',
       'precip5Days_zipQuarterquant_1xQtr', 'precip5Days_zipQuarterquant_1xYr',
       'precip5Days_zipQuarterquant_1x5Qtrs',
       'precip5Days_zipQuarterquant_1x10Qtrs',
       'precip5Days_zipQuarterquant_1x5Yrs',
       'precip5Days_zipQuarterquant_1x10Yrs', 'temp5Days_annualquant_0.95',
       'temp5Days_annualquant_1xQtr', 'temp5Days_annualquant_1xYr',
       'temp5Days_annualquant_1x5Qtrs', 'temp5Days_annualquant_1x10Qtrs',
       'temp5Days_annualquant_1x5Yrs', 'temp5Days_annualquant_1x10Yrs',
       'temp5Days_zipquant_0.95', 'temp5Days_zipquant_1xQtr',
       'temp5Days_zipquant_1xYr', 'temp5Days_zipquant_1x5Qtrs',
       'temp5Days_zipquant_1x10Qtrs', 'temp5Days_zipquant_1x5Yrs',
       'temp5Days_zipquant_1x10Yrs', 'temp5Days_zipQuarterquant_0.95',
       'temp5Days_zipQuarterquant_1xQtr', 'temp5Days_zipQuarterquant_1xYr',
       'temp5Days_zipQuarterquant_1x5Qtrs',
       'temp5Days_zipQuarterquant_1x10Qtrs',
       'temp5Days_zipQuarterquant_1x5Yrs',
       'temp5Days_zipQuarterquant_1x10Yrs'],
      dtype='object')

In [38]:
allWeather_byInd.columns

Index(['yearQtr', 'qtr', 'year', 'famafrench', 'zipcode', 'temp_ffquant_0.95',
       'temp_ffquant_1xQtr', 'temp_ffquant_1xYr', 'temp_ffquant_1x5Qtrs',
       'temp_ffquant_1x10Qtrs', 'temp_ffquant_1x5Yrs', 'temp_ffquant_1x10Yrs',
       'temp_indQuarterquant_0.95', 'temp_indQuarterquant_1xQtr',
       'temp_indQuarterquant_1xYr', 'temp_indQuarterquant_1x5Qtrs',
       'temp_indQuarterquant_1x10Qtrs', 'temp_indQuarterquant_1x5Yrs',
       'temp_indQuarterquant_1x10Yrs', 'temp5Days_ffquant_0.95',
       'temp5Days_ffquant_1xQtr', 'temp5Days_ffquant_1xYr',
       'temp5Days_ffquant_1x5Qtrs', 'temp5Days_ffquant_1x10Qtrs',
       'temp5Days_ffquant_1x5Yrs', 'temp5Days_ffquant_1x10Yrs',
       'temp5Days_indQuarterquant_0.95', 'temp5Days_indQuarterquant_1xQtr',
       'temp5Days_indQuarterquant_1xYr', 'temp5Days_indQuarterquant_1x5Qtrs',
       'temp5Days_indQuarterquant_1x10Qtrs',
       'temp5Days_indQuarterquant_1x5Yrs', 'temp5Days_indQuarterquant_1x10Yrs',
       'precip_ffquant_0.95', 'precip_ffquant_1xQtr', 'precip_ffquant_1xYr',
       'precip_ffquant_1x5Qtrs', 'precip_ffquant_1x10Qtrs',
       'precip_ffquant_1x5Yrs', 'precip_ffquant_1x10Yrs',
       'precip_indQuarterquant_0.95', 'precip_indQuarterquant_1xQtr',
       'precip_indQuarterquant_1xYr', 'precip_indQuarterquant_1x5Qtrs',
       'precip_indQuarterquant_1x10Qtrs', 'precip_indQuarterquant_1x5Yrs',
       'precip_indQuarterquant_1x10Yrs', 'precip5Days_ffquant_0.95',
       'precip5Days_ffquant_1xQtr', 'precip5Days_ffquant_1xYr',
       'precip5Days_ffquant_1x5Qtrs', 'precip5Days_ffquant_1x10Qtrs',
       'precip5Days_ffquant_1x5Yrs', 'precip5Days_ffquant_1x10Yrs',
       'precip5Days_indQuarterquant_0.95', 'precip5Days_indQuarterquant_1xQtr',
       'precip5Days_indQuarterquant_1xYr',
       'precip5Days_indQuarterquant_1x5Qtrs',
       'precip5Days_indQuarterquant_1x10Qtrs',
       'precip5Days_indQuarterquant_1x5Yrs',
       'precip5Days_indQuarterquant_1x10Yrs'],
      dtype='object')

In [39]:
lag1 = allWeather_byInd.copy()
lag1['yearQtr'] += 0.25
for colname in lag1.columns[5:]:
    lag1.rename(columns = {colname: 'lag1_' + colname}, inplace = True)
lag1.drop(columns = {'year','qtr'},inplace = True)
lag1 = lag1.astype({'yearQtr':       'category'})

    
lag2 = allWeather_byInd.copy()
lag2['yearQtr'] += 0.5
for colname in lag2.columns[5:]:
    lag2.rename(columns = {colname: 'lag2_' + colname}, inplace = True)
lag2.drop(columns = {'year','qtr'},inplace = True)
lag2 = lag2.astype({'yearQtr':       'category'})


lag3 = allWeather_byInd.copy()
lag3['yearQtr'] += 0.75
for colname in lag3.columns[5:]:
    lag3.rename(columns = {colname: 'lag3_' + colname}, inplace = True)
lag3.drop(columns = {'year','qtr'},inplace = True)
lag3 = lag3.astype({'yearQtr':       'category'})


lag4 = allWeather_byInd.copy()
lag4['yearQtr'] += 1
for colname in lag4.columns[5:]:
    lag4.rename(columns = {colname: 'lag4_' + colname}, inplace = True)
lag4.drop(columns = {'year','qtr'},inplace = True)
lag4 = lag4.astype({'yearQtr':       'category'})


allWeather_byInd = allWeather_byInd.astype({'yearQtr':       'category'})


print(allWeather_byInd.shape)


allWeather_byInd.head()


'''allWeather_byInd_withLags = allWeather_byInd.merge(lag1).merge(lag2).merge(lag3).merge(lag4)

allWeather_byInd_withLags.year.value_counts()
'''

(6540864, 61)

'allWeather_byInd_withLags = allWeather_byInd.merge(lag1).merge(lag2).merge(lag3).merge(lag4)\n\nallWeather_byInd_withLags.year.value_counts()\n'

In [40]:
allWeather_byInd_withLags = allWeather_byInd.merge(lag1).merge(lag2).merge(lag3).merge(lag4)

In [41]:
allWeather_byInd_withLags.shape

(5946240, 285)

In [42]:
allWeather_byInd_withLags.to_csv("../../data/companyData/allWeather_byInd_withLags.csv")

In [45]:
del allWeather_byInd
del lag1
del lag2
del lag3
del lag4
gc.collect()

NameError: name 'allWeather_byInd' is not defined

Merge weather to full cstat database.

In [47]:
# changes['zipcode']  = changes['zipcode'].astype('int64')
changesWithWeather = changes.merge(allWeather_withLags).merge(allWeather_byInd_withLags).merge(averages)
print(changes.shape,changesWithWeather.shape)

(487582, 33) (189833, 740)

In [48]:
changesWithWeather.to_csv("../../data/companyData/cstatWithWeather.csv")

Merge weather to the ig-cstat database.

In [49]:
igChangesWithWeather = igChanges.merge(allWeather_withLags).merge(allWeather_byInd_withLags).merge(averages)
igChangesWithWeather.shape

(131383, 762)

In [50]:
igChangesWithWeather.to_csv("../../data/companyData/igWithWeather.csv")

In [ ]:
igChangesWithWeather.head()

In [54]:
igChangesWithWeather['temp_zipquant_0.95'].describe()

count    131383.000000
mean         10.639710
std          14.299951
min           0.000000
25%           0.000000
50%           4.000000
75%          17.000000
max          79.000000
Name: temp_zipquant_0.95, dtype: float64

In [52]:
igChangesWithWeather['temp5Days_ffquant_0.95'].describe()

count    131383.000000
mean         10.449975
std           9.267852
min           0.000000
25%           3.000000
50%           8.000000
75%          17.000000
max          37.000000
Name: temp5Days_ffquant_0.95, dtype: float64

And then do the SC information.

In [ ]:
customersWithWeather = customers.merge(allWeather_withLags).merge(averages).merge(allWeather_byInd_withLags)
customersWithWeather.shape

In [ ]:
suppliersWithWeather = suppliers.merge(allWeather_withLags).merge(averages).merge(allWeather_byInd_withLags)
suppliersWithWeather.shape

In [ ]:
suppliersWithWeather.to_csv("../../data/companyData/suppliersWithWeather.csv")
customersWithWeather.to_csv("../../data/companyData/customersWithWeather.csv")

In [ ]:
suppliersWithWeather = pd.read_csv("../../data/companyData/suppliersWithWeather.csv").drop(columns = {'Unnamed: 0'})
customersWithWeather = pd.read_csv("../../data/companyData/customersWithWeather.csv").drop(columns = {'Unnamed: 0'})

In [ ]:
frames = [customersWithWeather, suppliersWithWeather]

allCompanies = pd.concat(frames).drop_duplicates()

print(allCompanies.shape)

In [ ]:
allCompanies.columns

In [ ]:
np.max(allCompanies.lag4_precip5Days_zipquant_1x10Qtrs)

In [ ]:
allCompanies.to_csv("../../data/companyData/allCompaniesWithWeather.csv")

In [ ]:
allCompanies.shape

In [ ]:
allCompanies.head()

## Get first-hop SC data

In [9]:
c_links = pd.read_csv("../../data/companyData/clinks_IG_selected.csv").drop(columns = {'Unnamed: 0'})
c_links.head()

,year,supplier_gvkey,customer_gvkey,salecs,customer_famafrench,supplier_famafrench,customer_cstatCompanies,customer_igCompanies,customer_delete,customer_abi,supplier_cstatCompanies,supplier_igCompanies,supplier_delete,supplier_abi
0,2002,1013,2136,111.056,33.0,37.0,verizonmmunications,verizonmmunications,NaN,7564776,adc telecommunications,adc telecommunications,NaN,7523129
1,2004,1013,2136,104.312,33.0,37.0,verizonmmunications,verizonmmunications,NaN,7564776,adc telecommunications,adc telecommunications,NaN,7523129
2,2005,1013,2136,146.000,33.0,37.0,verizonmmunications,verizonmmunications,NaN,7564776,adc telecommunications,adc telecommunications,NaN,7523129
3,2006,1013,2136,205.000,33.0,37.0,verizonmmunications,verizonmmunications,NaN,7564776,adc telecommunications,adc telecommunications,NaN,7523129
4,2007,1013,2136,236.000,33.0,37.0,verizonmmunications,verizonmmunications,NaN,7564776,adc telecommunications,adc telecommunications,NaN,7523129

In [14]:
c_links[c_links.supplier_famafrench == 31.0].customer_famafrench.value_counts()

31.0    1370
42.0     326
32.0     270
43.0      18
48.0      18
35.0      13
45.0      11
41.0       9
14.0       8
13.0       8
36.0       8
23.0       4
24.0       3
44.0       3
18.0       3
2.0        2
21.0       2
37.0       1
38.0       1
Name: customer_famafrench, dtype: int64

In [ ]:
c_links['suppliers'] = 1
custExp = c_links[['year', 'customer_gvkey', 'salecs','suppliers']].groupby(['year','customer_gvkey']).sum().\
    reset_index().rename(columns = {'salecs': 'totalExp'})

custExp.head()

In [ ]:
print("Number of firms with no exp information and multiple suppliers: ", \
          sum(custExp[custExp.totalExp == 0].suppliers > 1))
print("Number of firms with no exp information and >5 suppliers: ", \
          sum(custExp[custExp.totalExp == 0].suppliers > 5))

Most of these firms have expenditure information. We can look at:
    - Expenditure-weighted (just do equal shares if no exp information)
    - Largest supplier

In [ ]:
customerDB = c_links[['year','customer_gvkey','supplier_gvkey','salecs']].\
    merge(custExp).rename(columns = {'customer_gvkey': 'gvkey'}).drop_duplicates()
print(customerDB.shape)

customerDB.head()

## Biggest Supplier
Focus on weather of biggest supplier.

First find the max by supplier. Add back in any rows with only 1 supplier.

In [ ]:
customerDB.shape

In [ ]:
# https://stackoverflow.com/questions/15705630/get-the-rows-which-have-the-max-value-in-groups-using-groupby
idx = customerDB.groupby(['year','gvkey']).salecs.\
    transform(max) == customerDB.salecs
largestSuppliers = customerDB[idx].reset_index(drop = True)
print(largestSuppliers.shape)

# find companies who only have one other supplier
singleSuppliers = customerDB[customerDB.suppliers == 1].reset_index(drop = True)
print(singleSuppliers.shape)

# find largest suppliers of different companies
largestSuppliers = largestSuppliers.append(singleSuppliers).drop_duplicates()
print(largestSuppliers.shape)

In [ ]:
customerDB[['year','gvkey']][customerDB.year > 2009].drop_duplicates().shape

In [ ]:
len(largestSuppliers.gvkey.unique())

In [ ]:
for column in suppliersWithWeather.columns:
    print(column)

In [ ]:
relevantVars = [x for x in suppliersWithWeather.columns if (('year' in x) | 
                                                 ('qtr' in x) |
                                                 ('gvkey' in x) |
                                                 ('_' in x)) & 
                                                ~('roa_lagged' in x) & 
                                                ~('yearQtr' in x)]

suppliers_toMerge = suppliersWithWeather[relevantVars]


for colname in suppliers_toMerge.columns[3:]:
    suppliers_toMerge.rename(columns = {colname: 'supplier_' + colname}, inplace = True)

    
suppliers_toMerge.rename(columns = {'gvkey': 'supplier_gvkey'},inplace = True)    

print(suppliers_toMerge.columns)


'''suppliers_toMerge = suppliersWithWeather[['year','qtr','gvkey','tmax_quant_1.0','precip_quant_1.0']].\
    rename(columns = {'gvkey': 'supplier_gvkey',
                      'tmax_quant_1.0': 'supplier_tmax_quant_1.0',
                      'precip_quant_1.0': 'supplier_precip_quant_1.0'})'''

In [ ]:
customersWithWeather.shape

In [ ]:
len(set(supplierWtdAvgWeather.gvkey.unique()) - set(suppliers_toMerge.gvkey.unique()))

In [ ]:
largestSuppliers.head()

In [ ]:
largestSuppliersWithWeather = customersWithWeather.merge(largestSuppliers[['year', 'gvkey', 'supplier_gvkey']]).merge(suppliers_toMerge)
largestSuppliersWithWeather.shape

In [ ]:
largestSuppliersWithWeather.head()

In [ ]:
largestSuppliersWithWeather.to_csv("../../data/companyData/largestSuppliersWithWeather.csv")

In [ ]:
largestSuppliersWithWeather.suppliers

In [4]:
largestSuppliersWithWeather = pd.read_csv("../../data/companyData/largestSuppliersWithWeather.csv")
largestSuppliersWithWeather.head()

,Unnamed: 0,year,gvkey,supplier_gvkey,salecs,totalExp,suppliers,datadate,qtr,companyName,...,supplier_lag4_temp5Days_zipQuarterquant_1x5Qtrs,supplier_lag4_temp5Days_zipQuarterquant_1x10Qtrs,supplier_lag4_temp5Days_zipQuarterquant_1x5Yrs,supplier_lag4_temp5Days_zipQuarterquant_1x10Yrs,supplier_quarterly_avg_precip,supplier_quarterly_median_precip,supplier_quarterly_variance_precip,supplier_quarterly_avg_temp,supplier_quarterly_median_temp,supplier_quarterly_variance_temp
0,0,2010,9899,111880,865.425,4633.447,37,20100331,1.0,AT&T INC,...,0,0,0,0,2.249304,0.0,44.801073,8.004915,7.6360,66.589459
1,1,2010,9899,111880,865.425,4633.447,37,20100630,2.0,AT&T INC,...,0,0,0,0,3.593418,0.0,82.171479,24.101767,25.0880,41.752215
2,2,2010,9899,111880,865.425,4633.447,37,20100930,3.0,AT&T INC,...,0,0,0,0,2.951039,0.0,76.675933,29.597434,30.0360,19.818994
3,3,2010,9899,111880,865.425,4633.447,37,20101231,4.0,AT&T INC,...,0,0,0,0,2.765759,0.0,56.969919,13.007701,13.4325,77.199622
4,4,2011,9899,111880,921.541,3977.293,37,20110331,1.0,AT&T INC,...,0,0,0,0,2.249304,0.0,44.801073,8.004915,7.6360,66.589459

In [8]:
largestSuppliersWithWeather.columns[0:50]

Index(['Unnamed: 0', 'year', 'gvkey', 'supplier_gvkey', 'salecs', 'totalExp',
       'suppliers', 'datadate', 'qtr', 'companyName', 'curcdq', 'assets',
       'costGoodsSold', 'totalInv', 'netIncome', 'totalRevenue', 'cik',
       'costat', 'add1', 'add2', 'addzip', 'city', 'sic', 'state',
       'assetsLast', 'netIncomeLast', 'totalRevenueLast', 'costGoodsSoldLast',
       'totalInvLast', 'incomeChange', 'revenueChange', 'costChange',
       'inventoryChange', 'assetsPrev', 'assetsLagged', 'netIncomeLagged',
       'roa_lagged', 'famafrench', 'earliestYear', 'ageTercile', 'sizeTercile',
       'profitTercile', 'zipcode', 'employeesAtLocation', 'yearQtr',
       'precip_annualquant_0.95', 'precip_annualquant_1xQtr',
       'precip_annualquant_1xYr', 'precip_annualquant_1x5Qtrs',
       'precip_annualquant_1x10Qtrs'],
      dtype='object')

## Sales-Weighted Average
If a company doesn't have sales-specific information, then assume equal shares. This doesn't happen for too many of the companies, thankfully.

In [ ]:
customerDB = c_links[['year','customer_gvkey','supplier_gvkey','salecs']].\
    merge(custExp).rename(columns = {'customer_gvkey': 'gvkey'}).drop_duplicates()

customerDB['salesWeight'] = customerDB.salecs/customerDB.totalExp

customerDB.fillna(1, inplace = True)

Now merge this with the supplier weather data, and use the sales weights to find a sales-weighted average of the weather conditions for the suppliers.

In [ ]:
relevantVars = [x for x in suppliersWithWeather.columns if (('year' in x) | 
                                                 ('qtr' in x) |
                                                 ('gvkey' in x) |
                                                 ('_' in x)) & 
                                                ~('roa_lagged' in x) & 
                                                ~('yearQtr' in x)]

suppliers_toMerge = suppliersWithWeather[relevantVars]


for colname in suppliers_toMerge.columns[3:]:
    suppliers_toMerge.rename(columns = {colname: 'supplier_' + colname}, inplace = True)

    
suppliers_toMerge.rename(columns = {'gvkey': 'supplier_gvkey'},inplace = True)

In [ ]:
suppliers_toMerge.head()

For each of the supplier weather columns, multiply the variable by the fraction of sales attributable to that relationship.

In [ ]:
supplierWeather = customerDB[['year','gvkey','supplier_gvkey','salesWeight']].merge(suppliers_toMerge)

for col in supplierWeather.columns[5:]:
        supplierWeather[col]   = supplierWeather.salesWeight*supplierWeather[col]
        
        

supplierWeather.drop(columns = {'supplier_gvkey','salesWeight'}, inplace = True)


print(supplierWeather.head())



# [['year','qtr','gvkey','supplier_tmax_quant_1.0','supplier_precip_quant_1.0']]

In [ ]:
supplierWtdAvgWeather = supplierWeather.groupby(['year','qtr','gvkey']).sum().reset_index().drop_duplicates()

In [ ]:
supplierWtdAvgWeather.gvkey.unique()

Merge the supplier weighted average weather data with the customer data that has weather as well.

In [ ]:
customersWithWeather.head()

In [ ]:
wtdAvgSuppliers = customersWithWeather.merge(supplierWtdAvgWeather)

wtdAvgSuppliers.head()

In [ ]:
wtdAvgSuppliers.shape

In [ ]:
wtdAvgSuppliers.to_csv("../../data/companyData/wtdAvgSuppliers.csv")

In [ ]:
wtdAvgSuppliers.head()

In [ ]:
wtdAvgSuppliers.columns[wtdAvgSuppliers.columns.str.contains('Tercile')]