In [2]:
import pickle as pkl
import pandas as pd
import matplotlib
import os
import re

import collections
import datetime
import time

import geopandas as gpd

import numpy as np

import rasterio

import spacy
  
nlp = spacy.load('en_core_web_lg')
from sklearn.metrics.pairwise import cosine_similarity

import itertools

# Get Full IG Dataset

In [ ]:
file = "../../data/companyData/infogroup2010s.csv"

In [ ]:
import dask.dataframe as dd

df = dd.read_csv(file, assume_missing=True, 
                 dtype={'parent_number': 'object','parent_employee_size_code': 'object',
                       'parent_sales_volume_code': 'object',
                       'abi': 'object','zipcode': 'object'}, low_memory = False)
df = df[df.business_status_code == 1.0]

In [ ]:
df.columns

In [ ]:
df.head()

In [ ]:
hq = df[['abi','ticker','company','archive_version_year','state','city',
         'address_line_1','zipcode',
         'latitude','longitude']].drop_duplicates().compute(num_workers = 100)

In [ ]:
hqsOnly = hq[['abi','company']].drop_duplicates()

In [ ]:
hqsOnly.company.value_counts()

In [ ]:
print(hq.shape,hqsOnly.shape)

Some of the abi numbers seem to be duplicated; it looks like they might be primarily for different government agencies.

In [ ]:
hqsOnly.company.value_counts()[hqsOnly.company.value_counts() > 10].index

In [ ]:
toDiscard = hqsOnly.company.value_counts()[hqsOnly.company.value_counts() > 1].index
for company in toDiscard:
    print(company)

In [ ]:
toDiscard

In [ ]:
hqsOnly = hqsOnly[~hqsOnly.company.isin(toDiscard)]
hq      = hq[~hq.company.isin(toDiscard)]

In [ ]:
hq.shape

At this point, we have a unique record of every company - hq here. Some of these may well be duplicate entries for a given company, for the cases in which we have a company that has multiple hq.

Let's stash it so that we don't have to go through the above ^^ again.

In [ ]:
hqsOnly.to_csv("../../data/ig2010s_uniqueHQs.csv")

In [ ]:
hq.to_csv("../../data/ig2010s_uniqueHQs_multLocations.csv")

## Grab Compustat Data

First filter down to the companies for whom we have the supply chain information.

In [357]:
c_links.gvkey.unique().shape[0]

2479

In [11]:
c_links = pd.read_csv("../../data/companyData/compustatSCLinked.csv")

c_links['year'] = c_links.srcdate.astype('str').str.slice(0,4).astype('int64')

c_links = c_links[c_links.year > 2009]

relevant_gvkeys = c_links.gvkey.append(c_links.cgvkey).drop_duplicates()

print(c_links.head(),relevant_gvkeys.shape)

     gvkey                        conm  cgvkey                       cconm  \
80    1013  ADC TELECOMMUNICATIONS INC    9899                    AT&T INC
81    1013  ADC TELECOMMUNICATIONS INC    2136  VERIZON COMMUNICATIONS INC
281   1094                  ACETO CORP   31673      AMERISOURCEBERGEN CORP
282   1094                  ACETO CORP   31673      AMERISOURCEBERGEN CORP
283   1094                  ACETO CORP    7171               MCKESSON CORP

                       cnms   srcdate  cid  sid    ctype   salecs     scusip  \
80                     AT&T  20100930   16    0  COMPANY  300.000  000886309
81   VERIZON COMMUNICATIONS  20100930   13    0  COMPANY  146.000  000886309
281  AmerisourceBergen Corp  20160630   13    0  COMPANY   78.193  004446100
282  AmerisourceBergen Corp  20170630   13    0  COMPANY   76.598  004446100
283           McKesson Corp  20170630   19    0  COMPANY   70.215  004446100

       stic     ccusip ctic  year
80   ADCT.1  00206R102    T  2010
81   ADCT.1  92343V104   VZ  2010
281   ACETQ  03073E105  ABC  2016
282   ACETQ  03073E105  ABC  2017
283   ACETQ  58155Q103  MCK  2017   (4154,)

Get the company dataset and check.

The legal name and the given name are slightly different, but basically the same modulo punctuation and case.

In [12]:
c_addresses = pd.read_csv("../../data/companyData/compustatAddresses.csv", 
                dtype={'parent_number': 'object'})[['fyear',
                'gvkey',
                'conm',
                'add1',
                'city',
                'state',
                'idbflag',
                'addzip',
               'naics']].drop_duplicates().rename(columns = {'fyear': 'year'})
c_addresses = c_addresses[(c_addresses.year > 2009) & (c_addresses.year < 2020)]

/Users/brianreed/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (15,16) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [13]:
c_addresses.year.value_counts()

2012.0    11836
2013.0    11829
2014.0    11637
2011.0    11527
2015.0    11469
2016.0    11329
2018.0    11302
2019.0    11275
2017.0    11243
2010.0    10855
Name: year, dtype: int64

Subset this to focus on firms in: ag, mining, construction, manufacturing, wholesale and retail, and transportation.

In [14]:
c_addresses = c_addresses[(c_addresses.naics.astype('str').str.slice(0,2).isin(['11','21','22','23','31','32',
                                                         '33','42','44','45','48','49']))]

chq = c_addresses[['gvkey','conm','add1','city','state','addzip','idbflag']].drop_duplicates()

We're starting with the compustat north america dataset. Not all of the HQs are in North America, so we can filter some of the information down to match with Infogroup.

In [15]:
chq.idbflag.value_counts()

D    6960
B    1121
Name: idbflag, dtype: int64

In [16]:
canadian = ['ON', 'AB','QC', 'BC', 'NS', 'NF', 'SK', 'MB', 'NB']

chq.state.unique()

array(['IL', 'MN', 'TX', 'SC', 'AZ', 'NY', 'CT', 'FL', 'CA', nan, 'ON',
       'PA', 'NC', 'AL', 'WA', 'HI', 'NJ', 'MA', 'OH', 'NV', 'UT', 'OK',
       'WI', 'AR', 'CO', 'IA', 'DE', 'RI', 'AB', 'GA', 'MD', 'ME', 'VA',
       'IN', 'SD', 'OR', 'QC', 'BC', 'KY', 'MO', 'LA', 'VT', 'TN', 'MI',
       'DC', 'ID', 'ND', 'MS', 'KS', 'NS', 'NH', 'NM', 'NE', 'MT', 'WY',
       'NF', 'SK', 'MB', 'WV', 'NB'], dtype=object)

In [17]:
chq = chq[~(chq.state.isin(canadian)) & ~chq.state.isna()]

In [18]:
chq.addzip.str.len().value_counts()

5     4628
10     481
Name: addzip, dtype: int64

In [19]:
chq['addzip'] = chq.addzip.astype('str').str.slice(0,5)

In [20]:
chq[chq.idbflag == 'D'].addzip.str.len().value_counts()

5    4689
Name: addzip, dtype: int64

In [21]:
chq[chq.idbflag == "B"].addzip.value_counts()

77002    11
80202     5
94080     5
02139     5
10022     4
         ..
01760     1
97124     1
85251     1
18940     1
33394     1
Name: addzip, Length: 326, dtype: int64

In [22]:
print(chq.head(),chq.shape)

    gvkey                         conm  \
1    1004                     AAR CORP
12   1013   ADC TELECOMMUNICATIONS INC
13   1045  AMERICAN AIRLINES GROUP INC
25   1050      CECO ENVIRONMENTAL CORP
59   1072                     AVX CORP

                                        add1          city state addzip  \
1   One AAR Place, 1100 North Wood Dale Road     Wood Dale    IL  60191
12                    13625 Technology Drive  Eden Prairie    MN  55344
13                           1 Skyview Drive    Fort Worth    TX  76155
25     14651 North Dallas Parkway, Suite 500        Dallas    TX  75254
59                         One AVX Boulevard  Fountain Inn    SC  29644

   idbflag
1        D
12       D
13       B
25       D
59       D   (5109, 7)

In [23]:
chq.rename(columns = {'conm': 'company','addzip': 'cstatZipcode'},inplace = True)
chq.head()

,gvkey,company,add1,city,state,cstatZipcode,idbflag
1,1004,AAR CORP,"One AAR Place, 1100 North Wood Dale Road",Wood Dale,IL,60191,D
12,1013,ADC TELECOMMUNICATIONS INC,13625 Technology Drive,Eden Prairie,MN,55344,D
13,1045,AMERICAN AIRLINES GROUP INC,1 Skyview Drive,Fort Worth,TX,76155,B
25,1050,CECO ENVIRONMENTAL CORP,"14651 North Dallas Parkway, Suite 500",Dallas,TX,75254,D
59,1072,AVX CORP,One AVX Boulevard,Fountain Inn,SC,29644,D

In [27]:
chq.to_csv("../../data/chq.csv")

## Breakpoint
We can start from here and just clean everything from here.


Headquarters:

In [44]:
chq     = pd.read_csv("../../data/chq.csv",dtype={'cstatZipcode': 'object'}).drop(columns = {'Unnamed: 0'})

chq.head()

,gvkey,company,add1,city,state,cstatZipcode,idbflag
0,1004,AAR CORP,"One AAR Place, 1100 North Wood Dale Road",Wood Dale,IL,60191,D
1,1013,ADC TELECOMMUNICATIONS INC,13625 Technology Drive,Eden Prairie,MN,55344,D
2,1045,AMERICAN AIRLINES GROUP INC,1 Skyview Drive,Fort Worth,TX,76155,B
3,1050,CECO ENVIRONMENTAL CORP,"14651 North Dallas Parkway, Suite 500",Dallas,TX,75254,D
4,1072,AVX CORP,One AVX Boulevard,Fountain Inn,SC,29644,D

In [45]:
hqsOnly     = pd.read_csv("../../data/ig2010s_uniqueHQs.csv").drop(columns = {'Unnamed: 0'})
hqsWithYear = pd.read_csv("../../data/ig2010s_uniqueHQs_multLocations.csv",dtype={'zipcode': 'object'})[['abi','company',
                                                                             'archive_version_year',
                                                                             'state','city','zipcode','address_line_1']]

print(hqsOnly.head())
print(hqsWithYear.head())

hqsWithYear = hqsWithYear[hqsWithYear.archive_version_year <= 2020]

hqsWithYear['last_year'] = hqsWithYear.groupby(['abi'])['archive_version_year'].transform(max)

print(hqsWithYear.shape)

lastHQs = hqsWithYear[hqsWithYear.archive_version_year == hqsWithYear.last_year][['abi','company','state','city','zipcode','address_line_1']]

print(lastHQs.shape)

lastHQs.head()

     abi                         company
0   7609            SOLITRON DEVICES INC
1  21311   WESTERN STATES ENVELOPE & LBL
2  29603                THIELE KAOLIN CO
3  71340                 TRI STAFF GROUP
4  77743  NATIONAL TECHNICAL SYSTEMS INC
     abi                         company  archive_version_year state  \
0   7609            SOLITRON DEVICES INC                2010.0    FL
1  21311   WESTERN STATES ENVELOPE & LBL                2010.0    WI
2  29603                THIELE KAOLIN CO                2010.0    GA
3  71340                 TRI STAFF GROUP                2010.0    CA
4  77743  NATIONAL TECHNICAL SYSTEMS INC                2010.0    CA

              city zipcode            address_line_1
0  WEST PALM BEACH   33407  3301 ELECTRONICS WAY # C
1           BUTLER   53007           4480 N 132ND ST
2     SANDERSVILLE   31082             520 KAOLIN RD
3        SAN DIEGO   92122   6336 GREENWICH DR # 100
4        CALABASAS   91302  24007 VENTURA BLVD # 200
(394920, 8)
(59805, 6)

,abi,company,state,city,zipcode,address_line_1
17,158329,CARIDIAN BCT INC,CO,LAKEWOOD,80401,14143 DENVER WEST PKWY # 200
20,211946,FAMILY BRANDS INTL LLC,TN,LENOIR CITY,37771,1001 ELM HILL RD
23,258574,JADE CORP,PA,HUNTINGDON VLY,19006,3063 PHILMONT AVE
24,262493,MONTANA METAL PRODUCTS LLC,IL,DES PLAINES,60018,25 HOWARD AVE
43,455154,O I CORP,TX,COLLEGE STATION,77845,151 GRAHAM RD

Only two of these company names appear 2x, which is good. There are ~20,000 companies in this sample.

Let's go through a little bit of a process here:
- Find the exact matches.
- Get a similarity measure between ; ideally something vectorized / something in matrix math.
- Find the top 10 matches for the remaining ones.
- Do some mix and match and see if there's any threshold at which matches become similar ``enough'' to say this is okay and good to go.


We might be able to use the fact that all of the addresses should be the same after some given point, as the compustat addresses are only the most recent ones.

Let's try a few different ways to match these up.

First, let's find the exact matches.

Make a generic cleaning function that strips out all company names, any punctuation in the name, and makes everything lower case.

In [34]:
def cleanText(text):
    text = text.\
    replace(" CORP","").replace(" CO","").replace(" INC","").\
    replace(" LTD","").replace(" -CL A","").\
    replace(" -LP","").replace(" LP","").\
    replace("-OLD","").replace(" LLC","").\
    replace(" -CL B","").replace(" -CL i","").replace(" -CL","").\
    replace("-REDH","").replace(" CP","").\
    replace("-ADR","").replace(" PLC","").lower().replace(r'[^\w\s]+', '').\
    replace('-lp','').replace('-spn','').replace('hldg','').replace(' intl','').\
    replace('holdings','').replace('holding','').replace('prtnr','').replace('group','')
    
    
    return text

In [46]:
chq['company']               = list(map(cleanText, chq.company))
lastHQs['company']           = list(map(cleanText, lastHQs.company))

chq.rename(columns = {'city': 'cstatCity',
                     'state': 'cstatState',
                     'add1': 'cstatadd1'}, inplace = True)

chq['cstatCity']  = chq.cstatCity.str.lower()
chq['cstatState'] = chq.cstatState.str.lower()
chq['cstatadd1']  = chq.cstatadd1.str.lower()

lastHQs['city']            = lastHQs.city.str.lower()
lastHQs['state']           = lastHQs.state.str.lower()
lastHQs['address_line_1']  = lastHQs.address_line_1.str.lower()

NAICS names do not match up between compustat and infogroup so they're not helpful.

In [47]:
chq.head()

,gvkey,company,cstatadd1,cstatCity,cstatState,cstatZipcode,idbflag
0,1004,aar,"one aar place, 1100 north wood dale road",wood dale,il,60191,D
1,1013,adc telecommunications,13625 technology drive,eden prairie,mn,55344,D
2,1045,american airlines,1 skyview drive,fort worth,tx,76155,B
3,1050,ceco environmental,"14651 north dallas parkway, suite 500",dallas,tx,75254,D
4,1072,avx,one avx boulevard,fountain inn,sc,29644,D

In [48]:
lastHQs.head()

,abi,company,state,city,zipcode,address_line_1
17,158329,caridian bct,co,lakewood,80401,14143 denver west pkwy # 200
20,211946,family brands,tn,lenoir city,37771,1001 elm hill rd
23,258574,jade,pa,huntingdon vly,19006,3063 philmont ave
24,262493,montana metal products,il,des plaines,60018,25 howard ave
43,455154,o i,tx,college station,77845,151 graham rd

## Match on company name directly

In [49]:
nameMerge = chq.merge(lastHQs)
nameMerge.shape

(3344, 12)

In [50]:
nameMerge.head()

,gvkey,company,cstatadd1,cstatCity,cstatState,cstatZipcode,idbflag,abi,state,city,zipcode,address_line_1
0,1004,aar,"one aar place, 1100 north wood dale road",wood dale,il,60191,D,115523672,il,wood dale,60191,1100 n wood dale rd
1,1013,adc telecommunications,13625 technology drive,eden prairie,mn,55344,D,7523129,mn,eden prairie,55344,13625 technology dr
2,1045,american airlines,1 skyview drive,fort worth,tx,76155,B,7501711,tx,fort worth,76155,1 skyview dr
3,1050,ceco environmental,"14651 north dallas parkway, suite 500",dallas,tx,75254,D,596284992,tx,dallas,75254,14651 dallas pkwy # 500
4,1075,pinnacle west capital,"400 north fifth street, p.o. box 53999",phoenix,az,85072,D,4554051,az,phoenix,85004,400 n 5th st frnt

In [51]:
sum(nameMerge.cstatState == nameMerge.state)/nameMerge.shape[0]

0.9455741626794258

In [54]:
sum(nameMerge.cstatZipcode.str.slice(0,5) == nameMerge.zipcode.str.slice(0,5))/nameMerge.shape[0]

0.8609449760765551

In [55]:
sum(nameMerge.cstatZipcode.str.slice(0,1) == nameMerge.zipcode.str.slice(0,1))/nameMerge.shape[0]

0.9518540669856459

In [56]:
nameMerge[nameMerge.cstatCity != nameMerge.city][50:100]

,gvkey,company,cstatadd1,cstatCity,cstatState,cstatZipcode,idbflag,abi,state,city,zipcode,address_line_1
414,7620,murphy oil,"9805 katy freeway, suite g-200",houston,tx,77024,D,7525652,ar,el dorado,71730,300 e peach st
424,7849,new jersey resources,1415 wyckoff road,wall,nj,07719,D,878627181,nj,wall township,07727,1415 wyckoff rd
426,7881,newmont,"6900 east layton avenue, suite 700",denver,co,80237,B,7526734,co,greenwood vlg,80111,6363 s fiddlers green cir #800
435,7923,norfolk southern,650 west peachtree street nw,atlanta,ga,30308,D,7526965,va,norfolk,23510,3 commercial pl # 1a
440,7991,terex,"45 glover avenue, 4th floor",norwalk,ct,06850,D,437605223,ct,westport,06880,200 nyala farms rd # 2
445,8073,ocean bio-chem,4041 sw 47th avenue,fort lauderdale,fl,33314,D,443639711,fl,davie,33314,4041 sw 47th ave
499,8901,rpc,"2801 buford highway ne, suite 300",atlanta,ga,30329,D,3485588,ga,brookhaven,30329,2801 buford hwy ne # 300
516,9325,sl industries,"520 fellowship road, suite a-114",mount laurel,nj,08054,D,406295980,nj,mt laurel,08054,520 fellowship rd # a114
519,9372,st jude medical,one st. jude medical drive,st. paul,mn,55117,D,4349056,mn,st paul,55117,1 saint jude medical dr
520,9411,hillshire brands,3500 lacey road,downers grove,il,60515,D,7509318,il,chicago,60607,400 s jefferson st # 1n
535,9831,south jersey industries,1 south jersey plaza,folsom,nj,08037,B,4620456,nj,hammonton,08037,1 s jersey plz
539,9860,southern natural gas,"569 brookwood village, suite 749",birmingham,al,35209,D,6231898,tx,houston,77002,1001 louisiana st # 1000
543,9921,spartech,"120 south central avenue, suite 1700",clayton,mo,63105,D,822780409,mo,st louis,63105,120 s central ave # 1700
544,9922,sparton,5612 johnson lake road,de leon springs,fl,32130,D,8383333,il,schaumburg,60173,425 n martingale rd # 1000
552,10115,stryker,2825 airview boulevard,kalamazoo,mi,49002,B,143964906,mi,portage,49002,2825 airview blvd
555,10156,sunoco,"1735 market street, suite ll",philadelphia,pa,19103,D,464706795,tx,dallas,75225,8111 westchester dr # 600
556,12892,sunoco,"8111 westchester drive, suite 400",dallas,tx,75225,D,4556221,pa,philadelphia,19103,1818 market st # 1500
560,10195,superior industries,"26600 telegraph road, suite 400",southfield,mi,48033,D,413582201,mn,morris,56267,315 state highway 28
565,10236,synalloy,"4510 cox road, suite 201",richmond,va,23060,D,7536055,va,glen allen,23060,4510 cox rd # 201
581,10441,tennant,10400 clean street,eden prairie,mn,55344,D,4621074,mn,minneapolis,55422,701 lilac dr n
618,10860,ameren,1901 chouteau avenue,saint louis,mo,63103,B,967282336,mo,st louis,63103,1901 chouteau ave
620,10871,genufood energy enzymes,"1108 south baldwin avenue, suite 107",arcadia,ca,91007,D,434656479,ca,los angeles,90017,601 s figueroa st # 4050
622,10884,chiquita brands,550 south caldwell street,charlotte,nc,28202,D,200053361,fl,dania beach,33004,1855 griffin rd # c436
626,10982,canal capital,4 morris street,port jefferson station,ny,11776,D,400419537,ny,port jeffrsn sta,11776,4 morris st
634,11060,vf,1551 wewatta street,denver,co,80202,D,7538861,co,greenwood vlg,80111,8505 e orchard rd
640,11169,video display,5155 king street,cocoa,fl,32926,D,424244671,ga,tucker,30084,1868 tucker industrial rd
642,11228,vulcan materials,1200 urban center drive,birmingham,al,35242,D,7539398,al,vestavia,35242,1200 urban center dr
652,11315,wausau paper,100 paper place,mosinee,wi,54455,D,7525454,wi,kronenwetter,54455,100 paper pl
657,11462,handy & harman,"590 madison avenue, 32nd floor",new york,ny,10022,D,7540297,ny,white plains,10604,1133 westchester ave # n-222
668,11600,worthington industries,200 old wilson bridge road,columbus,oh,43085,D,9287483,oh,worthington,43085,200 w old wilson bridge rd
680,11907,dpac technologies,18030 brookhurst pmb 373,fountain valley,ca,92708,D,501131759,oh,hudson,44236,5675 hudson industrial pkwy
681,11914,immucor,"3130 gateway drive, po box 5625",norcross,ga,30091,D,4657664,ga,peachtree cor,30071,3130 gateway dr
689,12096,envela,"1901 gateway drive, suite 100",irving,tx,75038,D,160562815,tx,dallas,75240,13022 preston rd
710,12392,skywest,444 south river road,saint george,ut,84790,D,4716585,ut,st george,84790,444 s river rd
711,12395,toll brothers,1140 virginia drive,fort washington,pa,19034,D,121181911,pa,horsham,19044,250 gibraltar rd
717,12482,clearfield,"7050 winnetka avenue north, suite 100, brookly...",minneapolis,mn,55428,D,501829584,mn,brooklyn park,55428,7050 winnetka ave n # 100
718,12575,cyanotech,"73-4460 queen kaahumanu highway, suite 102",kailua-kona,hi,96740,D,870183027,hi,kailua kona,96740,73-4460 queen kaahumanu h #102
731,12724,bravo enterprises,6490 west desert inn road,las vegas,nv,89146,D,422048320,ny,patchogue,11772,35 s ocean ave
755,13139,jennifernvertibles,417 crossways park drive,woodbury,ny,11797,D,473708386,ny,farmingdale,11735,1995 broadhollow rd
770,13406,calgon carbon,3000 gsk drive,moon township,pa,15108,D,831905096,pa,moon twp,15108,3000 gsk dr
772,13431,berry,"16000 north dallas parkway, suite 500",dallas,tx,75248,D,425673043,ks,wichita,67219,2402 e 37th st n
781,13531,hancock fabrics,po box 4440,tupelo,ms,38803,D,5472527,ms,baldwyn,38824,1 fashion way
787,13623,conmed,11311 concept boulevard,largo,fl,33773,D,8932964,ny,utica,13502,525 french rd
788,13634,exide technologies,"13000 deerfield parkway, building 200",milton,ga,30004,D,400648903,ga,alpharetta,30004,13000 deerfield pkwy # 200
796,13782,multi-color,"4053 clough woods drive, batavia",cincinnati,oh,45103,D,9277914,oh,batavia,45103,4053 clough woods dr
806,14068,northstar aerospace,6006 west 73rd street,bedford park,il,60638,D,393776737,il,chicago,60638,6006 w 73rd st
817,14252,wegener,11350 technology circle,johns creek,ga,30097,D,443651930,ga,duluth,30097,11350 technology cir
827,14417,micronetics,201 riverneck road,chelmsford,ma,01824,D,4254223,nh,hudson,03051,26 hampshire dr
833,14581,mgc diagnostics,350 oak grove parkway,saint paul,mn,55127,D,446145047,mn,st paul,55127,350 oak grove pkwy
838,14606,hearusa,1250 northpoint parkway,west palm beach,fl,33407,D,407285360,fl,palm beach gdns,33418,11400 n jog rd # 300

Now focus down onto the companies that have not been matched.

In [57]:
chqUnmatched = chq[~chq.company.isin(nameMerge.company)].reset_index()
chqUnmatched.shape

(1800, 8)

In [58]:
igUnmatched  = lastHQs[~lastHQs.company.isin(nameMerge.company)].reset_index()
igUnmatched.shape

(56475, 7)

In [59]:
lastHQs.shape

(59805, 6)

# Find Distance

Two distance measures here. Look at top 5 matches and pull the distance measure and matches as well.

### Levenshtein

In [60]:
from Levenshtein import distance as levenshtein_distance

Find LD between the unmatched compustat companies and the unmatched IG ones.

In [61]:
companyArrayCStat = []

company = chqUnmatched.company[0]
start = time.time()
for company in chqUnmatched.company:
    thisCompany = []
    for ig in igUnmatched.company:
        thisCompany.append(levenshtein_distance(company,ig))
    
    companyArrayCStat.append([thisCompany])

allLD = np.concatenate(companyArrayCStat)

In [62]:
igUnmatched.head()

,index,abi,company,state,city,zipcode,address_line_1
0,17,158329,caridian bct,co,lakewood,80401,14143 denver west pkwy # 200
1,20,211946,family brands,tn,lenoir city,37771,1001 elm hill rd
2,23,258574,jade,pa,huntingdon vly,19006,3063 philmont ave
3,24,262493,montana metal products,il,des plaines,60018,25 howard ave
4,43,455154,o i,tx,college station,77845,151 graham rd

Now pull the closest companies in IG to those in CStat. We'll first populate a dataframe with the name, address, city, state, and zip of each unmatched company in compustat, then we'll use the LD to find the same information for the closest company in IG.



There's some legacy code in here that finds the top 5 closest companies; but it doesn't populate the dataframe.

In [73]:
singleLargestLV   = (allLD).argsort(axis=-1)[:, :1]

# legacy
# n = 5
# largestElementsLV = (allLD).argsort(axis=-1)[:, :n]


companyMatches = pd.DataFrame()
companyMatches['cstatCompanies'] = chqUnmatched.company
companyMatches['cstatadd1']      = chqUnmatched.cstatadd1
companyMatches['cstatCity']      = chqUnmatched.cstatCity
companyMatches['cstatState']     = chqUnmatched.cstatState
companyMatches['cstatZip']       = chqUnmatched.cstatZipcode

for i in range(0,companyMatches.shape[0]):
    # print(list(np.array(hq.company)[largestElements[i]]))
    companyMatches.at[i,'misspelling']         = allLD[i,:][singleLargestLV[i]]
    companyMatches.at[i,'percMisspelled']      = companyMatches.misspelling[i]/len(companyMatches.cstatCompanies[i])
    companyMatches.at[i,'levCompany']          = igUnmatched.company[singleLargestLV[i]].iloc[0]
    
    companyMatches.at[i,'closestMatchIG_add']      = igUnmatched.address_line_1[singleLargestLV[i]].iloc[0]
    companyMatches.at[i,'closestMatchIG_city']     = igUnmatched.city[singleLargestLV[i]].iloc[0]
    companyMatches.at[i,'closestMatchIG_zipcode']  = igUnmatched.zipcode[singleLargestLV[i]].iloc[0]
    companyMatches.at[i,'closestMatchIG_state']    = igUnmatched.state[singleLargestLV[i]].iloc[0]

    
    # companyMatches.at[i,'closestMatchIG']      = np.array(igUnmatched.company)[largestElementsLV[i]]
    # companyMatches.at[i,'LevSim']              = np.array(allLD[i,:][largestElementsLV[i]], dtype=object)

In [74]:
companyMatches.head()

,cstatCompanies,cstatadd1,cstatCity,cstatState,cstatZip,misspelling,percMisspelled,levCompany,closestMatchIG_add,closestMatchIG_city,closestMatchIG_zipcode,closestMatchIG_state
0,avx,one avx boulevard,fountain inn,sc,29644,1.0,0.333333,avp,960 knox st # a,torrance,90502,ca
1,spire alabama,605 richard arrington boulevard north,birmingham,al,35203,6.0,0.461538,ire global,111 congress ave # 4th,austin,78701,tx
2,alabama power,600 north 18th street,birmingham,al,35203,4.0,0.307692,alstom power,200 great pond dr,windsor,06095,ct
3,tamir biothechnology,"51 jfk parkway, 1st floor west, suite 108",short hills,nj,07078,1.0,0.050000,tamir biotechnology,11 deerpark dr # 204,monmouth jct,08852,nj
4,petro usa,7325 oswego road,liverpool,ny,13090,1.0,0.111111,etro usa,41 w 56th st,new york,10019,ny

Now get the embeddings and the cosine similarity between them.

In [80]:
def getMatrix(companyEmbeddings):
    companyArray = []
    
    for companies in companyEmbeddings:
        companyArray.append([companies.vector])
    
    companyArray = np.concatenate(companyArray)
    
    return(companyArray)

In [81]:
chqUnmatchedList = list(map(nlp, chqUnmatched.company))
allCompaniesIG   = list(map(nlp, igUnmatched.company))


cstat = getMatrix(chqUnmatchedList)
ig    = getMatrix(allCompaniesIG)

allSimilarities = cosine_similarity(cstat,ig)

allSimilarities.shape

(1800, 56475)

In [82]:
outfile =  '../../data/allCompaniesIG_embeddings.pkl'
with open(outfile, 'wb') as pickle_file:
    pkl.dump(ig, pickle_file)
    
outfile =  '../../data/allCompaniesCStat_embeddings.pkl'
with open(outfile, 'wb') as pickle_file:
    pkl.dump(cstat, pickle_file)

Each row n here has the similarity between the nth company name in compustat and the IG company corresp to that column.

In [83]:
allSimilarities[0:5,:]

array([[ 0.27351984, -0.16348277,  0.02695994, ..., -0.06730537,
         0.09521193, -0.00591509],
       [ 0.20687255,  0.05328101,  0.24833122, ...,  0.31417164,
         0.46006292,  0.2882711 ],
       [-0.01470069,  0.27651983,  0.19719386, ...,  0.45301446,
         0.3847386 ,  0.36670434],
       [ 0.24357395, -0.17722532,  0.09829525, ..., -0.095217  ,
         0.07805435, -0.07496908],
       [ 0.12485278,  0.12257036,  0.17973134, ...,  0.23482014,
         0.3301328 ,  0.3126555 ]], dtype=float32)

Find indices of companies in IG most similar to each company in CStat.

In [85]:
singleLargestCos   = (-allSimilarities).argsort(axis=-1)[:, :1]

# legacy - largest n
# largestElementsCos = (-allSimilarities).argsort(axis=-1)[:, :n]

Add the cosine similarity measures to the similarity dataset.

In [86]:
for i in range(0,companyMatches.shape[0]):
    # print(list(np.array(hq.company)[largestElements[i]]))
    companyMatches.at[i,'cosSimilarity']        = allSimilarities[i,:][singleLargestCos[i]]
    companyMatches.at[i,'cosSimilarityCompany'] = igUnmatched.company[singleLargestCos[i]].iloc[0]
    # companyMatches.at[i,'closestMatchCosine']   = np.array(igUnmatched.company)[largestElementsCos[i]]
    # companyMatches.at[i,'cosineSim']            = np.array(allSimilarities[i,:][largestElementsCos[i]], dtype=object)
    
    
    companyMatches.at[i,'costMatchIG_add']     = igUnmatched.address_line_1[singleLargestCos[i]].iloc[0]
    companyMatches.at[i,'cosMatchIG_city']     = igUnmatched.city[singleLargestCos[i]].iloc[0]
    companyMatches.at[i,'cosMatchIG_zipcode']  = igUnmatched.zipcode[singleLargestCos[i]].iloc[0]
    companyMatches.at[i,'cosMatchIG_state']    = igUnmatched.state[singleLargestCos[i]].iloc[0]

In [87]:
sum((companyMatches.levCompany == companyMatches.cosSimilarityCompany))

321

## Start Matching

### Take 1: Match + Zip or City

Now find the company matches: ABI - gvkey link.

Start with ones where the names both match.

If the cities or zipcodes match on one of the closest companies (LD or cos), it seems like it is good to go.


Do this in steps to start, at least. First find the companies where both match and either zip or city match. Then find companies where only one matches.

In [132]:
bothMatch_cityZip = companyMatches[(companyMatches.levCompany == companyMatches.cosSimilarityCompany) & \
              ((companyMatches.cstatCity == companyMatches.closestMatchIG_city) | \
              (companyMatches.cstatZip == companyMatches.closestMatchIG_zipcode))]
bothMatch_cityZip.shape

bothMatch_cityZip.to_csv("../../data/companyData/bothMatch_cityZip.csv")

In [133]:
bothMatch_cityZip['igCompanies'] = bothMatch_cityZip.levCompany
companiesToCheck                 = bothMatch_cityZip[['cstatCompanies','igCompanies']]

/Users/brianreed/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [134]:
companyMatchesBoth = list(bothMatch_cityZip.cstatCompanies.unique())
len(companyMatchesBoth)

238

Grab the single company match versions.

In [135]:
oneMatch_cityZipOnly.head()

,cstatCompanies,cstatadd1,cstatCity,cstatState,cstatZip,misspelling,percMisspelled,levCompany,closestMatchIG_add,closestMatchIG_city,closestMatchIG_zipcode,closestMatchIG_state,cosSimilarity,cosSimilarityCompany,costMatchIG_add,cosMatchIG_city,cosMatchIG_zipcode,cosMatchIG_state,igCompanies
0,beam,222 west merchandise mart plaza,chicago,il,60654,1.0,0.250000,team,13131 dairy ashford rd # 600,sugar land,77478,tx,1.000000,beam suntory,222 merchandise mart plz #1600,chicago,60654,il,beam suntory
1,arizona public service,400 north fifth street,phoenix,az,85072,8.0,0.363636,republic services,18500 n allied way # 100,phoenix,85054,az,0.842057,california public employees,400 q st,sacramento,95811,ca,republic services
2,southern gas,"ten peachtree place, n.e.",atlanta,ga,30309,2.0,0.166667,southern its,9101 w sahara ave # 105,las vegas,89117,nv,0.921520,gas south,3625 cumberland blvd se # 1500,atlanta,30339,ga,gas south
3,a v homes,"4900 north scottsdale road, suite 2000",scottsdale,az,85251,1.0,0.111111,av homes,8601 n scottsdale rd # 225,scottsdale,85253,az,0.712529,aronov new homes,3500 eastern blvd # 100,montgomery,36116,al,av homes
4,balchem,52 sunrise park road,new hampton,ny,10958,1.0,0.125000,balchem,52 sunrise park rd,new hampton,10958,ny,0.000000,caridian bct,14143 denver west pkwy # 200,lakewood,80401,co,balchem

In [136]:
oneMatch_cityZipOnly = companyMatches[-(companyMatches.cstatCompanies.isin(companyMatchesBoth)) & \
              (((companyMatches.cstatCity == companyMatches.closestMatchIG_city) | \
              (companyMatches.cstatZip == companyMatches.closestMatchIG_zipcode)) | \
              ((companyMatches.cstatCity == companyMatches.cosMatchIG_city) | \
              (companyMatches.cstatZip == companyMatches.cosMatchIG_zipcode)))].reset_index(drop=True)

oneMatch_cityZipOnly['igCompanies'] = ''

for i in range(0,oneMatch_cityZipOnly.shape[0]):
    if ((oneMatch_cityZipOnly.cstatCity[i] == oneMatch_cityZipOnly.closestMatchIG_city[i]) | \
              (oneMatch_cityZipOnly.cstatZip[i] == oneMatch_cityZipOnly.closestMatchIG_zipcode[i])):
        oneMatch_cityZipOnly.loc[i,'igCompanies'] = oneMatch_cityZipOnly.levCompany[i]
    else:
        oneMatch_cityZipOnly.loc[i,'igCompanies'] = oneMatch_cityZipOnly.cosSimilarityCompany[i]

# oneMatch_cityZipOnly.to_csv("../../data/companyData/oneMatch_cityZipOnly.csv")

In [137]:
oneMatch_cityZipOnly.head()

,cstatCompanies,cstatadd1,cstatCity,cstatState,cstatZip,misspelling,percMisspelled,levCompany,closestMatchIG_add,closestMatchIG_city,closestMatchIG_zipcode,closestMatchIG_state,cosSimilarity,cosSimilarityCompany,costMatchIG_add,cosMatchIG_city,cosMatchIG_zipcode,cosMatchIG_state,igCompanies
0,beam,222 west merchandise mart plaza,chicago,il,60654,1.0,0.250000,team,13131 dairy ashford rd # 600,sugar land,77478,tx,1.000000,beam suntory,222 merchandise mart plz #1600,chicago,60654,il,beam suntory
1,arizona public service,400 north fifth street,phoenix,az,85072,8.0,0.363636,republic services,18500 n allied way # 100,phoenix,85054,az,0.842057,california public employees,400 q st,sacramento,95811,ca,republic services
2,southern gas,"ten peachtree place, n.e.",atlanta,ga,30309,2.0,0.166667,southern its,9101 w sahara ave # 105,las vegas,89117,nv,0.921520,gas south,3625 cumberland blvd se # 1500,atlanta,30339,ga,gas south
3,a v homes,"4900 north scottsdale road, suite 2000",scottsdale,az,85251,1.0,0.111111,av homes,8601 n scottsdale rd # 225,scottsdale,85253,az,0.712529,aronov new homes,3500 eastern blvd # 100,montgomery,36116,al,av homes
4,balchem,52 sunrise park road,new hampton,ny,10958,1.0,0.125000,balchem,52 sunrise park rd,new hampton,10958,ny,0.000000,caridian bct,14143 denver west pkwy # 200,lakewood,80401,co,balchem

In [138]:
companiesToCheck = companiesToCheck.append(oneMatch_cityZipOnly[['cstatCompanies','igCompanies']]).drop_duplicates()

companiesToCheck.shape

(600, 2)

In [139]:
companiesToCheck[0:50]

                   cstatCompanies                     igCompanies
8    american science engineering  american science & engineering
11               apco oil and gas                  apco oil & gas
13                        arden                            arden
16                   arts way mfg                   art's way mfg
21       constellation energy grp           constellation energy
26         bassett furniture inds    bassett furniture industries
32           non invasive monitor   non-invasive monitoring systs
37                   brown forman                    brown-forman
41                       cagle's                          cagle's
42    california water service gp           california water svc
44          caseys general stores          casey's general stores
51       central vermont pub serv      central vermont public svc
55     coast distribution systems       coast distribution system
71        electro scientific inds   electro scientific industries
79                 federal-mogul                    federal-mogul
84           forest laboratories              forest laboratories
87       frozen food express inds  frozen food express industries
96       great atlantic & pac tea    great atlantic & pacific tea
97                         greif                            greif
101        hawaiian electric inds    hawaiian electric industries
125        kimball international            kimball international
126                 snyders-lance                  snyder's-lance
130            lincoln electric s               lincoln electric
135             mcrae industries                 mcrae industries
152                    nash finch                      nash-finch
164       northwest natural hldng              northwest natural
169               oil dri america              oil-dri of america
172             p & f industries                 p & f industries
177                    park ohio                       park-ohio
182             pier 1 imports/de                  pier 1 imports
186      public service entrp grp             public service ent
193                  schlumberger                   schlumberger
196           scott's liquid gold         scott's liquid gold-inc
198            john d oil and gas                john d oil & gas
209      span-america medical sys    span-america medical systems
211          standard motor prods         standard motor products
225        bulova technologies gp            bulova technologies
226                  tyson foods                      tyson foods
234  universal security instrumnt        universal security instr
236         village super market             village super market
240      west pharmaceutical svsc         west pharmaceutical svc
253  natural grocers vitamin ctge      natural grocers by vitamin
270                    pro-dex/co                         pro-dex
271       arrow resources devlpmt          arrow resources devmnt
277   universal detection technol  universal detection technology
280           sed international s              sed international
284     harman international inds        harman international ind
289        atkore international s           atkore international
291               ingles markets                   ingles markets
292   sears hometown & outlet str  sears hometown & outlet stores

2x check that there are no duplicates here.

In [141]:
duplicates = companiesToCheck.cstatCompanies.value_counts().index[companiesToCheck.cstatCompanies.value_counts() > 1]

companiesToCheck[companiesToCheck.cstatCompanies.isin(duplicates)]

Empty DataFrame
Columns: [cstatCompanies, igCompanies]
Index: []

In [142]:
chqStillUnmatched = chqUnmatched[-chqUnmatched.company.isin(companiesToCheck.cstatCompanies)].reset_index(drop=True)
igStillUnmatched  = igUnmatched[-igUnmatched.company.isin(companiesToCheck.igCompanies)].reset_index(drop=True)

# companyMatches['cstatCompanies'] = chqUnmatched.company
print(chqUnmatched.shape, chqStillUnmatched.shape, companiesToCheck.shape)
print(igStillUnmatched.shape,igUnmatched.shape)

(1800, 8) (1200, 8) (600, 2)
(55892, 7) (56475, 7)

In [143]:
companiesToCheck.to_csv("../../data/companyData/companiesToCheck_cityZip.csv")

## Take 2
Match remaining ones on first word of name

In [144]:
chqUnmatched.company[0].split(' ')[0]

'avx'

Get the edit distance for the first words of the company names.

In [145]:
companyArrayCStat = []

start = time.time()
for company in chqStillUnmatched.company:
    thisCompany = []
    for ig in igStillUnmatched.company:
        thisCompany.append(levenshtein_distance(company.split(' ')[0],ig.split(' ')[0]))
    
    companyArrayCStat.append([thisCompany])

allLD = np.concatenate(companyArrayCStat)

And the cosine distance.

In [146]:
chqStillUnmatchedFirstCo = []
igStillUnmatchedFirstCo = []

for company in chqStillUnmatched.company:
    chqStillUnmatchedFirstCo.append(company.split(' ')[0])
    
for company in igStillUnmatched.company:
    igStillUnmatchedFirstCo.append(company.split(' ')[0])

In [147]:
chqUnmatchedList = list(map(nlp, chqStillUnmatchedFirstCo))
allCompaniesIG = list(map(nlp, igStillUnmatchedFirstCo))


cstat = getMatrix(chqUnmatchedList)
ig    = getMatrix(allCompaniesIG)

allSimilarities = cosine_similarity(cstat,ig)

allSimilarities.shape

# largestElementsCos = (-allSimilarities).argsort(axis=-1)[:, :n]
singleLargestCos   = (-allSimilarities).argsort(axis=-1)[:, :1]

In [148]:
igStillUnmatched.head()

,index,abi,company,state,city,zipcode,address_line_1
0,17,158329,caridian bct,co,lakewood,80401,14143 denver west pkwy # 200
1,20,211946,family brands,tn,lenoir city,37771,1001 elm hill rd
2,23,258574,jade,pa,huntingdon vly,19006,3063 philmont ave
3,24,262493,montana metal products,il,des plaines,60018,25 howard ave
4,43,455154,o i,tx,college station,77845,151 graham rd

In [ ]:
Let's try a slightly different tact:
- Find all n companies ith similar first names as

In [189]:
n = 10

largestElementsLV = (allLD).argsort(axis=-1)[:, :n]
largestElementsLV.shape

(1200, 10)

In [149]:
singleLargestLV   = (allLD).argsort(axis=-1)[:, :1]
# largestElementsLV = (allLD).argsort(axis=-1)[:, :n]


companyMatches2 = pd.DataFrame()
companyMatches2['cstatCompanies'] = chqStillUnmatched.company
companyMatches2['cstatadd1']      = chqStillUnmatched.cstatadd1
companyMatches2['cstatCity']      = chqStillUnmatched.cstatCity
companyMatches2['cstatState']     = chqStillUnmatched.cstatState
companyMatches2['cstatZip']       = chqStillUnmatched.cstatZipcode

for i in range(0,companyMatches2.shape[0]):
    # print(list(np.array(hq.company)[largestElements[i]]))
    companyMatches2.at[i,'misspelling']         = allLD[i,:][singleLargestLV[i]]
    companyMatches2.at[i,'levCompany']          = igStillUnmatched.company[singleLargestLV[i]].iloc[0]
    
    companyMatches2.at[i,'closestMatchIG_add']      = igStillUnmatched.address_line_1[singleLargestLV[i]].iloc[0]
    companyMatches2.at[i,'closestMatchIG_city']     = igStillUnmatched.city[singleLargestLV[i]].iloc[0]
    companyMatches2.at[i,'closestMatchIG_zipcode']  = igStillUnmatched.zipcode[singleLargestLV[i]].iloc[0]
    companyMatches2.at[i,'closestMatchIG_state']    = igStillUnmatched.state[singleLargestLV[i]].iloc[0]

    
    companyMatches2.at[i,'cosSimilarity']        = allSimilarities[i,:][singleLargestCos[i]]
    companyMatches2.at[i,'cosSimilarityCompany'] = igStillUnmatched.company[singleLargestCos[i]].iloc[0]
   
    companyMatches2.at[i,'costMatchIG_add']     = igStillUnmatched.address_line_1[singleLargestCos[i]].iloc[0]
    companyMatches2.at[i,'cosMatchIG_city']     = igStillUnmatched.city[singleLargestCos[i]].iloc[0]
    companyMatches2.at[i,'cosMatchIG_zipcode']  = igStillUnmatched.zipcode[singleLargestCos[i]].iloc[0]
    companyMatches2.at[i,'cosMatchIG_state']    = igStillUnmatched.state[singleLargestCos[i]].iloc[0]

In [150]:
companyMatches2.head()

,cstatCompanies,cstatadd1,cstatCity,cstatState,cstatZip,misspelling,levCompany,closestMatchIG_add,closestMatchIG_city,closestMatchIG_zipcode,closestMatchIG_state,cosSimilarity,cosSimilarityCompany,costMatchIG_add,cosMatchIG_city,cosMatchIG_zipcode,cosMatchIG_state
0,avx,one avx boulevard,fountain inn,sc,29644,1.0,apx,4931 n 300 w,provo,84604,ut,0.452242,protech home medical,1019 town dr,highland heights,41076,ky
1,spire alabama,605 richard arrington boulevard north,birmingham,al,35203,0.0,spire digital,940 n lincoln st # 3,denver,80203,co,1.000000,spire digital,940 n lincoln st # 3,denver,80203,co
2,alabama power,600 north 18th street,birmingham,al,35203,0.0,alabama state senate,11 s union st,montgomery,36130,al,1.000000,alabama state banking dept,401 adams ave # 680,montgomery,36104,al
3,tamir biothechnology,"51 jfk parkway, 1st floor west, suite 108",short hills,nj,07078,0.0,tamir biotechnology,11 deerpark dr # 204,monmouth jct,08852,nj,1.000000,tamir biotechnology,11 deerpark dr # 204,monmouth jct,08852,nj
4,petro usa,7325 oswego road,liverpool,ny,13090,0.0,petro energy,920 10th ave n,onalaska,54650,wi,1.000000,petro skills,2930 s yale ave,tulsa,74114,ok

Find if city or zip match here.

In [152]:
match2_cityZips = companyMatches2[(((companyMatches2.cstatCity == companyMatches2.closestMatchIG_city) | \
              (companyMatches2.cstatZip == companyMatches2.closestMatchIG_zipcode)) | \
              ((companyMatches2.cstatCity == companyMatches2.cosMatchIG_city) | \
              (companyMatches2.cstatZip == companyMatches2.cosMatchIG_zipcode)))].reset_index(drop=True)

In [198]:
match2_cityZips[50:100]

,cstatCompanies,cstatadd1,cstatCity,cstatState,cstatZip,misspelling,levCompany,closestMatchIG_add,closestMatchIG_city,closestMatchIG_zipcode,closestMatchIG_state,cosSimilarity,cosSimilarityCompany,costMatchIG_add,cosMatchIG_city,cosMatchIG_zipcode,cosMatchIG_state
50,aterian,"37 east 18th street, 7th floor",new york,ny,10003,0.0,aterian investment partners,11 e 44th st # 1803,new york,10017,ny,0.000000,caridian bct,14143 denver west pkwy # 200,lakewood,80401,co
51,stabilis solutions,"11750 katy freeway, suite 900",houston,tx,77079,0.0,stabilis energy,10375 richmond ave # 700,houston,77042,tx,0.000000,caridian bct,14143 denver west pkwy # 200,lakewood,80401,co
52,phathom pharma,"100 campus drive, suite 102",florham park,nj,07932,0.0,phathom pharmaceuticals,100 campus dr # 102,florham park,07932,nj,0.000000,caridian bct,14143 denver west pkwy # 200,lakewood,80401,co
53,brookfield renewable,"250 vesey street, 15th floor",new york,ny,10281,0.0,brookfield office properties,200 vesey st # 11,new york,10281,ny,1.000000,brookfield engineering lab,11 commerce blvd,middleboro,02346,ma
54,pactiv evergreen,1900 west field court,lake forest,il,60045,0.0,pactiv,1900 w field ct,lake forest,60045,il,0.000000,caridian bct,14143 denver west pkwy # 200,lakewood,80401,co
55,aarons (the),"400 galleria parkway se, suite 300",atlanta,ga,30339,1.0,aaron's,400 galleria pkwy se # 300,atlanta,30339,ga,0.478533,garys,923 newport center dr,newport beach,92660,ca
56,petco health & wellness,10850 via frontera,san diego,ca,92127,0.0,petco animal supplies,10850 via frontera,san diego,92127,ca,1.000000,petco animal supplies,10850 via frontera,san diego,92127,ca
57,latham,787 watervliet shaker road,latham,ny,12110,0.0,latham & watkins llp,355 s grand ave # 100,los angeles,90071,ca,1.000000,latham plastics,787 watervliet shaker rd,latham,12110,ny
58,torrid,18501 east san jose avenue,city of industry,ca,91748,2.0,morris,15125 proctor ave,city of industry,91746,ca,0.605563,sizzling wok,999 s washington st,north attleboro,02760,ma
59,warby parker,"233 spring street, 6 th floor east",new york,ny,10013,1.0,darby & darby,7 world trade ctr,new york,10007,ny,0.413500,hardison &chran,7340 six forks rd # 220,raleigh,27615,nc
60,fluence energy,"4601 fairfax drive, suite 600",arlington,va,22203,0.0,fluence,4601 fairfax dr # 600,arlington,22203,va,1.000000,fluence,10 bank st # 830,white plains,10606,ny
61,diamond offshre drilling,"15415 katy freeway, suite 100",houston,tx,77094,0.0,diamond oil well drilling,2003 commerce dr,midland,79703,tx,1.000000,diamond mccarthy llp,909 fannin st # 3700,houston,77010,tx
62,hibbett,2700 milan court,birmingham,al,35211,0.0,hibbett sports,2700 milan ct,birmingham,35211,al,0.000000,caridian bct,14143 denver west pkwy # 200,lakewood,80401,co
63,oklahoma gas & electric,"321 north harvey, p.o. box 321",oklahoma city,ok,73101,0.0,oklahoma state university libr,216 edmond low library,stillwater,74078,ok,1.000000,oklahoma horse racingmmn,2800 n lincoln blvd # 220,oklahoma city,73105,ok
64,circor,"30 corporate drive, suite 200",burlington,ma,01803,0.0,circor international,30 corporate dr # 200,burlington,01803,ma,0.000000,caridian bct,14143 denver west pkwy # 200,lakewood,80401,co
65,nevadapper,"100 west liberty street, suite 765",reno,nv,89501,4.0,nevada canyon gold,316 california ave # 543,reno,89509,nv,0.000000,caridian bct,14143 denver west pkwy # 200,lakewood,80401,co
66,capstone green energy,16640 stagg street,van nuys,ca,91406,0.0,capstone financial,8600 transit rd # 200,east amherst,14051,ny,1.000000,capstone turbine,16640 stagg st,van nuys,91406,ca
67,baltimore gas & electric,"2 center plaza, 110 west fayette street",baltimore,md,21201,0.0,baltimore orioles,333 w camden st # 1,baltimore,21201,md,1.000000,baltimore life insurance,10075 red run blvd # 175,owings mills,21117,md
68,idaho power,1221 west idaho street,boise,id,83702,0.0,idaho asphalt supply,2535 n 15th e,idaho falls,83401,id,1.000000,idaho department of trnsprtn,3311 w state st,boise,83703,id
69,nevada power,6226 west sahara avenue,las vegas,nv,89146,0.0,nevada department of veterans,5460 reno corporate dr # 131,reno,89511,nv,1.000000,nevada general insurance,5685 spring mountain rd,las vegas,89146,nv
70,rochester gas & electrc,89 east avenue,rochester,ny,14649,0.0,rochester armored car,3937 leavenworth st,omaha,68105,ne,1.000000,rochester truck,8 flagg rd,rochester,03839,nh
71,washington gas light,"1000 maine avenue, sw",washington,dc,20024,0.0,washington airmprsr rental,12529 parklawn dr,rockville,20852,md,1.000000,washington real est invstmnt,1775 i st nw # 1000,washington,20006,dc
72,alcon- old,6201 south freeway,fort worth,tx,76134,1.0,alcon laboratories,6201 south fwy,fort worth,76134,tx,0.000000,caridian bct,14143 denver west pkwy # 200,lakewood,80401,co
73,appleton papers,"825 east wisconsin avenue, po box 359",appleton,wi,54912,0.0,appleton municipal hospital,30 s behl st,appleton,56208,mn,1.000000,appleton municipal hospital,30 s behl st,appleton,56208,mn
74,neenah foundry,2121 brooks avenue,neenah,wi,54956,2.0,leemah electronics,155 s hill dr,brisbane,94005,ca,0.688574,menasha,1645 bergstrom rd,neenah,54956,wi
75,madison gas & electric,623 railroad street,madison,wi,53703,0.0,madison industries,444 w lake st # 4400,chicago,60606,il,1.000000,madison services,2068 main st,madison,39110,ms
76,auxilium pharma,640 lee road,chesterbrook,pa,19087,0.0,auxilium pharmaceuticals,640 lee rd,chesterbrook,19087,pa,0.000000,caridian bct,14143 denver west pkwy # 200,lakewood,80401,co
77,boise cascade,"1111 west jefferson street, suite 300",boise,id,83702,0.0,boise public library,715 s capitol blvd,boise,83702,id,1.000000,boise public works div,502 n 4th st,boise,83702,id
78,usampression s,"100 congress avenue, suite 450",austin,tx,78701,0.0,usampression partners,111 congress ave # 2400,austin,78701,tx,0.000000,caridian bct,14143 denver west pkwy # 200,lakewood,80401,co
79,radius health,"22 boston wharf road, 7th floor",boston,ma,02210,0.0,radius bancorp,1 harbor st # 201,boston,02210,ma,1.000000,radius global solutions,50 w skippack pike,ambler,19002,pa
80,domtar,234 kingsley park drive,fort mill,sc,29715,0.0,domtar paper,100 kingsley park dr,fort mill,29715,sc,0.000000,caridian bct,14143 denver west pkwy # 200,lakewood,80401,co
81,cavium,2315 north first street,san jose,ca,95131,0.0,cavium networks,2315 n 1st st,san jose,95131,ca,0.000000,caridian bct,14143 denver west pkwy # 200,lakewood,80401,co
82,aytu biopharma,"373 inverness parkway, suite 206",englewood,co,80112,0.0,aytu bioscience,373 inverness pkwy # 206,englewood,80112,co,0.000000,caridian bct,14143 denver west pkwy # 200,lakewood,80401,co
83,oiltanking partners,"333 clay street, suite 2400",houston,tx,77002,0.0,oiltanking americas,9805 katy fwy # 400,houston,77024,tx,0.000000,caridian bct,14143 denver west pkwy # 200,lakewood,80401,co
84,dynacast international,"14045 ballantyne corporate place, suite 400",charlotte,nc,28277,0.0,dynacast,14045 ballantyne corporat #400,charlotte,28277,nc,0.000000,caridian bct,14143 denver west pkwy # 200,lakewood,80401,co
85,ensync,"n88 w13901 main street, suite 200",menomonee falls,wi,53051,0.0,ensync energy systems,n88w13901 main st # 200,menomonee falls,53051,wi,0.000000,caridian bct,14143 denver west pkwy # 200,lakewood,80401,co
86,renesola,"850 canal street, 3rd floor",stamford,ct,06902,0.0,renesola us,850 canal st # 4,stamford,06902,ct,0.000000,caridian bct,14143 denver west pkwy # 200,lakewood,80401,co
87,ocz technology,6373 san ignacio avenue,san jose,ca,95119,0.0,ocz storage solutions,6373 san ignacio ave,san jose,95119,ca,1.000000,ocz storage solutions,6373 san ignacio ave,san jose,95119,ca

In [154]:
match2_cityZips.shape

(88, 17)

In [155]:
match2_cityZips.to_csv("../../data/companyData/match2_cityZips.csv")

## Take 3
Try the addresses here.

Let's try something similar:
- Find top 10 most similar addresses by cos sim
- Find top 10 most similar addresses by LD
- Find unique union of these two
- Record LD and cos sim for each
- Filter for totally dissimilar ones
- ``Explode'' the dataset so we have cstat company, address
- Find first word LD and cos sim
- Find total LD and cos sim

In [199]:
n = 10

In [200]:
chqStillUnmatched['cstatadd1']     = chqStillUnmatched.cstatadd1.astype(str)
igStillUnmatched['address_line_1'] = igStillUnmatched.address_line_1.astype(str)

In [201]:
addressArrayCStat = []

start = time.time()
for address in chqStillUnmatched.cstatadd1:
    thisAddress = []
    for ig in igStillUnmatched.address_line_1:
        thisAddress.append(levenshtein_distance(str(address),str(ig)))
    
    addressArrayCStat.append([thisAddress])

allLD = np.concatenate(addressArrayCStat)

singleLargestLV   = (allLD).argsort(axis=-1)[:, :1]
largestElementsLV = (allLD).argsort(axis=-1)[:, :n]

In [202]:
chqUnmatchedList = list(map(nlp, chqStillUnmatched['cstatadd1']))
allCompaniesIG   = list(map(nlp, igStillUnmatched['address_line_1']))


cstat = getMatrix(chqUnmatchedList)
ig    = getMatrix(allCompaniesIG)

allSimilarities = cosine_similarity(cstat,ig)

allSimilarities.shape

singleLargestCos   = (-allSimilarities).argsort(axis=-1)[:, :1]
largestElementsCos = (-allSimilarities).argsort(axis=-1)[:, :n]

In [256]:
companyMatches3 = pd.DataFrame()
companyMatches3['cstatCompanies'] = chqStillUnmatched.company

Let's grab the set of the 10 closest addresses by LD and cos.

In [257]:
companyMatches3.head()

         cstatCompanies
0                   avx
1         spire alabama
2         alabama power
3  tamir biothechnology
4             petro usa

Find the unique values in here.

In [275]:
for i in range(0,companyMatches3.shape[0]):
    
    # find all the closest LV and cos addresses and put them in a 
    companyMatches3.at[i,'closestAdds_indices']  = set(largestElementsLV[i]).union(set(largestElementsCos[i]))

And explode it so one index per line.

In [276]:
companyMatches3_indices = companyMatches3.explode('closestAdds_indices').reset_index(drop=True)

Now get the companies, the cosine similarities, and the levenshtein distances.

In [271]:
companyMatches3_indices.closestAdds_indices

  cstatCompanies closestAdds_indices
0            avx               28865
1            avx               55494
2            avx               16393
3            avx               27856
4            avx               38490

Get the embeddings for the cosine similarity.

In [287]:
for i in range(0,companyMatches3_indices.shape[0]):
    companyMatches3_indices.at[i,'igCompanies']  = igStillUnmatched.company[companyMatches3_indices.closestAdds_indices[i]] # .iloc[0]

    companyMatches3_indices.at[i,'lv']           = levenshtein_distance(companyMatches3_indices.cstatCompanies[i],companyMatches3_indices.igCompanies[i])
    companyMatches3_indices.at[i,'percMisspelled']       = companyMatches3_indices.lv[i]/len(companyMatches3_indices.cstatCompanies[i])

    # companyMatches3.at[i,'add_percMisspelled'] = companyMatches2.add_misspelling[i]/len(companyMatches2['cstatadd1'][i])

Get the company embeddings here.

In [290]:
cMatches  = companyMatches3_indices[['cstatCompanies']].drop_duplicates()
igMatches = companyMatches3_indices[['igCompanies']].drop_duplicates()

In [301]:
def getVector(text):
    embedding = nlp(text)
    
    return(embedding.vector)

In [303]:
cStatEmbeddings = list(map(getVector, cMatches.cstatCompanies))
igEmbeddings    = list(map(getVector, igMatches.igCompanies))

In [304]:
igMatches['igEmbedding']       = igEmbeddings
cMatches['cstatEmbedding']     = cStatEmbeddings

In [309]:
companyMatches3_indices = companyMatches3_indices.merge(igMatches).merge(cMatches)

In [311]:
companyMatches3_indices.shape

(22277, 7)

Loop through and get the cosine similarity.

In [313]:
for i in range(0,companyMatches3_indices.shape[0]):
    companyMatches3_indices.at[i,'cosSim']  = cosine_similarity([companyMatches3_indices.igEmbedding[i]],
                                                                [companyMatches3_indices.cstatEmbedding[i]])

In [350]:
filtered = companyMatches3_indices[((companyMatches3_indices.percMisspelled < 0.4) | \
                        (companyMatches3_indices.cosSim > 0.7))]

In [351]:
filtered[['cstatCompanies','igCompanies','percMisspelled','cosSim']].to_csv("../../data/companyData/companyMatches3_indices.csv")

In [352]:
filtered.head()

,cstatCompanies,closestAdds_indices,igCompanies,lv,percMisspelled,igEmbedding,cstatEmbedding,cosSim
410,safestitch medical,44186,opko health,16.0,0.888889,"[-0.164405, 0.10554, 0.021776, 0.069895, -0.26...","[-0.10295, -0.06815, 0.017488, 0.149165, -0.06...",0.708606
1266,advanced envir recycl,3209,advanced environmental rcyclng,11.0,0.500000,"[-0.20946334, 0.0027800004, 0.07977566, 0.0587...","[-0.104956664, -0.012522667, 0.095026664, 0.04...",0.790612
1538,synthorx,32645,synterra,3.0,0.375000,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.000000
2270,golden state water,11145,golden state bank,4.0,0.222222,"[-0.076966666, 0.10898667, 0.33576334, -0.1391...","[0.11373501, 0.075163335, 0.47196665, -0.20447...",0.827425
3121,atlantic city electric,26711,fuji electric of america,18.0,0.818182,"[0.0013964921, 0.16315, 0.182865, -0.4701525, ...","[0.37305912, 0.04321533, 0.33236334, -0.473356...",0.739828

In [ ]:
Below 0.6 threshold: 
    northern tech
nac global technologies 
rvl pharmaceuticals
capstone green energy
american res
intl flavors & fragrances
pope resources/de 
sanfilippo john b&son
reneo pharma

757

In [355]:
(chqUnmatched.shape[0] - (filtered.shape[0] + match2_cityZips.shape[0] + companiesToCheck.shape[0]))/chq.shape[0]

0.20414954002740263