In [1]:
import pickle
import pandas as pd
import matplotlib
import os
import re

import collections
import datetime
import time

import geopandas as gpd

import numpy as np

import rasterio

from difflib import get_close_matches

from fuzzywuzzy import process
from fuzzywuzzy import fuzz

import dask.dataframe as dd

/Users/brianreed/opt/anaconda3/lib/python3.7/site-packages/dask/dataframe/utils.py:14: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

# Sample

In [2]:
def getData(weatherType,yearRange1,yearRange2):

    if weatherType == "Tmax":
        weatherVar = "temperature"
    else: 
        weatherVar = "precipitation"
    
    year = yearRange1
    filename = "../../../../../../../Volumes/backup2/dissData/prism/zipcode" + weatherType + str(year) + ".csv"
    data = dd.read_csv(filename, assume_missing=True)[['ZIP','date',weatherVar]]
    # data = data[~(data[weatherVar].isna().compute())]

    years = range(yearRange1 + 1,yearRange2 + 1)
    for year in years:
        filename = "../../../../../../../Volumes/backup2/dissData/prism/zipcode" + weatherType + str(year) + ".csv"
        tempData = dd.read_csv(filename, assume_missing=True)[['ZIP','date',weatherVar]]
        # tempData = tempData[~(tempData[weatherVar].isna().compute())]
        data = data.append(tempData)

    data = data[~(data[weatherVar].isna())].compute()
    
    return(data)

In [65]:
numberQuants    = 20

quantiles       = np.arange(0.0, 1.05, 1/numberQuants)

quant_labels   = ['quant_' + str(n)[0:4] for n in quantiles]

print(quant_labels)

['quant_0.0', 'quant_0.05', 'quant_0.1', 'quant_0.15', 'quant_0.2', 'quant_0.25', 'quant_0.30', 'quant_0.35', 'quant_0.4', 'quant_0.45', 'quant_0.5', 'quant_0.55', 'quant_0.60', 'quant_0.65', 'quant_0.70', 'quant_0.75', 'quant_0.8', 'quant_0.85', 'quant_0.9', 'quant_0.95', 'quant_1.0']

In [66]:
len(quantiles)

21

## Precipitation

In [ ]:
start = time.time()
weatherType = "Precip" # Tmax
data = getData(weatherType,1981,2019)

precipQuants2 = data.precipitation.quantile(q = quantiles).compute()

print(time.time() - start)

In [ ]:
precipQuants

## Temperature

In [4]:
start = time.time()
weatherType = "Tmax"
data = getData(weatherType, 1981, 1982)

tmaxQuants = data.temperature.quantile(q = quantiles).compute()

print(time.time() - start)

AttributeError: 'Series' object has no attribute 'compute'

In [68]:
tmaxQuants = data.temperature.quantile(q = quantiles)

'''quantiles       = np.arange(0.0, 1.0, 1/numberQuants)

quant_labels   = ['quant_' + str(n)[0:4] for n in quantiles]

print(quant_labels)'''

"quantiles       = np.arange(0.0, 1.0, 1/numberQuants)\n\nquant_labels   = ['quant_' + str(n)[0:4] for n in quantiles]\n\nprint(quant_labels)"

In [69]:
print(tmaxQuants)

0.00   -31.191000
0.05    -2.358000
0.10     1.756000
0.15     4.656000
0.20     7.496000
0.25    10.128000
0.30    12.459000
0.35    14.553000
0.40    16.443001
0.45    18.141001
0.50    19.778000
0.55    21.350000
0.60    22.841999
0.65    24.275000
0.70    25.673000
0.75    26.955999
0.80    28.231001
0.85    29.552000
0.90    31.174999
0.95    33.216999
1.00    49.234001
Name: temperature, dtype: float64

In [70]:
data.temperature.quantile(0.05)

-2.35800004005432

## Now go through the data from 2010 - 2019 and find time spent in each bin

In [44]:
list(tmaxQuants)

[-31.1909999847412,
 -2.65300011634827,
 1.46300005912781,
 4.24200010299683,
 6.98000001907349,
 9.51700019836426,
 11.8280000686646,
 13.8809995651245,
 15.7519998550415,
 17.4360008239746,
 19.0030002593994,
 20.548999786377,
 21.992000579834,
 23.3929996490479,
 24.75,
 26.0480003356934,
 27.253999710083,
 28.4769992828369,
 29.7600002288818,
 31.3500003814697,
 33.3370018005371]

In [9]:
start = time.time()
recentDecadeTemps = getData("Tmax",2010,2011)
print(time.time() - start)

recentDecadeTemps.head()

59.81600832939148

        ZIP        date  temperature
142  1001.0  20100101.0       -0.760
143  1002.0  20100101.0       -2.157
144  1003.0  20100101.0       -1.203
145  1005.0  20100101.0       -2.705
146  1007.0  20100101.0       -1.634

In [49]:
quant_labels

['quant_0.0',
 'quant_0.04',
 'quant_0.09',
 'quant_0.14',
 'quant_0.19',
 'quant_0.23',
 'quant_0.28',
 'quant_0.33',
 'quant_0.38',
 'quant_0.42',
 'quant_0.47',
 'quant_0.52',
 'quant_0.57',
 'quant_0.61',
 'quant_0.66',
 'quant_0.71',
 'quant_0.76',
 'quant_0.80',
 'quant_0.85',
 'quant_0.90',
 'quant_0.95']

In [72]:
def findQuarterlyQuants(weatherType, quartileList, df):
    
    weatherCut = weatherType + "Cut"
    weatherCutLabels = weatherCut + 'labels'
    
    df[weatherCutLabels] = pd.Series(pd.cut(df[weatherType],
                                      bins = list(quartileList),
                                     labels = quant_labels[1:]))
    
    df[weatherCut] = pd.Series(pd.cut(df[weatherType],
                                      bins = list(quartileList)))
    
    df['month'] = df.date.astype(str).str.slice(4,6)

    df['quarter'] = 'q1'

    df.loc[df['month'].isin(['04','05','06']), 'quarter'] = 'q2'
    df.loc[df['month'].isin(['07','08','09']), 'quarter'] = 'q3'
    df.loc[df['month'].isin(['10','11','12']), 'quarter'] = 'q4'

    df['yearQuarter'] = df.date.astype(str).str.slice(0,4) + df.quarter

    occurrences = weatherType + "Occurences" 

    '''summaryDF = df.groupby(['ZIP','yearQuarter',weatherCutLabels]).size().reset_index()
    summaryDF.columns = ['zip','yearQuarter',weatherCutLabels,occurrences]'''
    
    summaryDF = df.groupby(['ZIP','yearQuarter',weatherCut]).size().reset_index()
    summaryDF.columns = ['zip','yearQuarter',weatherCut,occurrences]
    
    return(summaryDF)

In [71]:
test = findQuarterlyQuants(weatherType = 'temperature', quartileList = tmaxQuants, df = recentDecadeTemps)
test[0:25]

       zip yearQuarter temperatureCutlabels  temperatureOccurences
0   1001.0      2010q1           quant_0.05                      7
1   1001.0      2010q1            quant_0.1                     20
2   1001.0      2010q1           quant_0.15                     22
3   1001.0      2010q1            quant_0.2                     11
4   1001.0      2010q1           quant_0.25                     11
5   1001.0      2010q1           quant_0.30                      5
6   1001.0      2010q1           quant_0.35                      6
7   1001.0      2010q1            quant_0.4                      2
8   1001.0      2010q1           quant_0.45                      1
9   1001.0      2010q1            quant_0.5                      1
10  1001.0      2010q1           quant_0.55                      2
11  1001.0      2010q1           quant_0.60                      2
12  1001.0      2010q1           quant_0.65                      0
13  1001.0      2010q1           quant_0.70                      0
14  1001.0      2010q1           quant_0.75                      0
15  1001.0      2010q1            quant_0.8                      0
16  1001.0      2010q1           quant_0.85                      0
17  1001.0      2010q1            quant_0.9                      0
18  1001.0      2010q1           quant_0.95                      0
19  1001.0      2010q1            quant_1.0                      0
20  1001.0      2010q2           quant_0.05                      0
21  1001.0      2010q2            quant_0.1                      0
22  1001.0      2010q2           quant_0.15                      0
23  1001.0      2010q2            quant_0.2                      0
24  1001.0      2010q2           quant_0.25                      2

In [73]:
test = findQuarterlyQuants(weatherType = 'temperature', quartileList = tmaxQuants, df = recentDecadeTemps)
test[0:20]

       zip yearQuarter     temperatureCut  temperatureOccurences
0   1001.0      2010q1  (-31.191, -2.358]                      7
1   1001.0      2010q1    (-2.358, 1.756]                     20
2   1001.0      2010q1     (1.756, 4.656]                     22
3   1001.0      2010q1     (4.656, 7.496]                     11
4   1001.0      2010q1    (7.496, 10.128]                     11
5   1001.0      2010q1   (10.128, 12.459]                      5
6   1001.0      2010q1   (12.459, 14.553]                      6
7   1001.0      2010q1   (14.553, 16.443]                      2
8   1001.0      2010q1   (16.443, 18.141]                      1
9   1001.0      2010q1   (18.141, 19.778]                      1
10  1001.0      2010q1    (19.778, 21.35]                      2
11  1001.0      2010q1    (21.35, 22.842]                      2
12  1001.0      2010q1   (22.842, 24.275]                      0
13  1001.0      2010q1   (24.275, 25.673]                      0
14  1001.0      2010q1   (25.673, 26.956]                      0
15  1001.0      2010q1   (26.956, 28.231]                      0
16  1001.0      2010q1   (28.231, 29.552]                      0
17  1001.0      2010q1   (29.552, 31.175]                      0
18  1001.0      2010q1   (31.175, 33.217]                      0
19  1001.0      2010q1   (33.217, 49.234]                      0

In [ ]:
summaryDF.tempCut.value_counts()

In [ ]:
summaryDF.to_csv("../../../../../../../Volumes/backup2/dissData/prism/test.csv")